%ul.team-list
  -@teams.each do |item|
    %li= link_to item.name, team_path(item.url), :target => "_blank"
%br/
%br/
-content_for :head_title do
  %h1
    = "#{tournament_title}:"
    = "Список команд"
    .clear
