-#.schedule-page-header
-#  .schedule-page-wrap
-#    = link_to image_tag("buttons/prev.png"), "#", {:class => "prev", :style => "float:left;"}
-#    %h2 Команды
-#    = link_to image_tag("buttons/next.png"), "#", {:class => "next", :style => "float:left;"}
-#    .clear
-#.wrap-container
-#  .schedule-content-wrap
-#- content_for :top_submenu do
-#  = "tournament"
-#:javascript
-#  $(function() {
-#    App.initialize();
-#  });


%h2.tournament-subtitle Список команд
- unless @teams_by_groups.empty?
  - @teams_by_groups.each do |group|
    %table.tournament-position{:style => "width: 200px;margin-right: 20px;"}
      %tr
        %th{:colspan => 3}= group[:league_name]
      - group[:teams].each_with_index do |team, index|
        %tr.odd
          %td
            = index+1
          %td
            = link_to team.name, team_path(team.url)
- content_for :top_submenu do
  = "tournament"