<div id="profile-photo-block">
  <div class="avatar">
    <% unless @profile.profile_avatar.nil? %>
      <%= image_tag "/user/#{@profile.profile_avatar.filename}" %>
    <% else %>
      <%= image_tag "/images/user_anonymous_green.gif" %>
    <% end %>
  </div>
  <% if edit %>
    <% unless @profile.profile_avatar.nil? %>
      <%= link_to "Редактировать", edit_user_profile_avatar_path(@user) %>
    <% else %>
      <%= link_to "Добавить", new_user_profile_avatar_path(@user) %>
    <% end %>
  <% end %>
</div>