- if params[:controller] == 'profiles' && ['edit', 'edit_photo'].include?(params[:action])
  %ul#tabnav
    %li
      = link_to("Редактировать фото", edit_photo_profile_path, {:id => "photo-edit", :class => params[:action]=='edit_photo' ? "current" : "" })
    %li
      = link_to("Редактировать профиль", edit_profile_path, {:id => "profile-edit", :class => params[:action]=='edit' ? "current" : ""})
