.bundle
db/*.sqlite3
log/*.log
tmp/
*.tmp
*.DS_Store

#database scheme
db/schema.rb

#rubymine project files
.idea/*

#database config file
config/database.yml

#doc files
doc/*

#user files
public/user

public/source/
public/system/
public/ckeditor_assets/
public/footballers/
public/user_connect_footballer_requests/
.sass-cache/
nohup.out

# Ignore application configuration
/config/application.yml
/db/*.sql