#demo-status
{
/*
	background-color:		#F9F7ED;
*/
	padding:				10px 15px;
	width:					420px;
}
 
#demo-status a {
  font-weight: bold;
  padding: 0 5px 0 5px;
  border-left: 1px solid #000;
} 
 
#demo-status .progress
{
	background:				white url(../../../images/FancyUpload/progress.gif) no-repeat;
	background-position:	+50% 0;
	margin-right:			0.5em;
}
 
#demo-status .progress-text
{
	font-size:				0.9em;
	font-weight:			bold;
}
 
#demo-list
{
	list-style:				none;
	width:					550px;
	margin:					0;
  clear: both;
}
 
#demo-list li.file
{
	border-bottom:			1px solid #eee;
	background:				url(../../../images/FancyUpload/file.png) no-repeat 4px 4px;
}
#demo-list li.file.file-uploading
{
	background-image:		url(../../../images/ajax-loader.gif);
	background-color:		#D9DDE9;
}
#demo-list li.file.file-success
{
	background-image:		url(../../../images/FancyUpload/success.png);
}
#demo-list li.file.file-failed
{
	background-image:		url(../../../images/FancyUpload/failed.png);
}
 
#demo-list li.file .file-name
{
	font-size:				1.2em;
	margin-left:			44px;
	display:				block;
	clear:					left;
	line-height:			40px;
	height:					40px;
	font-weight:			bold;
}
#demo-list li.file .file-size
{
	font-size:				0.9em;
	line-height:			18px;
	float:					right;
	margin-top:				2px;
	margin-right:			6px;
}
#demo-list li.file .file-info
{
	display:				block;
	margin-left:			44px;
	font-size:				0.9em;
	line-height:			20px;
	clear:both;
}
#demo-list li.file .file-remove
{
	clear:					right;
	float:					right;
	line-height:			18px;
	margin-right:			6px;
}
#demo-status p {
  padding: 0 5px 10px 0px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 5px;
}
a#demo-browse, a#browse {
  padding-left: 0;
  border-left: 0;
}
table#upload-container {
  border-collapse: collapse;
}
table#upload-container th {
  text-align: left;
  border: 1px solid #dedede;
  padding: 5px; 
}
table#upload-container td {
  border: 1px solid #dedede;
  border-top: 0px;
  padding: 10px;
}