%h2.tournament-subtitle IT Прогноз
#it-forecast-container
  %div{:style => "width: 270px;float:left;border: 1px solid #EEEEEE; margin-right: 10px;margin-bottom: 10px;"}
    <script type="text/javascript" language="javascript" charset="utf-8" src="http://zfortfootball.com.ua/zfort-itleague-widget/getjs/widget"></script>
  %h5 Правила турнира
  %p
    В данный момент на сайте проводится турнир прогнозистов айти-лиги V.
  %br/
  %p
    %strong Правила проведения:
    %br/
    %ol
      %li В турнире прогнозистов может принять участие любой пользователь сайта <a href="http://football.kharkov.ua">Football.kharkov.ua</a>. По ходу турнира присоединяться тоже можно.
      %li Для участия в турнире достаточно воспользоваться виджетом, который вы видите слева на странице. Потребуется регистрация, которая осуществляется с помощью самого виджета.
      %li За несколько дней до начала очередного в указанном виджете тура будет появляться список предстоящих матчей, в котором и надо осталять свой прогноз.
      %li
        В 00 часов 00 минут дня проведения матчей
        %s виджет превращается в тыкву
        прогнозы перестают приниматься.
      %li За угаданный счёт начисляется 3 очка, разницу мячей - 2 очка, исход - 1 очко.
      %li При равенстве очков учитывается средний балл, а также общая сумма (счёт + разница + результат) по угаданным матчам.
  %p
    Турнир проводится компанией <a href="http://zfort.com.ua/" target="_blank">Zfort Group</a> в лице Дениса Братчука.
  %br/
  %h5 История турнира

  %p
    Турнир уходит корнями во второй сезон IT-Лиги: IT-Лига 10. С тех пор правила не изменились, за исключением перемещения прогнозов в виджет.
  %p
    В дебютном розыгрыше турнира приняло участие более сорока человек, а <a href="http://football.kharkov.ua/2010/06/05/it-prognoz-10-rezultatyi-vtorogo-dnya-finalnyih-igr">победители получили памятные призы</a> сразу после окончания финального матча:
  %p
    %strong 3 место - Губанов Евгений (Intetics).
    К сожалению, Евгений не смог присутствовать на награждении, но свою грамоту, а также памятный сувенир (мяч для мини-мини-футбола, в котором также можно хранить диски с записями матчей любимой команды) он может и просто обязан забрать у организаторов турнира.
  %p
    %strong 2 место - Максим Шаев (Zfort Group).
    Максим также получил именную грамоту, а также необходимый для начинающего тренера футбольной команды симулятор FIFA Manager 10.
  %p
    %strong 1 место - Михаил Поплавский (Echostar).
    Михаил слишком бурно праздновал победу в турнире прогнозистов, так что на церемонию награждения его принесли товарищи по команде. Тем не менее, наш победитель получил главный приз турнира прогнозистов - футбольный набор для скайпа (веб-футбол-камера, наушники с микрофоном, сменная форма и даже номера на спину).
- content_for :top_submenu do
  = "tournament"