%h2.tournament-subtitle IT Прогноз
#it-forecast-container
  %div{:style => "width: 270px;float:left;border: 1px solid #EEEEEE; margin-right: 10px;margin-bottom: 10px;"}
    <script type="text/javascript" language="javascript" charset="utf-8" src="http://zfortfootball.com.ua/zfort-itleague-widget/getjs/widget"></script>
  %h5 Правила турнира
  %br/
  %p
    %strong Правила проведения:
    %br/
    %ol
      %li В турнире прогнозистов может принять участие любой пользователь сайта <a href="http://football.kharkov.ua">Football.kharkov.ua</a>. По ходу турнира присоединяться тоже можно.
      %li Для участия в турнире достаточно воспользоваться виджетом, который вы видите слева на странице. Потребуется регистрация, которая осуществляется с помощью самого виджета.
      %li За несколько дней до начала очередного в указанном виджете тура будет появляться список предстоящих матчей, в котором и надо осталять свой прогноз.
      %li
        В 00 часов 00 минут дня проведения матчей
        %s виджет превращается в тыкву
        прогнозы перестают приниматься.
      %li За угаданный счёт начисляется 3 очка, разницу мячей - 2 очка, исход - 1 очко.
      %li При равенстве очков учитывается средний балл, а также общая сумма (счёт + разница + результат) по угаданным матчам.
  %p
    Турнир проводится компанией <a href="http://zfort.com.ua/" target="_blank">Zfort Group</a> в лице Дениса Братчука.
  %br/
  %h5 История турнира

  %p
    Турнир уходит корнями во второй сезон IT-Лиги: IT-Лига 10. С тех пор правила не изменились, за исключением перемещения прогнозов в виджет.
- content_for :top_submenu do
  = "tournament"