= admin_title @tournament.name + ': Матчи'

- selection 'Сезоны', :seasons, :on => @tournament, :root => true do |seasons|
  - selection 'Этапы', :stages, :on => seasons do |stages|
    - selection 'Лиги', :leagues, :on => stages do |leagues|
      - selection 'Туры', :tours, :on => leagues, :click => lambda{ |t| show_matches(t) }

#matches_grid

:javascript
  selected_id = false;
  selectionHandler = function(id) {
    if(selected_id && selected_id == id) {
      window.location = '#{edit_admin_match_path(0)}'.replace(/(0)/, id);
    } else {
      selected_id = id;
    }
  }
