/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2011.03@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, .fancy-button-base, .fancy-score, .fancy-button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1300544650') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2011.03@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, .fancy-button-base::-moz-focus-inner, .fancy-score::-moz-focus-inner, .fancy-button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2011.03@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, .fancy-button-base:focus, .fancy-score:focus, .fancy-button:focus {
  outline: none;
}

/* line 12, ../../app/stylesheets/buttons.sass */
.fancy-button-base, .fancy-score, .fancy-button {
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #444444;
  border-color: #303030;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

/* line 18, ../../app/stylesheets/buttons.sass */
.fancy-score {
  font-size: 14px;
  line-height: 15px;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #d5d5d5;
  border-color: #c1c1c1;
  padding: 1px 2px;
  border-width: 1px;
  opacity: 0.7;
  width: 15px;
  cursor: default !important;
  float: left;
}

/* line 27, ../../app/stylesheets/buttons.sass */
.fancy-score-winner {
  background-color: #51a829;
  border-color: #418721;
}

/* line 30, ../../app/stylesheets/buttons.sass */
.fancy-score-loser {
  background-color: #fc533b;
  border-color: #fb3013;
}

/* line 33, ../../app/stylesheets/buttons.sass */
.fancy-score-equal {
  background-color: #6eaae5;
  border-color: #4c96de;
}

/* line 36, ../../app/stylesheets/buttons.sass */
.fancy-score-right {
  margin-left: 2px;
}

/* line 39, ../../app/stylesheets/buttons.sass */
.fancy-button {
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  vertical-align: top;
}

/* line 44, ../../app/stylesheets/buttons.sass */
.login {
  font-size: 13px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
}

/* line 47, ../../app/stylesheets/buttons.sass */
.score-light {
  padding: 2px 5px;
  border-width: 1px;
  background-color: #d5d5d5;
  border-color: #c1c1c1;
}
/* line 124, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2011.03@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light, .score-light:visited {
  color: #be420e;
}
/* line 126, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2011.03@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light:hover, .score-light:focus {
  color: #fea22c;
}
/* line 128, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2011.03@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light:active {
  color: #dddddd;
}
