/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, .fancy-button-base, .fancy-score, .fancy-button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1285610919') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, .fancy-button-base::-moz-focus-inner, .fancy-score::-moz-focus-inner, .fancy-button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, .fancy-button-base:focus, .fancy-score:focus, .fancy-button:focus {
  outline: none;
}

/* line 12, ../../app/stylesheets/buttons.sass */
.fancy-button-base, .fancy-score, .fancy-button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3c3c3c), color-stop(50%, #353535), color-stop(100%, #4e4e4e));
  background-image: -moz-linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  background-image: linear-gradient(top, #989898 0%, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e 100%);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.267) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-base, .fancy-score, .fancy-button, .fancy-button-base:visited, .fancy-score:visited, .fancy-button:visited {
  color: white;
}
/* line 31, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-base:hover, .fancy-score:hover, .fancy-button:hover, .fancy-button-base:focus, .fancy-score:focus, .fancy-button:focus {
  background-color: #3c3c3c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #919191), color-stop(10%, #636363), color-stop(50%, #353535), color-stop(50%, #2d2d2d), color-stop(100%, #474747));
  background-image: -moz-linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  background-image: linear-gradient(top, #919191 0%, #636363 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  border-color: #161616;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-base:hover, .fancy-score:hover, .fancy-button:hover, .fancy-button-base:hover:visited, .fancy-score:hover:visited, .fancy-button:hover:visited, .fancy-button-base:focus, .fancy-score:focus, .fancy-button:focus, .fancy-button-base:focus:visited, .fancy-score:focus:visited, .fancy-button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-base:active, .fancy-score:active, .fancy-button:active {
  background-color: #353535;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #353535), color-stop(30%, #3a3a3a), color-stop(50%, #303030), color-stop(50%, #282828), color-stop(100%, #494949));
  background-image: -moz-linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  background-image: linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #282828 50%, #494949 100%);
  border-color: #0e0e0e;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
  box-shadow: #1e1e1e 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-base:active, .fancy-score:active, .fancy-button:active, .fancy-button-base:active:visited, .fancy-score:active:visited, .fancy-button:active:visited {
  color: white;
}

/* line 18, ../../app/stylesheets/buttons.sass */
.fancy-score {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 15px;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #c6c6c6));
  background-image: -moz-linear-gradient(top, #fcfcfc 0%, #c6c6c6 100%);
  background-image: linear-gradient(top, #fcfcfc 0%, #c6c6c6 100%);
  border-color: #afafaf;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1px 2px;
  border-width: 1px;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  width: 15px;
  cursor: default !important;
  float: left;
}
/* line 120, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score, .fancy-score:visited {
  color: #222222;
}
/* line 31, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score:hover, .fancy-score:focus {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #bebebe));
  background-image: -moz-linear-gradient(top, #f4f4f4 0%, #bebebe 100%);
  background-image: linear-gradient(top, #f4f4f4 0%, #bebebe 100%);
  border-color: #a7a7a7;
  text-shadow: white 0px 1px 1px;
}
/* line 120, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score:hover, .fancy-score:hover:visited, .fancy-score:focus, .fancy-score:focus:visited {
  color: #222222;
}
/* line 36, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score:active {
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c4c4c4), color-stop(40%, #cbcbcb), color-stop(85%, #cbcbcb), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #c4c4c4 0%, #cbcbcb 40%, #cbcbcb 85%, #dddddd 100%);
  background-image: linear-gradient(top, #c4c4c4 0%, #cbcbcb 40%, #cbcbcb 85%, #dddddd 100%);
  border-color: #a0a0a0;
  text-shadow: white 0px -1px -1px;
  -moz-box-shadow: #afafaf 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #afafaf 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #afafaf 0 0.08em 0.1em 1px inset;
  box-shadow: #afafaf 0 0.08em 0.1em 1px inset;
}
/* line 120, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score:active, .fancy-score:active:visited {
  color: #222222;
}

/* line 27, ../../app/stylesheets/buttons.sass */
.fancy-score-winner {
  background-color: #42d100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #76d34a), color-stop(100%, #458f23));
  background-image: -moz-linear-gradient(top, #76d34a 0%, #458f23 100%);
  background-image: linear-gradient(top, #76d34a 0%, #458f23 100%);
  border-color: #336a1a;
  text-shadow: #1a5100 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.409) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.409) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.409) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.409) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-winner, .fancy-score-winner:visited {
  color: white;
}
/* line 31, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-winner:hover, .fancy-score-winner:focus {
  background-color: #3dc100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #6cd03e), color-stop(100%, #3f8320));
  background-image: -moz-linear-gradient(top, #6cd03e 0%, #3f8320 100%);
  background-image: linear-gradient(top, #6cd03e 0%, #3f8320 100%);
  border-color: #2d5e17;
  text-shadow: #154200 0px 1px 1px;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-winner:hover, .fancy-score-winner:hover:visited, .fancy-score-winner:focus, .fancy-score-winner:focus:visited {
  color: white;
}
/* line 36, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-winner:active {
  background-color: #38b200;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #438b22), color-stop(40%, #499725), color-stop(85%, #499725), color-stop(100%, #57b42c));
  background-image: -moz-linear-gradient(top, #438b22 0%, #499725 40%, #499725 85%, #57b42c 100%);
  background-image: linear-gradient(top, #438b22 0%, #499725 40%, #499725 85%, #57b42c 100%);
  border-color: #275214;
  text-shadow: #103300 0px -1px -1px;
  -moz-box-shadow: #336a1a 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #336a1a 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #336a1a 0 0.08em 0.1em 1px inset;
  box-shadow: #336a1a 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-winner:active, .fancy-score-winner:active:visited {
  color: white;
}

/* line 30, ../../app/stylesheets/buttons.sass */
.fancy-score-loser {
  background-color: #ff5038;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fd9586), color-stop(100%, #fb381d));
  background-image: -moz-linear-gradient(top, #fd9586 0%, #fb381d 100%);
  background-image: linear-gradient(top, #fd9586 0%, #fb381d 100%);
  border-color: #e62004;
  text-shadow: #b71700 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.609) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.609) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.609) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.609) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-loser, .fancy-score-loser:visited {
  color: white;
}
/* line 31, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-loser:hover, .fancy-score-loser:focus {
  background-color: #ff4328;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fd8877), color-stop(100%, #fb2b0e));
  background-image: -moz-linear-gradient(top, #fd8877 0%, #fb2b0e 100%);
  background-image: linear-gradient(top, #fd8877 0%, #fb2b0e 100%);
  border-color: #d71e04;
  text-shadow: #a81500 0px 1px 1px;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-loser:hover, .fancy-score-loser:hover:visited, .fancy-score-loser:focus, .fancy-score-loser:focus:visited {
  color: white;
}
/* line 36, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-loser:active {
  background-color: #ff3619;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fb3418), color-stop(40%, #fb4127), color-stop(85%, #fb4127), color-stop(100%, #fc604a));
  background-image: -moz-linear-gradient(top, #fb3418 0%, #fb4127 40%, #fb4127 85%, #fc604a 100%);
  background-image: linear-gradient(top, #fb3418 0%, #fb4127 40%, #fb4127 85%, #fc604a 100%);
  border-color: #c81c03;
  text-shadow: #991300 0px -1px -1px;
  -moz-box-shadow: #e62004 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #e62004 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #e62004 0 0.08em 0.1em 1px inset;
  box-shadow: #e62004 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-loser:active, .fancy-score-loser:active:visited {
  color: white;
}

/* line 33, ../../app/stylesheets/buttons.sass */
.fancy-score-equal {
  background-color: #54abff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #afd0f0), color-stop(100%, #549be0));
  background-image: -moz-linear-gradient(top, #afd0f0 0%, #549be0 100%);
  background-image: linear-gradient(top, #afd0f0 0%, #549be0 100%);
  border-color: #2d85d9;
  text-shadow: #006cd3 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.664) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.664) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.664) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.664) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-equal, .fancy-score-equal:visited {
  color: white;
}
/* line 31, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-equal:hover, .fancy-score-equal:focus {
  background-color: #44a3ff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #a2c9ee), color-stop(100%, #4794de));
  background-image: -moz-linear-gradient(top, #a2c9ee 0%, #4794de 100%);
  background-image: linear-gradient(top, #a2c9ee 0%, #4794de 100%);
  border-color: #267dd1;
  text-shadow: #0064c4 0px 1px 1px;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-equal:hover, .fancy-score-equal:hover:visited, .fancy-score-equal:focus, .fancy-score-equal:focus:visited {
  color: white;
}
/* line 36, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-equal:active {
  background-color: #359cff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5099df), color-stop(40%, #5da0e2), color-stop(85%, #5da0e2), color-stop(100%, #7bb2e7));
  background-image: -moz-linear-gradient(top, #5099df 0%, #5da0e2 40%, #5da0e2 85%, #7bb2e7 100%);
  background-image: linear-gradient(top, #5099df 0%, #5da0e2 40%, #5da0e2 85%, #7bb2e7 100%);
  border-color: #2475c4;
  text-shadow: #005cb5 0px -1px -1px;
  -moz-box-shadow: #2d85d9 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #2d85d9 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #2d85d9 0 0.08em 0.1em 1px inset;
  box-shadow: #2d85d9 0 0.08em 0.1em 1px inset;
}
/* line 116, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-score-equal:active, .fancy-score-equal:active:visited {
  color: white;
}

/* line 36, ../../app/stylesheets/buttons.sass */
.fancy-score-right {
  margin-left: 2px;
}

/* line 39, ../../app/stylesheets/buttons.sass */
.fancy-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  vertical-align: top;
}

/* line 44, ../../app/stylesheets/buttons.sass */
.login {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
}

/* line 47, ../../app/stylesheets/buttons.sass */
.score-light {
  padding: 2px 5px;
  border-width: 1px;
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #c6c6c6));
  background-image: -moz-linear-gradient(top, #fcfcfc 0%, #c6c6c6 100%);
  background-image: linear-gradient(top, #fcfcfc 0%, #c6c6c6 100%);
  border-color: #afafaf;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.837) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 120, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light, .score-light:visited {
  color: #222222;
}
/* line 31, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light:hover, .score-light:focus {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #bebebe));
  background-image: -moz-linear-gradient(top, #f4f4f4 0%, #bebebe 100%);
  background-image: linear-gradient(top, #f4f4f4 0%, #bebebe 100%);
  border-color: #a7a7a7;
  text-shadow: white 0px 1px 1px;
}
/* line 120, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light:hover, .score-light:hover:visited, .score-light:focus, .score-light:focus:visited {
  color: #222222;
}
/* line 36, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light:active {
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #c4c4c4), color-stop(40%, #cbcbcb), color-stop(85%, #cbcbcb), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #c4c4c4 0%, #cbcbcb 40%, #cbcbcb 85%, #dddddd 100%);
  background-image: linear-gradient(top, #c4c4c4 0%, #cbcbcb 40%, #cbcbcb 85%, #dddddd 100%);
  border-color: #a0a0a0;
  text-shadow: white 0px -1px -1px;
  -moz-box-shadow: #afafaf 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #afafaf 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #afafaf 0 0.08em 0.1em 1px inset;
  box-shadow: #afafaf 0 0.08em 0.1em 1px inset;
}
/* line 120, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light:active, .score-light:active:visited {
  color: #222222;
}
/* line 124, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light, .score-light:visited {
  color: #be420e;
}
/* line 126, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light:hover, .score-light:focus {
  color: #fea22c;
}
/* line 128, ../../../../../../home/denix/.rvm/gems/ree-1.8.7-2010.01@rails3/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.score-light:active {
  color: #dddddd;
}
