* {
  margin:0pt;
  padding:0pt;
}

div#header {
  position:relative;
  height: 80px;
}
div#headerContent {
  text-align: center;
  margin: 0 auto;
}

div#wrapper {
  float:left;
  width:100%;
  border: 1px solid red;
}
div#content {
  margin-right:380px;
  padding:20px 0pt 0pt 40px;
}
div#rightSidebar {
  float:left;
  margin-left:-200px;
  padding-top:20px;
  width:200px;
}
div#leftSidebar {
  float:left;
  margin-left:-330px;
  padding-top:20px;
  width:300px;
}
div#footer {
  border-top:1px solid #DBDBDB;
  clear:both;
  height:115px;
  line-height:1.3em;
  margin:0pt;
  padding:0pt 0pt 0pt 70px;
  position:relative;
}
div#footer small {
  display:block;
  font-size:11px;
  padding:27px 0pt 7px;
  text-align:center;
  width:400px;
}
