/* ELEMENTS */
ul, ol {}
li { margin-bottom: 5px; }

a { color: #ca1717; text-decoration: none; }
a:hover { color: #f70; text-decoration: underline; }

h1 { width: 640px; height:45px; float:left; margin:0; padding: 0; } /* for logo */

input { padding: 3px; border: 1px solid #767171; color: #333; font-family: Georgia, serif; font-style: italic; font-size: 14px; }
.button { background: #767171; color: #fff; border: 0; } /* should work with INPUT and A */
.button:hover { background:#ca1717; }


#header, #main-notice {background-color: #fff;border: 1px solid #e4e2d3;margin-bottom: 10px;}
#main-notice { color: red; font-weight: bold;}
/*#header a { color: #111; text-decoration: none; }*/

.column { width: 300px; } /* 310px max for 970px width */

#content p { margin: 0 0 15px 0; padding:0; line-height: 24px; }
#content ul, ol { color: #555; }
#content ul li, ol li { line-height: 130%; }
#content h1 { margin: 0 0 10px 0; padding: 0; font-size: 24px; line-height: 24px; letter-spacing:-1px; font-family: Helvetica, Verdana, Arial;}
#content h1 a:hover { text-decoration: none; }
#content h3 { margin: 24px 0 10px 0; padding: 0; font-size: 18px; line-height: 18px; color: #333; }
#content h4 { margin: 12px 0 5px 0; font-size: 12px; text-transform: uppercase; line-height: 12px; }
#content .home h1 { margin-bottom: 5px; }

#sidebar .block {background-color: #E4E2D3; padding: 5px;}
#sidebar h2 { border-bottom: 1px solid #767171; color:#767171; font-size:14px;padding:0pt 0pt 3px;margin-bottom: 5px;}
#sidebar ul {margin:0pt 0pt 20px;}
#sidebar ul li {margin-bottom:5px;}


/*my*/
#user-box {
  width:300px;
  margin-top:5px;
  float: right;
}

#user-box dd {
margin-top:3px;
}

#login-box {
  margin-top: 5px;
  overflow:hidden;
  padding:0pt 0pt 0pt 10px;
  float: right;
  width:470px;
}

#login-box p {
  margin-top: 5px;
}

form, fieldset, img {
  border:medium none;
}

fieldset ol {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0pt;
  padding:0pt 0pt 10px;
}

#login-box fieldset ol li, #forgot_user fieldset ol li {
  float:left;
  margin-right:20px;
}
fieldset ol li {
  padding:0pt 0pt 10px;
  vertical-align:middle;
}
li, dt, dd {
  margin:0pt;
  padding:0pt;
}
