/*
Syntax error: File to import not found or unreadable: rails-sass-images.
              Load paths:
                Compass::SpriteImporter
                /Users/useruser/vhosts/football_kharkov_ua/public/stylesheets/sass
                /Users/useruser/vhosts/football_kharkov_ua/app/assets/stylesheets
                /Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.11.7/frameworks/blueprint/stylesheets
                /Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.11.7/frameworks/compass/stylesheets
        on line 8 of /Users/useruser/vhosts/football_kharkov_ua/app/assets/stylesheets/styles.scss

3:     Created on : 13.12.2008, 21:18:49
4:     Author     : denix
5:     Description:
6:         Purpose of the stylesheet follows.
7: */
8: @import "rails-sass-images";
9: 
10: /**
11: TODO customize this sample style
12: Syntax recommendation http://www.w3.org/TR/REC-CSS2/
13: */

Backtrace:
/Users/useruser/vhosts/football_kharkov_ua/app/assets/stylesheets/styles.scss:8
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/import_node.rb:42:in `import'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/engine.rb:248:in `block in render'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/engine.rb:248:in `render'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `each'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.1.12/lib/sass/plugin/rack.rb:51:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/warden-1.1.1/lib/warden/manager.rb:35:in `block in call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/warden-1.1.1/lib/warden/manager.rb:34:in `catch'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/warden-1.1.1/lib/warden/manager.rb:34:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/rack-1.4.5/lib/rack/etag.rb:23:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/rack-1.4.5/lib/rack/conditionalget.rb:25:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/flash.rb:242:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/rack-1.4.5/lib/rack/session/abstract/id.rb:210:in `context'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/rack-1.4.5/lib/rack/session/abstract/id.rb:205:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/cookies.rb:341:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/activerecord-3.2.13/lib/active_record/query_cache.rb:64:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/activerecord-3.2.13/lib/active_record/connection_adapters/abstract/connection_pool.rb:479:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/callbacks.rb:28:in `block in call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/activesupport-3.2.13/lib/active_support/callbacks.rb:405:in `_run__1476658589230377274__call__2590048679153215211__callbacks'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/activesupport-3.2.13/lib/active_support/callbacks.rb:405:in `__run_callback'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/activesupport-3.2.13/lib/active_support/callbacks.rb:385:in `_run_call_callbacks'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/activesupport-3.2.13/lib/active_support/callbacks.rb:81:in `run_callbacks'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/callbacks.rb:27:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/reloader.rb:65:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/remote_ip.rb:31:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/debug_exceptions.rb:16:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/show_exceptions.rb:56:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/railties-3.2.13/lib/rails/rack/logger.rb:32:in `call_app'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/railties-3.2.13/lib/rails/rack/logger.rb:16:in `block in call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/activesupport-3.2.13/lib/active_support/tagged_logging.rb:22:in `tagged'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/railties-3.2.13/lib/rails/rack/logger.rb:16:in `call'
/Users/useruser/vhosts/football_kharkov_ua/config/initializers/quiet_assets.rb:6:in `call_with_quiet_assets'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/request_id.rb:22:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/rack-1.4.5/lib/rack/methodoverride.rb:21:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/rack-1.4.5/lib/rack/runtime.rb:17:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/activesupport-3.2.13/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/rack-1.4.5/lib/rack/lock.rb:15:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/actionpack-3.2.13/lib/action_dispatch/middleware/static.rb:63:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/railties-3.2.13/lib/rails/engine.rb:479:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/railties-3.2.13/lib/rails/application.rb:223:in `call'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/railties-3.2.13/lib/rails/railtie/configurable.rb:30:in `method_missing'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/passenger-4.0.27/lib/phusion_passenger/rack/thread_handler_extension.rb:77:in `process_request'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/passenger-4.0.27/lib/phusion_passenger/request_handler/thread_handler.rb:140:in `accept_and_process_next_request'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/passenger-4.0.27/lib/phusion_passenger/request_handler/thread_handler.rb:108:in `main_loop'
/Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/passenger-4.0.27/lib/phusion_passenger/request_handler.rb:441:in `block (3 levels) in start_threads'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: rails-sass-images.\A               Load paths:\A                 Compass::SpriteImporter\A                 /Users/useruser/vhosts/football_kharkov_ua/public/stylesheets/sass\A                 /Users/useruser/vhosts/football_kharkov_ua/app/assets/stylesheets\A                 /Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.11.7/frameworks/blueprint/stylesheets\A                 /Users/useruser/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.11.7/frameworks/compass/stylesheets\A         on line 8 of /Users/useruser/vhosts/football_kharkov_ua/app/assets/stylesheets/styles.scss\A \A 3:     Created on : 13.12.2008, 21:18:49\A 4:     Author     : denix\A 5:     Description:\A 6:         Purpose of the stylesheet follows.\A 7: */\A 8: @import \"rails-sass-images\";\A 9: \A 10: /**\A 11: TODO customize this sample style\A 12: Syntax recommendation http://www.w3.org/TR/REC-CSS2/\A 13: */"; }
