/*
    Document   : style.css
    Created on : 13.12.2008, 21:18:49
    Author     : denix
    Description:
        Purpose of the stylesheet follows.
*/
/**
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/**
*Layout
*/
/* line 23, ../../app/stylesheets/styles.scss */
* {
  margin: 0px;
  padding: 0px;
  border: none;
}

/* line 29, ../../app/stylesheets/styles.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Verdana, Arial, Helvetica;
}

/* line 37, ../../app/stylesheets/styles.scss */
body {
  font-size: 81.25%;
  color: #444;
  line-height: 1.5;
  background: white url(/images/bg-center.gif) repeat-x scroll left 85px;
}

/* line 44, ../../app/stylesheets/styles.scss */
ul {
  list-style-type: disc;
}

/* line 48, ../../app/stylesheets/styles.scss */
#outer {
  min-height: 100%;
  margin-bottom: -100px;
  height: auto;
  width: 100%;
}

/* line 55, ../../app/stylesheets/styles.scss */
* html #outer {
  height: 100%;
}

/* line 58, ../../app/stylesheets/styles.scss */
#inner {
  width: 100%;
}

/* line 62, ../../app/stylesheets/styles.scss */
a#logo-link {
  float: left;
}

/* line 66, ../../app/stylesheets/styles.scss */
#footer {
  width: 100%;
  clear: both;
  height: 100px;
  color: #bbb;
  background-color: #222;
}

/* line 73, ../../app/stylesheets/styles.scss */
#clearfooter {
  clear: both;
  height: 100px;
}

/* safari wrapper */
/* line 78, ../../app/stylesheets/styles.scss */
html > body #minHeight {
  float: left;
  width: 0px;
  height: 100%;
  margin-bottom: -202px;
}

/* end safari wrapper */
/* line 86, ../../app/stylesheets/styles.scss */
.clear {
  clear: both;
  font-size: 1px;
  height: 1px;
}

/* line 92, ../../app/stylesheets/styles.scss */
.clear-space {
  clear: both;
  font-size: 10px;
  height: 10px;
}

/**
*EOF Layout
*/
/* line 102, ../../app/stylesheets/styles.scss */
#header {
  width: 100%;
  /*height: 85px;*/
  height: 120px;
  background: black url(/images/header_bg.gif) repeat-x left top;
  margin-bottom: 1.1em;
  position: relative;
}

/* line 113, ../../app/stylesheets/styles.scss */
#header-block {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/**
*Panel near scroll
**/
/* line 124, ../../app/stylesheets/styles.scss */
div#near-scroll-panel {
  position: fixed;
  right: 0;
  top: 130px;
  width: 36px;
}
/* line 129, ../../app/stylesheets/styles.scss */
div#near-scroll-panel a.button-container {
  margin-bottom: 5px;
  display: block;
}

/*EOF Panel near scroll*/
/**
* General Styles
*/
/* line 141, ../../app/stylesheets/styles.scss */
a:focus, a:hover {
  color: #BE420E;
}

/* line 145, ../../app/stylesheets/styles.scss */
a {
  color: #336999;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
  text-decoration: underline;
}

/* line 153, ../../app/stylesheets/styles.scss */
h1, h2, h3, h4 {
  color: #BE420E;
}

/* line 157, ../../app/stylesheets/styles.scss */
h2 a, h3 a, h4 a {
  text-decoration: none;
  color: #BE420E;
}

/* line 161, ../../app/stylesheets/styles.scss */
h2 a:hover, h3 a:hover, h4 a:hover {
  color: #336999;
}

/* line 166, ../../app/stylesheets/styles.scss */
h2 {
  border-bottom: 1px solid #EEEEEE;
  font-size: 164%;
  font-weight: bold;
  margin-bottom: 0.75em;
}
/* line 171, ../../app/stylesheets/styles.scss */
h2 span.right-arrow, h2 a.tournament {
  color: #d9d9d9;
}
/* line 174, ../../app/stylesheets/styles.scss */
h2 a.tournament, h2 a.tournament:hover {
  color: #A5BE0E;
}
/* line 177, ../../app/stylesheets/styles.scss */
h2 a.tournament:hover {
  color: #336999;
}

/* line 182, ../../app/stylesheets/styles.scss */
h4 {
  font-size: 118%;
  font-weight: bold;
  margin-top: 0.6em;
  padding-top: 0.4em;
  line-height: 1.25em;
  margin-bottom: 1.25em;
}

/* line 191, ../../app/stylesheets/styles.scss */
input.text, input.title, textarea, select {
  border: 1px solid #EEEEEE;
  margin: 0.5em 0pt;
}

/* line 196, ../../app/stylesheets/styles.scss */
textarea {
  padding: 5px;
}

/* line 200, ../../app/stylesheets/styles.scss */
input.text:focus, input.title:focus, textarea:focus {
  background-color: #FFFFE7;
}

/* line 204, ../../app/stylesheets/styles.scss */
#col-left h1 {
  border-bottom: 1px solid #EEEEEE;
  font-size: 180%;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 211, ../../app/stylesheets/styles.scss */
#col-left hr {
  color: #EEEEEE;
  background-color: #EEEEEE;
  height: 2px;
  border: none;
}

/**
*Forms
*/
/* line 222, ../../app/stylesheets/styles.scss */
label {
  font-weight: bold;
}

/* line 226, ../../app/stylesheets/styles.scss */
fieldset {
  background-color: #FAFAFA;
  border: 1px solid #EEEEEE;
  margin: 0pt 0pt 1.5em;
  padding: 1.4em;
}

/* line 233, ../../app/stylesheets/styles.scss */
input.text, input.title, textarea, select {
  border: 1px solid #EEEEEE;
  margin: 0.5em 0pt;
}

/* line 238, ../../app/stylesheets/styles.scss */
select {
  padding: 3px;
  background-color: #FFF;
}

/* line 243, ../../app/stylesheets/styles.scss */
input.text, input.title {
  padding: 5px;
  width: 300px;
}

/* line 248, ../../app/stylesheets/styles.scss */
input.long-input {
  width: 570px;
}

/* line 252, ../../app/stylesheets/styles.scss */
input.fancy-submit {
  background-color: #555555;
  border: 1px solid #888888;
  color: #DDDDDD;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 1px;
}

/* line 261, ../../app/stylesheets/styles.scss */
input.fancy-submit:hover {
  background-color: #555555;
  color: #FFFFFF;
  cursor: pointer;
}

/* line 267, ../../app/stylesheets/styles.scss */
#col-left label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

/**
*Login && User box
*/
/* line 276, ../../app/stylesheets/styles.scss */
#login-box {
  margin: 0;
  margin-top: 10px;
  overflow: hidden;
  padding: 0pt 0pt 0pt 10px;
  float: right;
  width: 470px;
}

/* line 285, ../../app/stylesheets/styles.scss */
#login-box form {
  padding: 0;
  margin: 0;
}

/* line 290, ../../app/stylesheets/styles.scss */
#login-box fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* line 297, ../../app/stylesheets/styles.scss */
#login-box ol {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0pt;
  padding: 0pt 0pt 10px;
}

/* line 305, ../../app/stylesheets/styles.scss */
#login-box ol li, #forgot_user ol li {
  float: left;
  /*margin-right:20px;*/
}

/* line 310, ../../app/stylesheets/styles.scss */
#login-box ol li {
  padding: 0pt 0pt 10px;
  vertical-align: middle;
}

/* line 315, ../../app/stylesheets/styles.scss */
#login-box li {
  width: 180px;
  text-align: left;
}

/* line 320, ../../app/stylesheets/styles.scss */
#login-box p {
  margin: 0;
  padding: 0;
}

/* line 325, ../../app/stylesheets/styles.scss */
#login-box label {
  display: inline;
}

/* line 328, ../../app/stylesheets/styles.scss */
#login-box input.fancy-field {
  background-color: #555555;
  border: 1px solid #888888;
  color: #DDDDDD;
  font-size: 100%;
}

/* line 335, ../../app/stylesheets/styles.scss */
#login-box input.fancy-submit {
  border: 1px solid #888888;
  color: #DDDDDD;
  /*font-family:Georgia,serif;*/
  background-color: #555555;
  /*font-size:14px;*/
  padding: 1px;
  /*font-weight: bold;*/
  font-size: 12px;
}

/* line 345, ../../app/stylesheets/styles.scss */
#login-box input.fancy-submit:hover {
  background-color: #555555;
  color: #FFF;
  cursor: pointer;
}

/* line 351, ../../app/stylesheets/styles.scss */
#login-box li.submit {
  width: 50px;
}

/* line 355, ../../app/stylesheets/styles.scss */
#user-box, #login-box {
  /*color: #EEEEEE;*/
  color: #AAAAAA;
}

/* line 360, ../../app/stylesheets/styles.scss */
#user-box {
  float: right;
  margin-top: 10px;
  width: 300px;
}

/* line 365, ../../app/stylesheets/styles.scss */
#user-box dd {
  margin-top: 3px;
}

/* line 368, ../../app/stylesheets/styles.scss */
#user-box dt, #user-box dd {
  margin: 0pt;
  padding: 0pt;
}

/* line 375, ../../app/stylesheets/styles.scss */
#user-box a, #login-box a {
  width: 100%;
  display: inline;
  text-decoration: none;
  color: #A5BE0E;
}

/* line 382, ../../app/stylesheets/styles.scss */
#user-box a.selected, #login-box a.selected {
  font-weight: bold !important;
  color: #A5BE0E;
}

/* line 389, ../../app/stylesheets/styles.scss */
#user-box a:hover,
#user-box a:focus,
#user-box a.selected {
  color: #FFF;
}

/* line 395, ../../app/stylesheets/styles.scss */
#login-box a:hover,
#login-box a:focus,
#login-box a.selected {
  color: #FFF;
}

/**
*EOF Login && User box
*/
/* line 402, ../../app/stylesheets/styles.scss */
#container {
  width: 970px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 408, ../../app/stylesheets/styles.scss */
#container h1.tourament-header {
  padding: 0 0 5px 0;
  margin-bottom: 15px;
  color: #336999;
  width: 950px;
  line-height: 1;
  font-size: 22px;
  border-bottom: 1px solid #EEEEEE;
  display: block;
  height: 25px;
}
/* line 418, ../../app/stylesheets/styles.scss */
#container h1.tourament-header span {
  float: left;
  display: block;
}
/* line 422, ../../app/stylesheets/styles.scss */
#container h1.tourament-header a.feed-link {
  display: block;
  margin-right: 30px;
}
/* line 429, ../../app/stylesheets/styles.scss */
#container h1.tourament-header span.team_name {
  color: #BE420E;
  float: none;
  display: inline;
  margin-right: 0px;
}
/* line 435, ../../app/stylesheets/styles.scss */
#container h1.tourament-header a, #container h1.tourament-header a:hover, #container h1.tourament-header a:visited {
  float: left;
  display: block;
  color: #BE420E;
  font-size: 14px;
  padding: 5px;
}
/* line 443, ../../app/stylesheets/styles.scss */
#container h1.tourament-header a:hover {
  color: #336999;
  text-decoration: none;
}

/* line 449, ../../app/stylesheets/styles.scss */
#col-left, #col-right {
  float: left;
  margin-bottom: 25px;
}

/* left column */
/* line 455, ../../app/stylesheets/styles.scss */
#col-left {
  width: 650px;
  margin-right: 10px;
  padding-right: 20px;
}

/* line 461, ../../app/stylesheets/styles.scss */
#col-right {
  width: 270px;
}

/* New block design */
/* line 467, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border: 1px solid #d9d9d9;
  margin: 0 0 1em 0;
}
/* line 472, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block a {
  text-decoration: none;
  color: #006ca2;
  font-family: arial, verdana,helvetica;
  font-size: 14px;
  font-weight: bold;
}
/* line 482, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block a:hover {
  color: #be420e;
}
/* line 486, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul {
  margin: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
/* line 491, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul li {
  line-height: 1.2em;
  padding: 5px;
  border: 0;
  border-top: 1px solid #d9d9d9;
}
/* line 497, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul li p.post-title {
  line-height: 1.2em;
  margin-bottom: 3px;
}
/* line 502, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul li p.post-date {
  color: #666666;
  line-height: 1em;
  padding: 0;
  margin-bottom: 2px;
}
/* line 510, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul li p.author {
  line-height: 1.2em;
}

/* line 518, ../../app/stylesheets/styles.scss */
.sidebar-block-header {
  background-color: transparent;
}
/* line 521, ../../app/stylesheets/styles.scss */
.sidebar-block-header h4 {
  font-size: 100%;
  color: #be420e;
  font-weight: bold;
  margin: 0.6em 0 0.6em 0.4em;
  text-transform: uppercase;
  padding: 0;
}

/* EOF New block design */
/**
*EOF Sidebar
*/
/**
*Comment block
*/
/* line 541, ../../app/stylesheets/styles.scss */
#comment_body {
  height: 100px;
  width: 350px;
}

/* line 546, ../../app/stylesheets/styles.scss */
ul.comment {
  clear: both;
  width: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
}

/* line 555, ../../app/stylesheets/styles.scss */
ul.comment li {
  float: left;
  width: 100%;
  margin: 3px 0 0 0;
  padding: 0;
}

/* line 562, ../../app/stylesheets/styles.scss */
ul.comment div.comment-content {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border: 1px solid #d9d9d9;
  margin: 10px 0 10px 0;
  padding: 3px;
}

/* line 572, ../../app/stylesheets/styles.scss */
ul.comment p {
  padding: 3px;
}

/* line 576, ../../app/stylesheets/styles.scss */
ul.comment p.comment-author {
  margin-bottom: 5px;
  border-bottom: 1px solid #EEE;
  color: #AAAAAA;
}

/**
*EOF Comment block
*/
/*blog link panel*/
/* line 592, ../../app/stylesheets/styles.scss */
.blog_link_panel {
  white-space: nowrap;
  /*height: 50px;*/
  clear: both;
  float: left;
  position: relative;
  padding: 0;
  line-height: 2em;
  margin: 15px 0 15px 0;
  border: 1px solid #EEEEEE;
}

/*.blog_link_panel_wrap {
    clear:both;
}*/
/* line 607, ../../app/stylesheets/styles.scss */
.blog_link_panel div {
  float: left;
  border-right: 1px solid #EEEEEE;
  margin-right: -1px;
  margin-top: -1px;
  /*height: 25px;*/
  line-height: 2em;
  padding: 1px 20px;
}

/* line 618, ../../app/stylesheets/styles.scss */
.blog_link_panel a, .blog_link_panel span {
  display: block;
  float: left;
  line-height: 2.0em;
  text-decoration: none;
}

/* line 625, ../../app/stylesheets/styles.scss */
.blog_link_panel div.first {
  margin-bottom: -2px;
  padding-bottom: 1px;
  white-space: nowrap;
}

/* line 631, ../../app/stylesheets/styles.scss */
.blog_link_panel div.last {
  margin-bottom: -2px;
  border-right: 0;
  padding-bottom: 1px;
  white-space: nowrap;
}

/* EOF blog panel links */
/* line 639, ../../app/stylesheets/styles.scss */
div.date_link_cell span {
  background: transparent url(/images/icons/calendar.png) no-repeat scroll left center;
  padding-left: 20px;
}

/* line 643, ../../app/stylesheets/styles.scss */
div.edit_link_cell a {
  background: transparent url(/images/icons/pencil.png) no-repeat scroll left center;
  padding-left: 22px;
}

/* line 647, ../../app/stylesheets/styles.scss */
div.delete_link_cell a {
  background: transparent url(/images/icons/delete.png) no-repeat scroll left center;
  padding-left: 18px;
}

/* line 651, ../../app/stylesheets/styles.scss */
div.author_link_cell a {
  background: transparent url(/images/icons/man.png) no-repeat scroll left center;
  padding-left: 20px;
}

/* line 655, ../../app/stylesheets/styles.scss */
div.comment_link_cell a {
  background: transparent url(/images/icons/comment.png) no-repeat scroll left center;
  padding-left: 20px;
}

/* line 659, ../../app/stylesheets/styles.scss */
div.social_link_cell a {
  padding: 2px 5px 1px 5px;
}

/* line 663, ../../app/stylesheets/styles.scss */
div.updating_link_cell span {
  background: transparent url(/images/icons/refresh.gif) no-repeat scroll left center;
  padding-left: 20px;
}

/**
*links with icons
*/
/* line 672, ../../app/stylesheets/styles.scss */
.link-with-icon-container div {
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  height: 25px;
  padding: 1px 20px;
}

/* line 680, ../../app/stylesheets/styles.scss */
a.add-image-link {
  background: transparent url(/images/icons/picture.png) no-repeat scroll left center;
  padding-left: 20px;
  cursor: pointer;
}

/**
*EOF links with icons
*/
/**
* Right Sidebar
*/
/* line 693, ../../app/stylesheets/styles.scss */
#col-right ul {
  margin-left: 5px;
  margin-right: 0;
  list-style: none;
}

/* line 700, ../../app/stylesheets/styles.scss */
#col-right ul li {
  padding: 10px 0 10px 0;
  border-bottom: 1px dotted #EEE;
}

/**
* Pagination
*/
/* line 709, ../../app/stylesheets/styles.scss */
.football_pagination {
  text-align: center;
  padding: .3em;
}

/* line 714, ../../app/stylesheets/styles.scss */
.football_pagination a, .football_pagination span {
  color: #336999;
  padding: .2em .5em;
}

/* line 718, ../../app/stylesheets/styles.scss */
.football_pagination span.disabled {
  color: #AAA;
}

/* line 721, ../../app/stylesheets/styles.scss */
.football_pagination span.current {
  font-weight: bold;
  color: #BE420E;
}

/* line 725, ../../app/stylesheets/styles.scss */
.football_pagination a {
  border: 1px solid #DDDDDD;
  color: #0063DC;
  text-decoration: none;
}

/* line 730, ../../app/stylesheets/styles.scss */
.football_pagination a:hover, .football_pagination a:focus {
  border-color: #888888;
  background: #555555;
  color: white;
}

/* line 735, ../../app/stylesheets/styles.scss */
.football_pagination .page_info {
  color: #aaa;
  padding-top: .8em;
}

/* line 739, ../../app/stylesheets/styles.scss */
.football_pagination .prev_page, .football_pagination .next_page {
  border-width: 2px;
}

/* line 742, ../../app/stylesheets/styles.scss */
.football_pagination .prev_page {
  margin-right: 1em;
}

/* line 745, ../../app/stylesheets/styles.scss */
.football_pagination .next_page {
  margin-left: 1em;
}

/**
*Notification blocks
*/
/* line 753, ../../app/stylesheets/styles.scss */
.error, .notice, .success {
  border: 2px solid #DDDDDD;
  margin-bottom: 1em;
  padding: 0.8em;
}

/* line 759, ../../app/stylesheets/styles.scss */
.error {
  background: #FBE3E4 none repeat scroll 0% 0%;
  border-color: #FBC2C4;
  color: #8A1F11;
}

/* line 765, ../../app/stylesheets/styles.scss */
.success {
  background: #E6EFC2 none repeat scroll 0% 0%;
  border-color: #C6D880;
  color: #264409;
}

/**
* Articles
*/
/* line 776, ../../app/stylesheets/styles.scss */
.article-title-image {
  border: 1px solid #EEE;
  margin: 0pt 7px 7px 0pt;
  padding: 5px;
  float: left;
}

/**
* EOF Articles
*/
/**
* Gallery
*/
/* line 791, ../../app/stylesheets/styles.scss */
#uploaded-files {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

/* line 797, ../../app/stylesheets/styles.scss */
#uploaded-files img {
  width: 150px;
  float: left;
  margin-right: 10px;
}

/* line 803, ../../app/stylesheets/styles.scss */
#uploaded-files li {
  clear: both;
  display: block;
  padding: 10px 0;
}

/**
* Tournament and result tables
*/
/* line 812, ../../app/stylesheets/styles.scss */
table.game-result {
  border-collapse: collapse;
}

/* line 816, ../../app/stylesheets/styles.scss */
table.game-result td {
  font-style: italic;
  padding: 5px;
  border: 1px solid #EEEEEE;
  text-align: center;
}

/* line 822, ../../app/stylesheets/styles.scss */
table.game-result td.result {
  font-style: normal;
  font-weight: bold;
}

/* line 827, ../../app/stylesheets/styles.scss */
table.tournament {
  border-collapse: collapse;
}

/* line 831, ../../app/stylesheets/styles.scss */
table.tournament tr.even {
  background-color: #FAFAFA;
}

/* line 835, ../../app/stylesheets/styles.scss */
table.tournament td, table.tournament th {
  border: 1px solid #EEEEEE;
  padding: 8px;
  text-align: center;
}

/* line 840, ../../app/stylesheets/styles.scss */
table.tournament td.team {
  text-align: left;
}

/**
* Eof Tournament and result tables
*/
/**
*Public profile
**/
/* line 852, ../../app/stylesheets/styles.scss */
#profile-photo-block {
  border: 1px solid #EEEEEE;
  float: left;
  background-color: #FAFAFA;
  /*width: 200px;
  height: 300px;*/
}

/* line 859, ../../app/stylesheets/styles.scss */
#profile-data-block {
  border: 1px solid #EEEEEE;
  float: left;
  background-color: #FAFAFA;
  /*width: 440px;*/
  width: 416px;
  margin-left: 10px;
  padding: 10px;
}

/* line 869, ../../app/stylesheets/styles.scss */
#profile-data-block dt, #profile-data-block dd {
  margin-bottom: 10px;
}

/* line 873, ../../app/stylesheets/styles.scss */
#profile-data-block dt {
  clear: both;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  width: 70px;
}

/* line 882, ../../app/stylesheets/styles.scss */
#profile-data-block dd {
  float: left;
}

/**
*EOF Public profile
**/
/* line 889, ../../app/stylesheets/styles.scss */
div.image-loading-container {
  display: none;
  text-align: center;
}

/*Shop block*/
/* line 898, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block a.prev, #col-right .sidebar-block a.next {
  float: right;
  margin-right: 3px;
}
/* line 902, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block .sidebar-shop-content {
  border-top: 1px solid #d9d9d9;
  padding: 0.6em 0.6em 0 0.6em;
  text-align: center;
}
/* line 907, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block .sidebar-shop-content .sidebar-shop-content-wrap {
  margin: 0 auto;
}
/* line 910, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block .sidebar-shop-content .sidebar-shop-content-wrap ul li {
  border: none;
  height: 200px;
  width: 100%;
}
/* line 914, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block .sidebar-shop-content .sidebar-shop-content-wrap ul li a {
  font-weight: normal;
}

/*EOF Shop block*/
/*Quick Match Results block*/
/* line 928, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li {
  padding: 3px 0;
}
/* line 930, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li div.score-container {
  float: left;
  width: 45px;
  margin: 0 2px;
}
/* line 944, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li div.hosts, #col-right .sidebar-block ul.quick_match_results li div.guests {
  float: left;
  width: 109px;
  padding-top: 1px;
  font-size: 12px;
}
/* line 950, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li div.hosts {
  text-align: right;
}
/* line 951, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li div.guests {
  text-align: left;
}
/* line 953, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li.odd {
  background-color: #FAFAFA;
}

/*EOF Quick Match Results block*/
/* line 957, ../../app/stylesheets/styles.scss */
ul.team-list, ul.player-list {
  list-style-type: none;
}
/* line 959, ../../app/stylesheets/styles.scss */
ul.team-list li, ul.player-list li {
  padding: 5px 0;
}

/* line 964, ../../app/stylesheets/styles.scss */
ul.team-list {
  float: left;
  width: 230px;
}

/* line 969, ../../app/stylesheets/styles.scss */
table.schedule {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border-collapse: collapse;
  margin-bottom: 15px;
}
/* line 973, ../../app/stylesheets/styles.scss */
table.schedule tr.odd {
  background-color: #FAFAFA;
}
/* line 976, ../../app/stylesheets/styles.scss */
table.schedule td, table.schedule th {
  border: 1px solid #d9d9d9;
  padding: 5px;
}
/* line 980, ../../app/stylesheets/styles.scss */
table.schedule td {
  text-align: left;
}
/* line 983, ../../app/stylesheets/styles.scss */
table.schedule td.time {
  text-align: center;
}
/* line 986, ../../app/stylesheets/styles.scss */
table.schedule th {
  color: #be420e;
  font-size: 100%;
  font-weight: bold;
  margin: 0.6em 0 0.6em 0.4em;
  text-transform: uppercase;
  padding: 5px;
}

/**
*Match result table
**/
/* line 1000, ../../app/stylesheets/styles.scss */
table.match-result-table, table.tournament-position {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* line 1007, ../../app/stylesheets/styles.scss */
table.match-result-table caption {
  padding: 0 0 5px 0;
  width: 100%;
  font-size: 11px;
  text-align: right;
}

/* line 1015, ../../app/stylesheets/styles.scss */
table.match-result-table th {
  text-align: center;
  color: #336999;
  border: 1px solid #EEEEEE;
  font-size: 118%;
}

/* line 1024, ../../app/stylesheets/styles.scss */
table.match-result-table td.team-name, table.match-result-table td.match-score {
  width: 25%;
  text-align: center;
  border: 1px solid #EEEEEE;
  color: #BE420E;
  font-weight: bold;
  padding: 3px;
}

/* line 1033, ../../app/stylesheets/styles.scss */
table.match-result-table td.content {
  vertical-align: top;
  border: 1px solid #EEEEEE;
}

/* line 1038, ../../app/stylesheets/styles.scss */
table.match-result-table td.match-score {
  width: 50%;
}

/* line 1042, ../../app/stylesheets/styles.scss */
table.match-result-table ul.team-players-list {
  list-style-type: none;
  text-align: left;
}
/* line 1046, ../../app/stylesheets/styles.scss */
table.match-result-table ul.team-players-list li {
  padding: 3px 5px;
}
/* line 1047, ../../app/stylesheets/styles.scss */
table.match-result-table ul.team-players-list li.odd {
  background-color: #FAFAFA;
}

/**
*Tournament tables
*/
/* line 1053, ../../app/stylesheets/styles.scss */
table.tournament-position {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 600px;
}
/* line 1058, ../../app/stylesheets/styles.scss */
table.tournament-position th {
  text-align: center;
  color: #336999;
  border: 1px solid #EEEEEE;
  font-size: 118%;
}
/* line 1065, ../../app/stylesheets/styles.scss */
table.tournament-position td {
  padding: 3px;
  border: 1px solid #EEEEEE;
}
/* line 1069, ../../app/stylesheets/styles.scss */
table.tournament-position td.place {
  width: 30px;
  text-align: center;
}
/* line 1070, ../../app/stylesheets/styles.scss */
table.tournament-position td.team {
  width: 200px;
}
/* line 1071, ../../app/stylesheets/styles.scss */
table.tournament-position td.games {
  width: 50px;
  text-align: center;
}
/* line 1072, ../../app/stylesheets/styles.scss */
table.tournament-position td.goals {
  width: 50px;
  text-align: center;
}
/* line 1073, ../../app/stylesheets/styles.scss */
table.tournament-position td.scores {
  width: 50px;
  text-align: center;
}
/* line 1074, ../../app/stylesheets/styles.scss */
table.tournament-position td.diff {
  width: 50px;
  text-align: center;
}
/* line 1076, ../../app/stylesheets/styles.scss */
table.tournament-position tr.header td {
  color: #be420e;
  font-weight: bold;
}
/* line 1081, ../../app/stylesheets/styles.scss */
table.tournament-position tr.odd {
  background-color: #FAFAFA;
}
