/*
    Document   : style.css
    Created on : 13.12.2008, 21:18:49
    Author     : denix
    Description:
        Purpose of the stylesheet follows.
*/
/**
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/**
*Layout
*/
/* line 23, ../../app/stylesheets/styles.scss */
* {
  margin: 0px;
  padding: 0px;
  border: none;
}

/* line 29, ../../app/stylesheets/styles.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Verdana, Arial, Helvetica;
}

/* line 37, ../../app/stylesheets/styles.scss */
body {
  font-size: 81.25%;
  color: #444;
  line-height: 1.5;
  background: white url(/images/bg-center.gif) repeat-x scroll left 85px;
}

/* line 44, ../../app/stylesheets/styles.scss */
ul {
  list-style-type: disc;
}

/* line 48, ../../app/stylesheets/styles.scss */
#outer {
  min-height: 100%;
  margin-bottom: -100px;
  height: auto;
  width: 100%;
}

/* line 55, ../../app/stylesheets/styles.scss */
* html #outer {
  height: 100%;
}

/* line 58, ../../app/stylesheets/styles.scss */
#inner {
  width: 100%;
}

/* line 62, ../../app/stylesheets/styles.scss */
a#logo-link {
  float: left;
}

/* line 66, ../../app/stylesheets/styles.scss */
#footer {
  width: 100%;
  clear: both;
  height: 100px;
  color: #bbb;
  background-color: #222;
}

/* line 73, ../../app/stylesheets/styles.scss */
#clearfooter {
  clear: both;
  height: 100px;
}

/* safari wrapper */
/* line 78, ../../app/stylesheets/styles.scss */
html > body #minHeight {
  float: left;
  width: 0px;
  height: 100%;
  margin-bottom: -202px;
}

/* end safari wrapper */
/* line 86, ../../app/stylesheets/styles.scss */
.clear {
  clear: both;
  font-size: 1px;
  height: 1px;
}

/* line 92, ../../app/stylesheets/styles.scss */
.clear-space {
  clear: both;
  font-size: 10px;
  height: 10px;
}

/**
*EOF Layout
*/
/* line 102, ../../app/stylesheets/styles.scss */
#header {
  width: 100%;
  /*height: 85px;*/
  height: 120px;
  background: black url(/images/header_bg.gif) repeat-x left top;
  margin-bottom: 1.1em;
  position: relative;
}

/* line 113, ../../app/stylesheets/styles.scss */
#header-block {
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/**
*Panel near scroll
**/
/* line 124, ../../app/stylesheets/styles.scss */
div#near-scroll-panel {
  position: fixed;
  right: 0;
  top: 130px;
  width: 36px;
}
/* line 129, ../../app/stylesheets/styles.scss */
div#near-scroll-panel a.button-container {
  margin-bottom: 5px;
  display: block;
}

/*EOF Panel near scroll*/
/**
* General Styles
*/
/* line 141, ../../app/stylesheets/styles.scss */
table tr.odd {
  background-color: #FAFAFA;
}

/* line 145, ../../app/stylesheets/styles.scss */
a:focus, a:hover {
  color: #BE420E;
}

/* line 149, ../../app/stylesheets/styles.scss */
a {
  color: #336999;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
  text-decoration: underline;
}

/* line 157, ../../app/stylesheets/styles.scss */
h1, h2, h3, h4, h5 {
  color: #BE420E;
}

/* line 161, ../../app/stylesheets/styles.scss */
h2 a, h3 a, h4 a {
  text-decoration: none;
  color: #BE420E;
}

/* line 165, ../../app/stylesheets/styles.scss */
h2 a:hover, h3 a:hover, h4 a:hover {
  color: #336999;
}

/* line 170, ../../app/stylesheets/styles.scss */
h2 {
  border-bottom: 1px solid #EEEEEE;
  font-size: 164%;
  font-weight: bold;
  margin-bottom: 0.75em;
}
/* line 175, ../../app/stylesheets/styles.scss */
h2 span.right-arrow, h2 a.tournament {
  color: #d9d9d9;
}
/* line 178, ../../app/stylesheets/styles.scss */
h2 a.tournament, h2 a.tournament:hover {
  color: #A5BE0E;
}
/* line 181, ../../app/stylesheets/styles.scss */
h2 a.tournament:hover {
  color: #336999;
}

/* line 186, ../../app/stylesheets/styles.scss */
h4.status {
  border: none;
  font-size: 105%;
  /*font-weight:normal;*/
  margin-bottom: 0.1em;
}
/* line 191, ../../app/stylesheets/styles.scss */
h4.status span.right-arrow, h4.status a.tournament {
  color: #d9d9d9;
}
/* line 195, ../../app/stylesheets/styles.scss */
h4.status a {
  color: #336999;
  text-decoration: underline;
}
/* line 199, ../../app/stylesheets/styles.scss */
h4.status a:hover {
  text-decoration: none;
}
/* line 203, ../../app/stylesheets/styles.scss */
h4.status a.tournament, h4.status a.tournament:hover {
  text-decoration: none;
  color: #A5BE0E;
}
/* line 207, ../../app/stylesheets/styles.scss */
h4.status a.tournament:hover {
  text-decoration: none;
  color: #336999;
}

/* line 213, ../../app/stylesheets/styles.scss */
h4 {
  font-size: 118%;
  font-weight: bold;
  margin-top: 0.6em;
  padding-top: 0.4em;
  line-height: 1.25em;
  margin-bottom: 1.25em;
}

/* line 221, ../../app/stylesheets/styles.scss */
h5 {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 1em;
}

/* line 227, ../../app/stylesheets/styles.scss */
input.text, input.title, textarea, select {
  border: 1px solid #EEEEEE;
  margin: 0.5em 0pt;
}

/* line 232, ../../app/stylesheets/styles.scss */
textarea {
  padding: 5px;
}

/* line 236, ../../app/stylesheets/styles.scss */
input.text:focus, input.title:focus, textarea:focus {
  background-color: #FFFFE7;
}

/* line 240, ../../app/stylesheets/styles.scss */
#col-left h1 {
  border-bottom: 1px solid #EEEEEE;
  font-size: 180%;
  font-weight: bold;
  margin-bottom: 10px;
}

/* line 247, ../../app/stylesheets/styles.scss */
#col-left hr {
  color: #EEEEEE;
  background-color: #EEEEEE;
  height: 2px;
  border: none;
}

/**
*Forms
*/
/* line 258, ../../app/stylesheets/styles.scss */
label {
  font-weight: bold;
}

/* line 262, ../../app/stylesheets/styles.scss */
fieldset {
  background-color: #FAFAFA;
  border: 1px solid #EEEEEE;
  margin: 0pt 0pt 1.5em;
  padding: 1.4em;
}

/* line 269, ../../app/stylesheets/styles.scss */
input.text, input.title, textarea, select {
  border: 1px solid #EEEEEE;
  margin: 0.5em 0pt;
}

/* line 274, ../../app/stylesheets/styles.scss */
select {
  padding: 3px;
  background-color: #FFF;
}

/* line 279, ../../app/stylesheets/styles.scss */
input.text, input.title {
  padding: 5px;
  width: 300px;
}

/* line 284, ../../app/stylesheets/styles.scss */
input.long-input {
  width: 570px;
}

/* line 288, ../../app/stylesheets/styles.scss */
input.fancy-submit {
  background-color: #555555;
  border: 1px solid #888888;
  color: #DDDDDD;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 1px;
}

/* line 297, ../../app/stylesheets/styles.scss */
input.fancy-submit:hover {
  background-color: #555555;
  color: #FFFFFF;
  cursor: pointer;
}

/* line 303, ../../app/stylesheets/styles.scss */
#col-left label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

/**
*Login && User box
*/
/* line 312, ../../app/stylesheets/styles.scss */
#login-box {
  margin: 0;
  margin-top: 10px;
  overflow: hidden;
  padding: 0pt 0pt 0pt 10px;
  float: right;
  width: 470px;
}

/* line 321, ../../app/stylesheets/styles.scss */
#login-box form {
  padding: 0;
  margin: 0;
}

/* line 326, ../../app/stylesheets/styles.scss */
#login-box fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

/* line 333, ../../app/stylesheets/styles.scss */
#login-box ol {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0pt;
  padding: 0pt 0pt 10px;
}

/* line 341, ../../app/stylesheets/styles.scss */
#login-box ol li, #forgot_user ol li {
  float: left;
  /*margin-right:20px;*/
}

/* line 346, ../../app/stylesheets/styles.scss */
#login-box ol li {
  padding: 0pt 0pt 10px;
  vertical-align: middle;
}

/* line 351, ../../app/stylesheets/styles.scss */
#login-box li {
  width: 180px;
  text-align: left;
}

/* line 356, ../../app/stylesheets/styles.scss */
#login-box p {
  margin: 0;
  padding: 0;
}

/* line 361, ../../app/stylesheets/styles.scss */
#login-box label {
  display: inline;
}

/* line 364, ../../app/stylesheets/styles.scss */
#login-box input.fancy-field {
  background-color: #555555;
  border: 1px solid #888888;
  color: #DDDDDD;
  font-size: 100%;
}

/* line 371, ../../app/stylesheets/styles.scss */
#login-box input.fancy-submit {
  border: 1px solid #888888;
  color: #DDDDDD;
  /*font-family:Georgia,serif;*/
  background-color: #555555;
  /*font-size:14px;*/
  padding: 1px;
  /*font-weight: bold;*/
  font-size: 12px;
}

/* line 381, ../../app/stylesheets/styles.scss */
#login-box input.fancy-submit:hover {
  background-color: #555555;
  color: #FFF;
  cursor: pointer;
}

/* line 387, ../../app/stylesheets/styles.scss */
#login-box li.submit {
  width: 50px;
}

/* line 391, ../../app/stylesheets/styles.scss */
#user-box, #login-box {
  /*color: #EEEEEE;*/
  color: #AAAAAA;
}

/* line 396, ../../app/stylesheets/styles.scss */
#user-box {
  float: right;
  margin-top: 10px;
  width: 300px;
}

/* line 401, ../../app/stylesheets/styles.scss */
#user-box dd {
  margin-top: 3px;
}

/* line 404, ../../app/stylesheets/styles.scss */
#user-box dt, #user-box dd {
  margin: 0pt;
  padding: 0pt;
}

/* line 411, ../../app/stylesheets/styles.scss */
#user-box a, #login-box a {
  width: 100%;
  display: inline;
  text-decoration: none;
  color: #A5BE0E;
}

/* line 418, ../../app/stylesheets/styles.scss */
#user-box a.selected, #login-box a.selected {
  font-weight: bold !important;
  color: #A5BE0E;
}

/* line 425, ../../app/stylesheets/styles.scss */
#user-box a:hover,
#user-box a:focus,
#user-box a.selected {
  color: #FFF;
}

/* line 431, ../../app/stylesheets/styles.scss */
#login-box a:hover,
#login-box a:focus,
#login-box a.selected {
  color: #FFF;
}

/**
*EOF Login && User box
*/
/* line 438, ../../app/stylesheets/styles.scss */
#container {
  width: 970px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 444, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container {
  border-bottom: 1px solid #EEEEEE;
  height: 70px;
  margin-bottom: 5px;
}
/* line 448, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container h1 {
  padding: 0 0 5px 0;
  margin-bottom: 0;
  color: #336999;
  width: 950px;
  line-height: 1;
  font-size: 22px;
  display: block;
  height: 25px;
}
/* line 458, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container span {
  float: left;
  display: block;
}
/* line 462, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a.feed-link, #container div.top-submenu-container a.feed-link:hover, #container div.top-submenu-container a.feed-link:visited {
  display: block;
  margin-right: 20px;
  margin-lefT: 0;
}
/* line 470, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container span.team_name {
  color: #BE420E;
  float: none;
  display: inline;
  margin-right: 0px;
}
/* line 476, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a, #container div.top-submenu-container a:hover, #container div.top-submenu-container a:visited {
  float: left;
  display: block;
  color: #BE420E;
  font-size: 14px;
  padding: 4px;
  padding-left: 20px;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center left;
}
/* line 488, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a:hover {
  color: #336999;
  text-decoration: none;
}
/* line 492, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a#top-submenu-teams {
  background-image: url("/images/icons/group.png");
}
/* line 495, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a#top-submenu-fixtures {
  background-image: url("/images/icons/sitemap-application-blue.png");
}
/* line 498, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a#top-submenu-tables {
  background-image: url("/images/icons/table.png");
}
/* line 501, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a#top-submenu-bombardiers {
  background-image: url("/images/icons/sport_soccer.png");
}
/* line 504, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a#top-submenu-disqualifications {
  background-image: url("/images/icons/cards.png");
}
/* line 507, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a#top-submenu-it-forecast {
  background-image: url("/images/icons/money-coin.png");
}
/* line 511, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a#top-submenu-schedules {
  background-image: url("/images/icons/calendar-select.png");
}
/* line 515, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a#top-submenu-matches {
  background-image: url("/images/icons/protocol.png");
}
/* line 519, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a#top-submenu-about {
  background-image: url("/images/icons/information-white.png");
}
/* line 523, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a.tournament-main-title, #container div.top-submenu-container a.tournament-main-title:hover, #container div.top-submenu-container a.tournament-main-title:visited {
  float: left;
  display: block;
  color: #A5BE0E;
  font-size: 22px;
  padding-left: 0;
  margin-left: 0;
  height: 15px;
  padding: 0px;
  text-decoration: none;
}
/* line 534, ../../app/stylesheets/styles.scss */
#container div.top-submenu-container a.tournament-main-title:hover {
  color: #336999;
}

/* line 539, ../../app/stylesheets/styles.scss */
#col-left, #col-right {
  float: left;
  margin-bottom: 25px;
}

/* left column */
/* line 545, ../../app/stylesheets/styles.scss */
#col-left {
  width: 650px;
  margin-right: 10px;
  padding-right: 20px;
}
/* line 549, ../../app/stylesheets/styles.scss */
#col-left p {
  margin-bottom: 0.5em;
}

/* line 554, ../../app/stylesheets/styles.scss */
#col-right {
  width: 270px;
}

/* New block design */
/* line 560, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border: 1px solid #d9d9d9;
  margin: 0 0 1em 0;
}
/* line 565, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block a {
  text-decoration: none;
  color: #006ca2;
  font-family: arial, verdana,helvetica;
  font-size: 14px;
  font-weight: bold;
}
/* line 575, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block a:hover {
  color: #be420e;
}
/* line 579, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul {
  margin: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
/* line 584, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul li {
  line-height: 1.2em;
  padding: 5px;
  border: 0;
  border-top: 1px solid #d9d9d9;
}
/* line 590, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul li p.post-title {
  line-height: 1.2em;
  margin-bottom: 3px;
}
/* line 595, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul li p.post-date {
  color: #666666;
  line-height: 1em;
  padding: 0;
  margin-bottom: 2px;
}
/* line 603, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul li p.author {
  line-height: 1.2em;
}
/* line 613, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.my-schedule-block li a {
  color: #be420e;
  font-weight: normal;
}
/* line 617, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.my-schedule-block li a:hover {
  color: #006ca2;
}

/* line 624, ../../app/stylesheets/styles.scss */
.sidebar-block-header {
  background-color: transparent;
}
/* line 627, ../../app/stylesheets/styles.scss */
.sidebar-block-header h4 {
  font-size: 100%;
  color: #be420e;
  font-weight: bold;
  margin: 0.6em 0 0.6em 0.4em;
  text-transform: uppercase;
  padding: 0;
}

/* line 639, ../../app/stylesheets/styles.scss */
div.header-bottom table {
  width: 100%;
  color: #be420e;
}
/* line 642, ../../app/stylesheets/styles.scss */
div.header-bottom table td {
  font-size: 12px;
  text-align: center;
}
/* line 646, ../../app/stylesheets/styles.scss */
div.header-bottom table td.control {
  width: 20px;
}

/* EOF New block design */
/**
*EOF Sidebar
*/
/**
*Comment block
*/
/* line 662, ../../app/stylesheets/styles.scss */
#comment_body {
  height: 100px;
  width: 350px;
}

/* line 667, ../../app/stylesheets/styles.scss */
ul.comment {
  clear: both;
  width: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
}

/* line 676, ../../app/stylesheets/styles.scss */
ul.comment li {
  float: left;
  width: 100%;
  margin: 3px 0 0 0;
  padding: 0;
}

/* line 683, ../../app/stylesheets/styles.scss */
ul.comment div.comment-content {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border: 1px solid #d9d9d9;
  margin: 10px 0 10px 0;
  padding: 3px;
}

/* line 693, ../../app/stylesheets/styles.scss */
ul.comment p {
  padding: 3px;
}

/* line 697, ../../app/stylesheets/styles.scss */
ul.comment p.comment-author {
  margin-bottom: 5px;
  border-bottom: 1px solid #EEE;
  color: #AAAAAA;
}
/* line 701, ../../app/stylesheets/styles.scss */
ul.comment p.comment-author a.public_footballer {
  font-weight: bold;
}

/**
*EOF Comment block
*/
/*blog link panel*/
/* line 716, ../../app/stylesheets/styles.scss */
.blog_link_panel {
  white-space: nowrap;
  /*height: 50px;*/
  clear: both;
  float: left;
  position: relative;
  padding: 0;
  line-height: 2em;
  margin: 15px 0 15px 0;
  border: 1px solid #EEEEEE;
}

/*.blog_link_panel_wrap {
    clear:both;
}*/
/* line 731, ../../app/stylesheets/styles.scss */
.blog_link_panel div {
  float: left;
  border-right: 1px solid #EEEEEE;
  margin-right: -1px;
  margin-top: -1px;
  /*height: 25px;*/
  line-height: 2em;
  padding: 1px 20px;
}

/* line 742, ../../app/stylesheets/styles.scss */
.blog_link_panel a, .blog_link_panel span {
  display: block;
  float: left;
  line-height: 2.0em;
  text-decoration: none;
}

/* line 749, ../../app/stylesheets/styles.scss */
.blog_link_panel div.first {
  margin-bottom: -2px;
  padding-bottom: 1px;
  white-space: nowrap;
}

/* line 755, ../../app/stylesheets/styles.scss */
.blog_link_panel div.last {
  margin-bottom: -2px;
  border-right: 0;
  padding-bottom: 1px;
  white-space: nowrap;
}

/* EOF blog panel links */
/* line 763, ../../app/stylesheets/styles.scss */
div.date_link_cell span {
  background: transparent url(/images/icons/calendar.png) no-repeat scroll left center;
  padding-left: 20px;
}

/* line 767, ../../app/stylesheets/styles.scss */
div.edit_link_cell a {
  background: transparent url(/images/icons/pencil.png) no-repeat scroll left center;
  padding-left: 22px;
}

/* line 771, ../../app/stylesheets/styles.scss */
div.delete_link_cell a {
  background: transparent url(/images/icons/delete.png) no-repeat scroll left center;
  padding-left: 18px;
}

/* line 775, ../../app/stylesheets/styles.scss */
div.author_link_cell a {
  background: transparent url(/images/icons/man.png) no-repeat scroll left center;
  padding-left: 20px;
}

/* line 779, ../../app/stylesheets/styles.scss */
div.comment_link_cell a {
  background: transparent url(/images/icons/comment.png) no-repeat scroll left center;
  padding-left: 20px;
}

/* line 783, ../../app/stylesheets/styles.scss */
div.social_link_cell a {
  padding: 2px 5px 1px 5px;
}

/* line 787, ../../app/stylesheets/styles.scss */
div.updating_link_cell span {
  background: transparent url(/images/icons/refresh.gif) no-repeat scroll left center;
  padding-left: 20px;
}

/**
*links with icons
*/
/* line 796, ../../app/stylesheets/styles.scss */
.link-with-icon-container div {
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  height: 25px;
  padding: 1px 20px;
}

/* line 804, ../../app/stylesheets/styles.scss */
a.add-image-link {
  background: transparent url(/images/icons/picture.png) no-repeat scroll left center;
  padding-left: 20px;
  cursor: pointer;
}

/**
*EOF links with icons
*/
/**
* Right Sidebar
*/
/* line 817, ../../app/stylesheets/styles.scss */
#col-right ul {
  margin-left: 5px;
  margin-right: 0;
  list-style: none;
}

/* line 824, ../../app/stylesheets/styles.scss */
#col-right ul li {
  padding: 10px 0 10px 0;
  border-bottom: 1px dotted #EEE;
}

/**
* Pagination
*/
/* line 833, ../../app/stylesheets/styles.scss */
.football_pagination {
  text-align: center;
  padding: .3em;
}

/* line 838, ../../app/stylesheets/styles.scss */
.football_pagination a, .football_pagination span {
  color: #336999;
  padding: .2em .5em;
}

/* line 842, ../../app/stylesheets/styles.scss */
.football_pagination span.disabled {
  color: #AAA;
}

/* line 845, ../../app/stylesheets/styles.scss */
.football_pagination span.current {
  font-weight: bold;
  color: #BE420E;
}

/* line 849, ../../app/stylesheets/styles.scss */
.football_pagination a {
  border: 1px solid #DDDDDD;
  color: #0063DC;
  text-decoration: none;
}

/* line 854, ../../app/stylesheets/styles.scss */
.football_pagination a:hover, .football_pagination a:focus {
  border-color: #888888;
  background: #555555;
  color: white;
}

/* line 859, ../../app/stylesheets/styles.scss */
.football_pagination .page_info {
  color: #aaa;
  padding-top: .8em;
}

/* line 863, ../../app/stylesheets/styles.scss */
.football_pagination .prev_page, .football_pagination .next_page {
  border-width: 2px;
}

/* line 866, ../../app/stylesheets/styles.scss */
.football_pagination .prev_page {
  margin-right: 1em;
}

/* line 869, ../../app/stylesheets/styles.scss */
.football_pagination .next_page {
  margin-left: 1em;
}

/**
*Notification blocks
*/
/* line 877, ../../app/stylesheets/styles.scss */
.error, .notice, .success {
  border: 2px solid #DDDDDD;
  margin-bottom: 1em;
  padding: 0.8em;
}

/* line 883, ../../app/stylesheets/styles.scss */
.error {
  background: #fbe3e4 none repeat scroll 0% 0%;
  border-color: #FBC2C4;
  color: #8A1F11;
}

/* line 889, ../../app/stylesheets/styles.scss */
.warning {
  background: #fff6bf none repeat scroll 0% 0%;
  border-color: #FBC2C4;
  color: #8A1F11;
}

/* line 895, ../../app/stylesheets/styles.scss */
.notice {
  background: #e6efc2 none repeat scroll 0% 0%;
  border-color: #C6D880;
  color: #264409;
}

/**
* Articles
*/
/* line 906, ../../app/stylesheets/styles.scss */
.article-title-image {
  border: 1px solid #EEE;
  margin: 0pt 7px 7px 0pt;
  padding: 5px;
  float: left;
}

/**
* EOF Articles
*/
/**
* Gallery
*/
/* line 921, ../../app/stylesheets/styles.scss */
#uploaded-files {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

/* line 927, ../../app/stylesheets/styles.scss */
#uploaded-files img {
  width: 150px;
  float: left;
  margin-right: 10px;
}

/* line 933, ../../app/stylesheets/styles.scss */
#uploaded-files li {
  clear: both;
  display: block;
  padding: 10px 0;
}

/**
* Tournament and result tables
*/
/* line 942, ../../app/stylesheets/styles.scss */
table.game-result {
  border-collapse: collapse;
}

/* line 946, ../../app/stylesheets/styles.scss */
table.game-result td {
  font-style: italic;
  padding: 5px;
  border: 1px solid #EEEEEE;
  text-align: center;
}

/* line 952, ../../app/stylesheets/styles.scss */
table.game-result td.result {
  font-style: normal;
  font-weight: bold;
}

/* line 957, ../../app/stylesheets/styles.scss */
table.tournament {
  border-collapse: collapse;
}

/* line 961, ../../app/stylesheets/styles.scss */
table.tournament tr.even {
  background-color: #FAFAFA;
}

/* line 965, ../../app/stylesheets/styles.scss */
table.tournament td, table.tournament th {
  border: 1px solid #EEEEEE;
  padding: 8px;
  text-align: center;
}

/* line 970, ../../app/stylesheets/styles.scss */
table.tournament td.team {
  text-align: left;
}

/**
* Eof Tournament and result tables
*/
/**
*Public profile
**/
/* line 982, ../../app/stylesheets/styles.scss */
#profile-photo-block {
  border: 1px solid #EEEEEE;
  float: left;
  background-color: #FAFAFA;
  /*width: 200px;
  height: 300px;*/
}

/* line 989, ../../app/stylesheets/styles.scss */
#profile-data-block {
  border: 1px solid #EEEEEE;
  float: left;
  background-color: #FAFAFA;
  /*width: 440px;*/
  width: 416px;
  margin-left: 10px;
  padding: 10px;
}

/* line 999, ../../app/stylesheets/styles.scss */
#profile-data-block dt, #profile-data-block dd {
  margin-bottom: 10px;
}

/* line 1003, ../../app/stylesheets/styles.scss */
#profile-data-block dt {
  clear: both;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  width: 70px;
}

/* line 1012, ../../app/stylesheets/styles.scss */
#profile-data-block dd {
  float: left;
}

/**
*EOF Public profile
**/
/* line 1019, ../../app/stylesheets/styles.scss */
div.image-loading-container {
  display: none;
  text-align: center;
}

/*Shop block*/
/* line 1028, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block img.prev, #col-right .sidebar-block img.next {
  float: right;
  margin-right: 3px;
}
/* line 1032, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block img.prev:hover, #col-right .sidebar-block img.next:hover {
  cursor: pointer;
}
/* line 1035, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block .sidebar-shop-content {
  border-top: 1px solid #d9d9d9;
  padding: 0.6em 0.6em 0 0.6em;
  text-align: center;
}
/* line 1040, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block .sidebar-shop-content .sidebar-shop-content-wrap {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 251px;
  height: 200px;
}
/* line 1046, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block .sidebar-shop-content .sidebar-shop-content-wrap ul.sidebar-shop-content-list {
  width: 20000em;
  position: absolute;
}
/* line 1049, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block .sidebar-shop-content .sidebar-shop-content-wrap ul.sidebar-shop-content-list li {
  border: none;
  height: 200px;
  width: 251px;
  float: left;
}
/* line 1054, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block .sidebar-shop-content .sidebar-shop-content-wrap ul.sidebar-shop-content-list li a {
  font-weight: normal;
}

/*EOF Shop block*/
/*Quick Match Results block*/
/* line 1068, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li {
  padding: 3px 0;
}
/* line 1070, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li div.score-container {
  float: left;
  width: 45px;
  margin: 0 2px;
}
/* line 1071, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li div.hosts, #col-right .sidebar-block ul.quick_match_results li div.guests {
  float: left;
  width: 109px;
  padding-top: 1px;
  font-size: 12px;
}
/* line 1077, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li div.hosts {
  text-align: right;
}
/* line 1078, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li div.guests {
  text-align: left;
}
/* line 1080, ../../app/stylesheets/styles.scss */
#col-right .sidebar-block ul.quick_match_results li.odd {
  background-color: #FAFAFA;
}

/*EOF Quick Match Results block*/
/* line 1084, ../../app/stylesheets/styles.scss */
ul.team-list {
  list-style-type: none;
}
/* line 1086, ../../app/stylesheets/styles.scss */
ul.team-list li {
  padding: 5px 0;
}

/* line 1091, ../../app/stylesheets/styles.scss */
ul.team-list {
  float: left;
  width: 230px;
}

/* line 1096, ../../app/stylesheets/styles.scss */
table.schedule {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 100%;
}
/* line 1101, ../../app/stylesheets/styles.scss */
table.schedule td, table.schedule th {
  border: 1px solid #d9d9d9;
  padding: 5px;
}
/* line 1105, ../../app/stylesheets/styles.scss */
table.schedule td {
  text-align: left;
}
/* line 1109, ../../app/stylesheets/styles.scss */
table.schedule td.venue {
  width: 150px;
  text-align: center;
}
/* line 1113, ../../app/stylesheets/styles.scss */
table.schedule td.time {
  width: 50px;
  text-align: center;
}
/* line 1117, ../../app/stylesheets/styles.scss */
table.schedule td.league {
  width: 100px;
  text-align: center;
}
/* line 1121, ../../app/stylesheets/styles.scss */
table.schedule th {
  color: #be420e;
  font-size: 100%;
  font-weight: bold;
  margin: 0.6em 0 0.6em 0.4em;
  text-transform: uppercase;
  padding: 5px;
}

/*Players list*/
/* line 1132, ../../app/stylesheets/styles.scss */
table.player-list {
  border-collapse: collapse;
}
/* line 1134, ../../app/stylesheets/styles.scss */
table.player-list tr {
  display: table-row;
}
/* line 1137, ../../app/stylesheets/styles.scss */
table.player-list td {
  vertical-align: top;
  /*font-size: 1em;*/
  /*width: 18px;*/
  text-align: left;
  padding: 0 0 26px;
}
/* line 1145, ../../app/stylesheets/styles.scss */
table.player-list td.avatar {
  vertical-align: middle;
  padding-left: 14px;
}
/* line 1150, ../../app/stylesheets/styles.scss */
table.player-list td.footballer {
  text-align: left;
  padding-left: 14px;
  line-height: 1.2em;
}
/* line 1154, ../../app/stylesheets/styles.scss */
table.player-list td.footballer dl {
  display: block;
}
/* line 1156, ../../app/stylesheets/styles.scss */
table.player-list td.footballer dl dt {
  margin-bottom: 5px;
  font-size: 150%;
  line-height: 1em;
}
/* line 1161, ../../app/stylesheets/styles.scss */
table.player-list td.footballer dl dd.user {
  background: transparent url(/images/icons/man.png) no-repeat scroll left center;
  padding-left: 20px;
  padding-top: 2px;
  display: block;
  height: 20px;
}

/**
*Match result table
**/
/* line 1178, ../../app/stylesheets/styles.scss */
table.match-result-table, table.tournament-position, table.fixtures {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* line 1188, ../../app/stylesheets/styles.scss */
table.match-result-table caption, table.fixtures caption {
  padding: 0 0 5px 0;
  width: 100%;
  font-size: 12px;
  color: #BE420E;
  text-align: left;
}
/* line 1195, ../../app/stylesheets/styles.scss */
table.match-result-table th, table.fixtures th {
  color: #336999;
  font-size: 118%;
}
/* line 1200, ../../app/stylesheets/styles.scss */
table.match-result-table th, table.match-result-table td, table.fixtures th, table.fixtures td {
  text-align: left;
  padding: 2px;
}
/* line 1205, ../../app/stylesheets/styles.scss */
table.match-result-table th, table.match-result-table tr, table.fixtures th, table.fixtures tr {
  border: 1px solid #EEEEEE;
}
/* line 1209, ../../app/stylesheets/styles.scss */
table.match-result-table td.date-time, table.fixtures td.date-time {
  width: 180px;
}
/* line 1213, ../../app/stylesheets/styles.scss */
table.match-result-table td.venue, table.fixtures td.venue {
  width: 120px;
}
/* line 1217, ../../app/stylesheets/styles.scss */
table.match-result-table th.scores, table.match-result-table td.scores, table.fixtures th.scores, table.fixtures td.scores {
  width: 50px;
  text-align: center;
}
/* line 1221, ../../app/stylesheets/styles.scss */
table.match-result-table td.hosts, table.match-result-table th.hosts, table.fixtures td.hosts, table.fixtures th.hosts {
  text-align: right;
  width: 300px;
}
/* line 1226, ../../app/stylesheets/styles.scss */
table.match-result-table td.guests, table.match-result-table th.guests, table.fixtures td.guests, table.fixtures th.guests {
  width: 300px;
}
/* line 1230, ../../app/stylesheets/styles.scss */
table.match-result-table td.protocol, table.fixtures td.protocol {
  width: 90px;
}

/* line 1237, ../../app/stylesheets/styles.scss */
table.fixtures {
  width: 450px;
  float: left;
}
/* line 1240, ../../app/stylesheets/styles.scss */
table.fixtures td.date {
  width: 300px;
}
/* line 1243, ../../app/stylesheets/styles.scss */
table.fixtures td.group {
  width: 80px;
  text-align: center;
}
/* line 1247, ../../app/stylesheets/styles.scss */
table.fixtures td.hosts {
  padding-right: 10px;
}
/* line 1250, ../../app/stylesheets/styles.scss */
table.fixtures td.guests {
  padding-left: 10px;
}
/* line 1253, ../../app/stylesheets/styles.scss */
table.fixtures th.spacer, table.fixtures td.spacer {
  width: 10px;
}

/*table.match-result-table td.team-name, table.match-result-table td.match-score {*/
/*width: 25%;*/
/*text-align:center;*/
/*border: 1px solid #EEEEEE;*/
/*color: #BE420E;*/
/*font-weight:bold;*/
/*padding: 3px;*/
/*}*/
/*table.match-result-table td.content {*/
/*vertical-align: top;*/
/*border:1px solid #EEEEEE;*/
/*}*/
/*table.match-result-table  td.match-score {*/
/*width: 50%;*/
/*}*/
/*table.match-result-table ul.team-players-list {*/
/*list-style-type: none;*/
/*text-align: left;*/
/*//  margin-left:3px;*/
/*li {padding:3px 5px;}*/
/*li.odd {background-color:#FAFAFA;}*/
/*}*/
/**
*Tournament tables
*/
/* line 1293, ../../app/stylesheets/styles.scss */
table.tournament-position, table.bombardier-position, table.team_rate-position {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 450px;
  float: left;
}
/* line 1299, ../../app/stylesheets/styles.scss */
table.tournament-position th, table.bombardier-position th, table.team_rate-position th {
  text-align: center;
  color: #336999;
  border: 1px solid #EEEEEE;
  font-size: 118%;
}
/* line 1306, ../../app/stylesheets/styles.scss */
table.tournament-position td, table.bombardier-position td, table.team_rate-position td {
  padding: 3px;
  border: 1px solid #EEEEEE;
}
/* line 1310, ../../app/stylesheets/styles.scss */
table.tournament-position td.place, table.bombardier-position td.place, table.team_rate-position td.place {
  width: 30px;
  text-align: right;
}
/* line 1313, ../../app/stylesheets/styles.scss */
table.tournament-position td.place div.position-change, table.bombardier-position td.place div.position-change, table.team_rate-position td.place div.position-change {
  float: left;
  font-weight: bold;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center right;
  padding-right: 10px;
  width: 20px;
}
/* line 1322, ../../app/stylesheets/styles.scss */
table.tournament-position td.place div.up, table.bombardier-position td.place div.up, table.team_rate-position td.place div.up {
  color: #60B571;
  background-image: url("/images/icons/raise-arrow.png");
}
/* line 1323, ../../app/stylesheets/styles.scss */
table.tournament-position td.place div.down, table.bombardier-position td.place div.down, table.team_rate-position td.place div.down {
  color: #BE420E;
  background-image: url("/images/icons/down-arrow.png");
}
/* line 1326, ../../app/stylesheets/styles.scss */
table.tournament-position td.team, table.bombardier-position td.team, table.team_rate-position td.team {
  width: 170px;
}
/* line 1327, ../../app/stylesheets/styles.scss */
table.tournament-position td.games, table.bombardier-position td.games, table.team_rate-position td.games {
  width: 40px;
  text-align: center;
}
/* line 1328, ../../app/stylesheets/styles.scss */
table.tournament-position td.goals, table.bombardier-position td.goals, table.team_rate-position td.goals {
  width: 50px;
  text-align: center;
}
/* line 1329, ../../app/stylesheets/styles.scss */
table.tournament-position td.scores, table.bombardier-position td.scores, table.team_rate-position td.scores {
  width: 40px;
  text-align: center;
}
/* line 1330, ../../app/stylesheets/styles.scss */
table.tournament-position td.diff, table.bombardier-position td.diff, table.team_rate-position td.diff {
  width: 40px;
  text-align: center;
}
/* line 1332, ../../app/stylesheets/styles.scss */
table.tournament-position tr.header td, table.bombardier-position tr.header td, table.team_rate-position tr.header td {
  color: #be420e;
  font-weight: bold;
}

/* line 1339, ../../app/stylesheets/styles.scss */
table.tournament-position.even {
  margin-left: 10px;
}

/* line 1345, ../../app/stylesheets/styles.scss */
#container ol {
  list-style-position: inside;
}
/* line 1347, ../../app/stylesheets/styles.scss */
#container ol li {
  margin-bottom: 5px;
  font-style: italic;
}
/* line 1353, ../../app/stylesheets/styles.scss */
#container div#it-forecast-container p {
  margin-bottom: 10px;
}

/* line 1359, ../../app/stylesheets/styles.scss */
h2.tournament-subtitle {
  border-bottom: 0;
  line-height: 1em;
  margin-bottom: 5px;
}

/* line 1365, ../../app/stylesheets/styles.scss */
table.bombardier-position {
  width: 600px;
}
/* line 1367, ../../app/stylesheets/styles.scss */
table.bombardier-position td.place {
  width: 30px;
  text-align: center;
}
/* line 1371, ../../app/stylesheets/styles.scss */
table.bombardier-position td.goals {
  width: 20px;
  text-align: center;
}
/* line 1375, ../../app/stylesheets/styles.scss */
table.bombardier-position tr.header {
  text-align: center;
}

/* line 1380, ../../app/stylesheets/styles.scss */
h2.team_rate-subtitle {
  border-bottom: 0;
  line-height: 1em;
  margin-bottom: 5px;
}

/* line 1386, ../../app/stylesheets/styles.scss */
table.team_rate-position {
  width: 600px;
}
/* line 1388, ../../app/stylesheets/styles.scss */
table.team_rate-position td.place {
  width: 30px;
  text-align: center;
}
/* line 1392, ../../app/stylesheets/styles.scss */
table.team_rate-position td.rate {
  width: 45px;
  text-align: center;
}
/* line 1396, ../../app/stylesheets/styles.scss */
table.team_rate-position td.stat {
  width: 20px;
  text-align: center;
}
/* line 1400, ../../app/stylesheets/styles.scss */
table.team_rate-position tr.header {
  text-align: center;
}

/**
*
*Schedules
*
*/
/* line 1410, ../../app/stylesheets/styles.scss */
.schedule-page-header {
  text-align: center;
}
/* line 1412, ../../app/stylesheets/styles.scss */
.schedule-page-header div.schedule-page-wrap {
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 5px;
}
/* line 1418, ../../app/stylesheets/styles.scss */
.schedule-page-header a.prev, .schedule-page-header a.next {
  display: block;
  margin-right: 3px;
  margin-top: 12px;
}
/* line 1423, ../../app/stylesheets/styles.scss */
.schedule-page-header h2 {
  margin: 0 15px;
  padding: 0;
  float: left;
  border-bottom: none;
}

/* line 1431, ../../app/stylesheets/styles.scss */
input.fancy_score_edit {
  width: 15px;
  border: 1px solid #000;
}

/* line 1436, ../../app/stylesheets/styles.scss */
.wrap-container {
  text-align: center;
}

/* line 1440, ../../app/stylesheets/styles.scss */
div.schedule-content-wrap {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  /*text-align:center;*/
  /*width: 700px;*/
  /*height:600px;*/
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border: 1px solid #d9d9d9;
}
/* line 1449, ../../app/stylesheets/styles.scss */
div.schedule-content-wrap div.schedule-header {
  font-size: 100%;
  color: #be420e;
  text-align: center;
  padding: 3px;
  height: 30px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 1457, ../../app/stylesheets/styles.scss */
div.schedule-content-wrap div.schedule-content {
  overflow: auto;
}

/* line 1463, ../../app/stylesheets/styles.scss */
div.schedule-content table {
  border-collapse: collapse;
  width: 100%;
}
/* line 1466, ../../app/stylesheets/styles.scss */
div.schedule-content table td {
  border: 1px solid #d9d9d9;
  padding: 5px;
  text-align: left;
}
/* line 1471, ../../app/stylesheets/styles.scss */
div.schedule-content table td.tournament {
  width: 100px;
  text-align: center;
}
/* line 1475, ../../app/stylesheets/styles.scss */
div.schedule-content table td.tour {
  width: 100px;
  text-align: center;
}
/* line 1479, ../../app/stylesheets/styles.scss */
div.schedule-content table td.score-container {
  width: 45px;
  margin: 0 2px;
}
/* line 1480, ../../app/stylesheets/styles.scss */
div.schedule-content table td.hosts, div.schedule-content table td.guests {
  width: 145px;
}
/* line 1481, ../../app/stylesheets/styles.scss */
div.schedule-content table td.venue {
  width: 150px;
  text-align: center;
}
/* line 1484, ../../app/stylesheets/styles.scss */
div.schedule-content table td.venue img, div.schedule-content table td.venue a {
  float: left;
}
/* line 1487, ../../app/stylesheets/styles.scss */
div.schedule-content table td.venue a {
  display: block;
  margin-left: 5px;
}
/* line 1492, ../../app/stylesheets/styles.scss */
div.schedule-content table td.time {
  width: 40px;
  text-align: center;
}
/* line 1496, ../../app/stylesheets/styles.scss */
div.schedule-content table td.league {
  text-align: center;
}

/**
* Filter block styles
*/
/* line 1506, ../../app/stylesheets/styles.scss */
.b-slide-filter {
  font-size: 13px;
  height: 25px;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 21px;
  padding-bottom: 22px;
}
/* line 1512, ../../app/stylesheets/styles.scss */
.b-slide-filter .lbl {
  cursor: text;
  line-height: 22px;
  margin-right: 20px;
}
/* line 1517, ../../app/stylesheets/styles.scss */
.b-slide-filter * {
  vertical-align: middle;
}
/* line 1521, ../../app/stylesheets/styles.scss */
.b-slide-filter .l-slide-menu {
  background-position: 0 -346px;
  display: inline-block;
  position: relative;
}
/* line 1527, ../../app/stylesheets/styles.scss */
.b-slide-filter b, .b-slide-filter .l-slide-menu, .b-slide-filter .slide {
  height: 25px;
}
/* line 1530, ../../app/stylesheets/styles.scss */
.b-slide-filter b {
  position: absolute;
  top: 0;
  width: 15px;
}
/* line 1537, ../../app/stylesheets/styles.scss */
.b-slide-filter .slide .l {
  background-position: -138px -308px;
  left: -15px;
}
/* line 1541, ../../app/stylesheets/styles.scss */
.b-slide-filter .slide .r {
  background-position: -168px -308px;
  right: -15px;
}
/* line 1545, ../../app/stylesheets/styles.scss */
.b-slide-filter .slide .c {
  background-position: -152px -308px;
  height: 31px;
  left: 50%;
  margin-left: -7px;
  width: 14px;
}

/*Match page*/
/* line 1556, ../../app/stylesheets/styles.scss */
h3 a.season-matches-link, h3 a.season-matches-link:hover {
  color: #A5BE0E;
  font-size: 90%;
}

/* line 1560, ../../app/stylesheets/styles.scss */
h3 a.season-matches-link:hover {
  color: #336999;
}

/* line 1564, ../../app/stylesheets/styles.scss */
table.match {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border-collapse: collapse;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
}
/* line 1571, ../../app/stylesheets/styles.scss */
table.match td.broadcasting {
  padding: 0;
}
/* line 1573, ../../app/stylesheets/styles.scss */
table.match td.broadcasting table {
  border: none;
  width: 100%;
}
/* line 1576, ../../app/stylesheets/styles.scss */
table.match td.broadcasting table td {
  border: none;
}
/* line 1582, ../../app/stylesheets/styles.scss */
table.match th.host, table.match th.guest {
  width: 250px;
}
/* line 1585, ../../app/stylesheets/styles.scss */
table.match td, table.match th {
  border: 1px solid #d9d9d9;
  padding: 5px;
}
/* line 1589, ../../app/stylesheets/styles.scss */
table.match td {
  text-align: left;
  vertical-align: top;
}
/* line 1592, ../../app/stylesheets/styles.scss */
table.match td p.subheader {
  color: #BE420E;
  font-weight: bold;
}
/* line 1599, ../../app/stylesheets/styles.scss */
table.match td.statistic p span {
  color: #BE420E;
  font-weight: bold;
}
/* line 1604, ../../app/stylesheets/styles.scss */
table.match td.minute {
  width: 40px;
}
/* line 1608, ../../app/stylesheets/styles.scss */
table.match th {
  color: #be420e;
  font-size: 100%;
  font-weight: bold;
  margin: 0.6em 0 0.6em 0.4em;
  padding: 5px;
}
/* line 1616, ../../app/stylesheets/styles.scss */
table.match ul.players_list {
  list-style-type: none;
}
/* line 1618, ../../app/stylesheets/styles.scss */
table.match ul.players_list li {
  padding-bottom: 3px;
}

/*Footballer Page*/
/* line 1627, ../../app/stylesheets/styles.scss */
.photo_block {
  width: 255px;
  float: left;
}
/* line 1630, ../../app/stylesheets/styles.scss */
.photo_block img {
  border: 1px solid black;
}

/* line 1638, ../../app/stylesheets/styles.scss */
.info_container {
  float: left;
  padding-left: 5px;
  width: 660px;
}
/* line 1642, ../../app/stylesheets/styles.scss */
.info_container h3 {
  margin-bottom: 10px;
}
/* line 1645, ../../app/stylesheets/styles.scss */
.info_container p.season-content {
  margin-bottom: 0;
  padding-bottom: 7px;
}
/* line 1649, ../../app/stylesheets/styles.scss */
.info_container h4 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  /*display: inline;*/
}
/* line 1655, ../../app/stylesheets/styles.scss */
.info_container h4 a {
  text-decoration: none;
  color: #336999;
}
/* line 1661, ../../app/stylesheets/styles.scss */
.info_container table.footballer-schedule {
  background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
/* line 1666, ../../app/stylesheets/styles.scss */
.info_container table.footballer-schedule caption {
  padding: 0 0 5px 0;
  width: 100%;
  font-size: 12px;
  color: #BE420E;
  text-align: left;
}

/* line 1676, ../../app/stylesheets/styles.scss */
#col-left p.season-header {
  margin-bottom: 0;
}
