%ul#top-navigation
  %li.active
    %span
      %span Главная
  %li
    %span
      %span
        %a{:href => '#'} Контент
  %li
    %span
      %span
        %a{:href => '#'} Личный Состав
  %li
    %span
      %span
        %a{:href => '#'} Чемпионаты
  %li
    %span
      %span
        %a{:href => '#'} Администрация