<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag '/source/extjs/resources/css/ext-all.css' %>
  <%= stylesheet_link_tag 'admin/style.css' %>
  <%= javascript_include_tag '/source/extjs/adapter/ext/ext-base.js' %>
  <%= javascript_include_tag '/source/extjs/ext-all-debug.js' %>
  <%= javascript_include_tag 'admin/settings.js' %>
  <%= javascript_include_tag 'admin/application.js' %>
  <%= javascript_include_tag 'admin/menu.js' %>
  <%= javascript_include_tag 'admin/common/setfieldlabel.js' %>
  <%= javascript_include_tag 'admin/common/multiselect.js' %>
  <%= javascript_include_tag 'admin/common/itemselector.js' %>
  <%= javascript_include_tag 'admin/common/domquery.js' %>
  <%= javascript_include_tag 'admin/common/spinner.js' %>
  <%= javascript_include_tag 'admin/common/spinnerfield.js' %>
  <%= javascript_include_tag 'admin/comments/grid.js' %>
  <%= javascript_include_tag 'admin/tournaments/grid.js' %>
  <%= javascript_include_tag 'admin/tournaments/dialog.js' %>
  <%= javascript_include_tag 'admin/seasons/grid.js' %>
  <%= javascript_include_tag 'admin/seasons/dialog.js' %>
  <%= javascript_include_tag 'admin/stages/grid.js' %>
  <%= javascript_include_tag 'admin/stages/dialog.js' %>
  <%= javascript_include_tag 'admin/leagues/grid.js' %>
  <%= javascript_include_tag 'admin/leagues/dialog.js' %>
  <%= javascript_include_tag 'admin/leagues/teamsform.js' %>
  <%= javascript_include_tag 'admin/teams/grid.js' %>
  <%= javascript_include_tag 'admin/teams/dialog.js' %>
  <%= javascript_include_tag 'admin/teams/footballersform.js' %>
  <%= javascript_include_tag 'admin/footballers/grid.js' %>
  <%= javascript_include_tag 'admin/footballers/dialog.js' %>
  <%= javascript_include_tag 'admin/matches/matchespanel.js' %>
  <%= javascript_include_tag 'admin/permissions/permission_tree.js' %>
<title>Административная секция: Football.kharkov.ua</title>
</head>
<body>
  <!-- use class="x-hide-display" to prevent a brief flicker of the content -->
    <div id="west" class="x-hide-display"></div>
    <div id="center2" class="x-hide-display">
       <!--content of the center panel-->
    </div>
</body>
</html>