%h1.tournament-header
  = tournament_title
  = link_to image_tag("/images/icons/feed.png", :size => "16x16"), url_for({:action=>"feed", :controller=>"tournaments"}), :class => "feed-link"
  = link_to "Команды", teams_path, :id => "top-submenu-teams"
  = link_to "Расписание", schedules_path, :id => "top-submenu-schedules"
  .clear