%ul.quick_match_results
  - schedules.each_with_index do |item, i|
    - winner_class = "fancy-score-winner"
    - loser_class = "fancy-score-loser"
    - hosts_class = ""
    - guests_class = ""
    - if item.host_scores.to_i > item.guest_scores.to_i
      - hosts_class = winner_class
      - guests_class = loser_class
    - elsif item.host_scores.to_i < item.guest_scores.to_i
      - hosts_class = loser_class
      - guests_class = winner_class
    - else
      - hosts_class = "fancy-score-equal"
      - guests_class = "fancy-score-equal"
    -row_class = i%2 == 0 ? "" : "odd"
    %li{:class => row_class}
      .hosts= link_to item.hosts.name, team_url(item.hosts.url)
      .score-container
        .fancy-score{:class => hosts_class }= !item.host_scores.nil? ? item.host_scores : "-"
        .fancy-score.fancy-score-right{:class => guests_class }= !item.guest_scores.nil? ? item.guest_scores : "-"
      .guests= link_to(item.guests.name, team_url(item.guests.url))
      .clear