<ul class="topnav">
    <li><%= link_to('Главная', url_for('/')) %></li>
    <li><%= link_to('Форум', 'http://forum.football.kharkov.ua/', {:target => "_blank"}) %></li>
    <li><%= link_to('Магазин', 'http://shop.football.kharkov.ua/', {:target => "_blank"}) %></li>
</ul>