<div id="user-box">
<dl>
  <dt>
    Привет, <%= link_to current_user.username, user_path(:id => current_user, :subdomain => false) %>! (<%= link_to "Выйти", destroy_user_session_path(:subdomain => false) %>)
  </dt>
  <dd>
    <%= link_to 'Редактировать профиль', edit_profile_path(:subdomain => false) %>
  </dd>
  <dd>
    <%= link_to 'Написать что-нибудь интересное!', :controller=>:article, :action=>:new, :subdomain => false %>
  </dd>
</dl>
</div>
