
/*
    Document   : style.css
    Created on : 13.12.2008, 21:18:49
    Author     : denix
    Description:
        Purpose of the stylesheet follows.
*/

/**
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

$block_border_color: #D9D9D9;
$block_header_color: #BE420E;
$block_link_color: #006CA2;
$block_grey_text_color: #666666;

/**
*Layout
*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
	font-family: Verdana, Arial, Helvetica;
}

body
{
  font-size: 81.25%;
  color: #444;
  line-height:1.5;
  background: #fff url(/images/bg-center.gif) repeat-x scroll left 85px;
}

ul {
    list-style-type:disc;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

#outer {
	min-height: 100%;
	margin-bottom: -100px;
	height: auto;
	width: 100%;
}

* html #outer {
	height:100%;
}
#inner {
	width: 100%;
}

a#logo-link {
 float: left;
}

#footer {
	width: 100%;
	clear: both;
	height: 100px;
  color: #bbb;
	background-color: #222;
}
#clearfooter {
	clear: both;
	height: 100px;
}
/* safari wrapper */
html>body #minHeight {
	float: left;
	width: 0px;
	height: 100%;
	margin-bottom: -202px;
}
/* end safari wrapper */

.clear {
	clear: both;
	font-size: 1px;
	height: 1px;
}

.clear-space {
  clear: both;
  font-size: 10px;
	height: 10px;
}

/**
*EOF Layout
*/

#header {
        width: 100%;
//    width: 970px;
    /*height: 85px;*/
//    height: 110px;
    height: 120px;
//    background: #000 url(/images/bg-top.gif) repeat-x left top;
    background: #000 url(/images/header_bg.gif) repeat-x left top;
    margin-bottom: 1.1em;
    position: relative;
}
#header-block {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/**
*Panel near scroll
**/

div#near-scroll-panel {
  position: fixed;
  right: 0;
  top: 130px;
  width:36px;
  a.button-container {
    margin-bottom: 5px;
    display:block;
  }
}

/*EOF Panel near scroll*/


/**
* General Styles
*/
table tr.odd {
  background-color:#FAFAFA;
}

a:focus, a:hover {
    color:#BE420E;
}

a {
  color:#336999;
  outline-color:-moz-use-text-color;
  outline-style:none;
  outline-width:medium;
  text-decoration:underline;
}

h1, h2, h3, h4, h5 {
    color:#BE420E;
}

h2 a, h3 a, h4 a {
    text-decoration:none;
    color:#BE420E;
}
h2 a:hover, h3 a:hover, h4 a:hover {
    color: #336999;
}


h2 {
  border-bottom:1px solid #EEEEEE;
  font-size:164%;
  font-weight:bold;
  margin-bottom:0.75em;
  span.right-arrow, a.tournament {
    color: $block_border_color;
  }
  a.tournament, a.tournament:hover{
    color: #A5BE0E;
  }
  a.tournament:hover {
    color: #336999;
  }
}

h4.status {
  border:none;
  font-size:105%;
  /*font-weight:normal;*/
  margin-bottom:0.1em;
  span.right-arrow, a.tournament {
    color: $block_border_color;
  }

  a {
    color: #336999;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }

  a.tournament, a.tournament:hover{
    text-decoration: none;
    color: #A5BE0E;
  }
  a.tournament:hover {
    text-decoration: none;
    color: #336999;
  }
}

h4 {
    font-size:118%;
    font-weight:bold;
    margin-top:0.6em;
    padding-top:0.4em;
    line-height:1.25em;
    margin-bottom:1.25em;
}
h5 {
    font-size:110%;
    font-weight:bold;
    margin-bottom:1em;
}

#col-left h1 {
    border-bottom:1px solid #eee;
    font-size:180%;
    font-weight:bold;
    margin-bottom: 10px;
}

#col-left hr {
  color: #eee;
  background-color: #eee;
  height: 2px;
  border: 0;
}

/**
*Forms
*/

label {
    font-weight:bold;
}

fieldset {
    background-color:#FAFAFA;
    border:1px solid #EEEEEE;
    margin:0pt 0pt 1.5em;
    padding:1.4em;
}

input.text, input.title, textarea, select {
    border: 1px solid #eee;
    margin: 0.5em 0;
}

select {
  padding: 3px;
  background-color: #FFF;
}

input.text, input.title {
    padding:5px;
    width:300px;
}

input.long-input {
    width: 570px;
}

input.fancy-submit {
    background-color:#555555;
    border:1px solid #888888;
    color:#DDDDDD;
    letter-spacing: 1px;
    font-size:12px;
    padding:1px;
}

input.fancy-submit:hover {
    background-color:#555555;
    color:#FFFFFF;
    cursor:pointer;
}

#col-left label {
    margin-top:10px;
    display:block;
    font-weight:bold;
}

/**
*Login && User box
*/
#login-box {
  margin: 0;
  margin-top: 10px;
  overflow:hidden;
  padding:0pt 0pt 0pt 10px;
  float: right;
  width:470px;
}

#login-box form {
  padding: 0;
  margin: 0;
}

#login-box fieldset {
  border: 0;
  margin:0;
  padding:0;
  background-color: transparent;
}

#login-box ol {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0pt;
  padding:0pt 0pt 10px;
}

#login-box ol li, #forgot_user ol li {
  float:left;
  /*margin-right:20px;*/
}

#login-box ol li {
  padding:0pt 0pt 10px;
  vertical-align:middle;
}

#login-box li {
  width: 180px;
  text-align: left;
}

#login-box p {
  margin: 0;
  padding: 0;
}

#login-box label {
  display: inline;
}
#login-box input.fancy-field {
  background-color:#555555;
  border:1px solid #888888;
  color:#DDDDDD;
  font-size:100%;
}

#login-box input.fancy-submit {
  border:1px solid #888888;
  color:#DDDDDD;
  /*font-family:Georgia,serif;*/
  background-color:#555555;
  /*font-size:14px;*/
  padding:1px;
  /*font-weight: bold;*/
  font-size: 12px;
}
#login-box input.fancy-submit:hover {
  background-color:#555555;
  color: #FFF;
  cursor: pointer;
}

#login-box li.submit {
  width:50px;
}

#user-box, #login-box {
  /*color: #EEEEEE;*/
  color: #AAAAAA;
}

#user-box {
  float:right;
  margin-top:10px;
  width:300px;
}
#user-box dd {
  margin-top:3px;
}
#user-box dt, #user-box dd {
  margin:0pt;
  padding:0pt;
}


#user-box a, #login-box a
{
 width:        100%;
 display:      inline;
 text-decoration:  none;
 color: #A5BE0E;
}
#user-box a.selected, #login-box a.selected
{
 font-weight:    bold !important;
 color: #A5BE0E;
}
#user-box a:hover,
#user-box a:focus,
#user-box a.selected
{
 color: #FFF;
}
#login-box a:hover,
#login-box a:focus,
#login-box a.selected
{
 color: #FFF;
}
/**
*EOF Login && User box
*/

#container {
	width: 970px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	div.top-submenu-container{
	  border-bottom:1px solid #EEEEEE;
	  height: 70px;
	  margin-bottom: 5px;
	  h1 {
      padding: 0 0 5px 0;
      margin-bottom: 0;
      color: #336999;
      width: 950px;
      line-height: 1;
      font-size: 22px;
      display:block;
      height: 25px;
    }
    span {
      float:left;
      display:block;
    }
    a.feed-link, a.feed-link:hover, a.feed-link:visited {
      display: block;
//      float:right;
//      padding:0;
//      padding-top:5px;
      margin-right: 20px;
      margin-lefT:0;
    }
    span.team_name{
      color: #BE420E;
      float: none;
      display:inline;
      margin-right: 0px;
    }
	  a, a:hover, a:visited {
      float:left;
      display:block;
      color: #BE420E;
      font-size:14px;
      padding:4px;
      padding-left: 20px;
      margin-left: 4px;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center left;
	  }
	  a:hover {
      color: #336999;
      text-decoration: none;
	  }
	  a#top-submenu-teams {
	    background-image: url("/images/icons/group.png");
	  }
	  a#top-submenu-fixtures {
	    background-image: url("/images/icons/sitemap-application-blue.png");
	  }
	  a#top-submenu-tables {
	    background-image: url("/images/icons/table.png");
	  }
	  a#top-submenu-bombardiers {
	    background-image: url("/images/icons/sport_soccer.png");
	  }
	  a#top-submenu-disqualifications {
	    background-image: url("/images/icons/cards.png");
	  }
	  a#top-submenu-it-forecast {
	    background-image: url("/images/icons/money-coin.png");
	  }
	  
	  a#top-submenu-schedules {
	    background-image: url("/images/icons/calendar-select.png");
	  }

	  a#top-submenu-matches {
	    background-image: url("/images/icons/protocol.png");
	  }

	  a#top-submenu-about {
	    background-image: url("/images/icons/information-white.png");
	  }

	  a.tournament-main-title, a.tournament-main-title:hover, a.tournament-main-title:visited {
	    float:left;
      display:block;
	    color: #A5BE0E;
	    font-size: 22px;
	    padding-left: 0;
	    margin-left: 0;
	    height: 15px;
	    padding:0px;
	    text-decoration: none;
	  }
	 a.tournament-main-title:hover {
	   color: #336999;
	 }
	}
}
#col-left, #col-right {
	float: left;
	margin-bottom: 25px;
}

/* left column */
#col-left {
	width: 650px;
	margin-right: 10px;
  padding-right: 20px;
  p {
    margin-bottom: 0.5em;
  }
}

#col-right {
	width: 270px;
}

/* New block design */

#col-right .sidebar-block {
  background:url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border:1px solid $block_border_color;
  margin:0 0 1em 0;

  a {
    color: $block_link_color;
    text-decoration: none;
    font-family: arial, verdana,helvetica;
    font-size:14px;
    font-weight: bold;
  }
//  a.normal {
//    font-weight: normal;
//  }

  a:hover {
    color:$block_header_color;
  }

  ul {
    margin:0;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    li {
      line-height:1.2em;
      padding:5px;
      border: 0;
      border-top:1px solid $block_border_color;

      p.post-title {
        line-height:1.2em;
        margin-bottom:3px;
      }

      p.post-date {
        color: $block_grey_text_color;
        //        margin:0 0.6em;
        line-height:1em;
        padding:0;
        margin-bottom:2px;
      }

      p.author {
        a {
            color: $block_grey_text_color;
            font-weight: normal;
            text-decoration: underline;       
        }
        line-height:1.2em;
      }
    }
  }

  ul.my-schedule-block {

    li{
      a{
        color:$block_header_color;
        font-weight: normal;
      }
      a:hover {
        color: $block_link_color;
      }
    }
  }
}

.sidebar-block-header {
  //  border-bottom: 1px solid $block_border_color;
  background-color: transparent;
  h4 {
    font-size: 100%;
    color:$block_header_color;
    font-weight:bold;
    margin:0.6em 0 0.6em 0.4em;
    text-transform:uppercase;
    padding: 0;
  }
}


div.header-bottom{
  table {
    width: 100%;
    color: $block_header_color;
    td {
      font-size: 12px;
      text-align: center;
    }
    td.control {
      width: 20px;
    }
  }
}

/* EOF New block design */


/**
*EOF Sidebar
*/

/**
*Comment block
*/

ul.comments {
  clear: both;
  width: auto;
  list-style: none;
  margin: 0;
  li.comment {
    margin: 0 0 20px;
    padding: 0;
    position: relative;
  }
  .commentContent {
    background: url("/images/right-col-box-bg.png") repeat-x 0 0;
    border: 1px solid $block_border_color;
    margin: 10px 0;
    padding: 3px;
    position: relative;
    overflow: hidden;
    p {
      padding: 3px;
    }
    .commentInfo {
      margin: 0 0 5px;
      padding: 3px;
      border-bottom: 1px solid #eee;
      color: #aaa;
      overflow: hidden;
      dt, dd {
        margin: 0 10px 0 0;
        padding: 0;
        float: left;
      }
      dt {
        position: relative;
      }
      a.username.registered {
        font-weight: bold;
        padding-left: 17px;
      }
      a.linkToProfile {
        position: absolute;
        left: 0;
        top: 5px;
        background: url("/images/icons/icn-comment-sprite.png") -39px 0 no-repeat;
        width: 13px;
        height: 13px;
        text-indent: -9999em;
      }
    }
    .avatar {
      float: left;
      margin-right: 15px; 
      width: 50px;
      overflow: hidden;
      img {
        padding: 3px;
      }
    } 
  }
  .commentBody {
    overflow: hidden;
    padding: 10px 0;
  }
  a.commentReply {
    position: absolute;
    right: 10px;
    bottom: -12px;
  }  
  .options {
    ul {
      margin: 0;
      padding: 3px 0 0;
      list-style: none;      
    }
    li {
      margin: 0 5px 0 0;
      float: left;
    }
    a {
      display: block;
      width: 13px;
      height: 13px;
      text-indent: -999em;
      background: url("/images/icons/icn-comment-sprite.png") 0 -13px no-repeat;
    }
    a.linkToComment:hover {
      background-position: 0 0;
    }
    a.goToParent {
      background-position: -13px -13px; 
    }
    a.goToParent:hover {
      background-position: -13px 0; 
    }    
    a.backToChild {
      background-position: -26px -13px; 
    }
    a.backToChild:hover {
      background-position: -26px 0; 
    }
  }  
}
.postCommentBox
{
  position: relative;
  .txtAreaBox
  {
    padding: 5px;
    border: 1px solid #eee;
    margin-bottom: 10px;
  }
  textarea
  {
    width: 100%;
    height: 120px;
    border: 0;
  }
  .loader {
    background: url("/images/ajax-loader.gif") 50% 40% no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  h2 {
    color: #aaa;
    font-size: 12px;
    border: 0;
  }
}
.newComment
{
  padding-top: 10px;
}



/**
*EOF Comment block
*/

/*blog link panel*/

.blog_link_panel {
    white-space: nowrap;
    /*height: 50px;*/
    clear: both;
    float:left;
    position:relative;
    padding: 0;
    line-height:2em;
    margin: 15px 0 15px 0;
    border:1px solid #EEEEEE;
}
/*.blog_link_panel_wrap {
    clear:both;
}*/

.blog_link_panel div {
    float: left;    
    margin-right:-1px;
    margin-top:-1px;
    /*height: 25px;*/
    line-height:2em;
    padding:1px 20px;

}

.blog_link_panel a, .blog_link_panel span {
    display: block;
    float:left;
    line-height:2.0em;
    text-decoration: none;
}

.blog_link_panel div.first {
    margin-bottom:-2px;
    padding-bottom:1px;
    white-space:nowrap;
}

.blog_link_panel div.last {
    margin-bottom:-2px;
    border-right:0;
    padding-bottom:1px;
    white-space:nowrap;
}

/* EOF blog panel links */
div.date_link_cell span {
    background:transparent url(/images/icons/calendar.png) no-repeat scroll left center;
    padding-left:20px;
}
div.edit_link_cell a {
    background:transparent url(/images/icons/pencil.png) no-repeat scroll left center;
    padding-left:22px;
}
div.delete_link_cell a {
    background:transparent url(/images/icons/delete.png) no-repeat scroll left center;
    padding-left:18px;
}
div.author_link_cell a {
    background:transparent url(/images/icons/man.png) no-repeat scroll left center;
    padding-left:20px;
}
div.comment_link_cell a {
    background:transparent url(/images/icons/comment.png) no-repeat scroll left center;
    padding-left:20px;
}
div.social_link_cell a {
    padding: 2px 5px 1px 5px;
}

div.updating_link_cell span {
    background:transparent url(/images/icons/refresh.gif) no-repeat scroll left center;
    padding-left:20px;
}


/**
*links with icons
*/
.link-with-icon-container div {
    float: left;
    margin-right:-1px;
    margin-top:-1px;
    height: 25px;
    padding:1px 20px;
}

a.add-image-link {
    background:transparent url(/images/icons/picture.png) no-repeat scroll left center;
    padding-left:20px;
    cursor: pointer;
}
/**
*EOF links with icons
*/

/**
* Right Sidebar
*/
#col-right ul
{
  margin-left:    5px;
  margin-right:   0;
  list-style:     none;
}

#col-right ul li
{
  padding: 10px 0 10px 0;
  border-bottom: 1px dotted #EEE;
}

/**
* Pagination
*/

.football_pagination {
  text-align: center;
  padding: .3em;
}

.football_pagination a, .football_pagination span {
    color: #336999;
    padding: .2em .5em;
}
.football_pagination span.disabled {
    color: #AAA;
}
.football_pagination span.current {
    font-weight: bold;
    color: #BE420E;
}
.football_pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none;
}
.football_pagination a:hover, .football_pagination a:focus {
    border-color: #888888;
    background: #555555;
    color: white;
 }
.football_pagination .page_info {
    color: #aaa;
    padding-top: .8em;
}
.football_pagination .prev_page, .football_pagination .next_page {
    border-width: 2px;
}
.football_pagination .prev_page {
    margin-right: 1em;
}
.football_pagination .next_page {
    margin-left: 1em;
}


/**
*Notification blocks
*/
.error, .notice, .success {
    border:2px solid #DDDDDD;
    margin-bottom:1em;
    padding:0.8em;
}

.error {
    background:#fbe3e4 none repeat scroll 0% 0%;
    border-color:#FBC2C4;
    color:#8A1F11;
}

.warning {
    background:#fff6bf none repeat scroll 0% 0%;
    border-color:#FBC2C4;
    color:#8A1F11;
}

.notice {
    background:#e6efc2 none repeat scroll 0% 0%;
    border-color:#C6D880;
    color:#264409;
}


/**
* Articles
*/

.article-title-image {
    border: 1px solid #EEE;
    margin: 0pt 7px 7px 0pt;
    padding: 5px;
    float: left;
}

/**
* EOF Articles
*/


/**
* Gallery
*/
#uploaded-files {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

#uploaded-files img {
  width: 150px;
  float: left;
  margin-right: 10px;
}

#uploaded-files li {
  clear: both;
  display: block;
  padding: 10px 0;
}

/**
* Tournament and result tables
*/
table.game-result {
    border-collapse: collapse;
}

table.game-result td {
    font-style: italic;
    padding: 5px;
    border: 1px solid #EEEEEE;
    text-align: center;
}
table.game-result td.result {
    font-style: normal;
    font-weight: bold;
}

table.tournament {
    border-collapse: collapse;
}

table.tournament tr.even{
    background-color: #FAFAFA;
}

table.tournament td, table.tournament th {
    border: 1px solid #EEEEEE;
    padding: 8px;
    text-align: center;
}
table.tournament td.team {
    text-align: left;
}

/**
* Eof Tournament and result tables
*/


/**
*Public profile
**/
#profile-photo-block {
    border:1px solid #EEEEEE;
    float:left;
    background-color: #FAFAFA;
    /*width: 200px;
    height: 300px;*/
}
#profile-data-block {
    border:1px solid #EEEEEE;
    float:left;
    background-color: #FAFAFA;
    /*width: 440px;*/
    width: 416px;
    margin-left: 10px;
    padding:10px;
}

#profile-data-block dt, #profile-data-block dd{
    margin-bottom: 10px;
}

#profile-data-block dt{
    clear: both;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    width: 70px;
}

#profile-data-block dd{
    float: left;
}
/**
*EOF Public profile
**/

div.image-loading-container {
  display:none;
  text-align:center;
}



/*Shop block*/
#col-right .sidebar-block {
  img.prev, img.next {
    float: right;
    margin-right: 3px;
  }
  img.prev:hover, img.next:hover {
    cursor: pointer;
  }
  .sidebar-shop-content {
    border-top:1px solid $block_border_color;
    padding:0.6em 0.6em 0 0.6em;
    text-align:center;

    .sidebar-shop-content-wrap {
      margin: 0 auto;
      position:relative;
      overflow:hidden;
      width: 251px;
      height:200px;
      ul.sidebar-shop-content-list {
        width:20000em;
      	position:absolute;
        li {
          border: none;
          height: 200px;
          width: 251px;
          float:left;
          a {
            font-weight: normal;
          }
        }
      }
    }
 }

}

/*EOF Shop block*/

/*Quick Match Results block*/
#col-right .sidebar-block ul.quick_match_results {
  li {
    padding:3px 0;
    div.score-container{float: left;width: 45px;margin:0 2px;}
    div.hosts, div.guests {
      float:left;
      width: 109px;
      padding-top:1px;
      font-size: 12px;
    }
    div.hosts {text-align:right;}
    div.guests {text-align:left;}
  }
  li.odd {background-color:#FAFAFA;}
}
/*EOF Quick Match Results block*/

ul.team-list {
  list-style-type: none;
  li {
    padding: 5px 0;
  }
}

ul.team-list {
  float:left;
  width: 230px;
}

table.schedule {
  background:url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 100%;
  td,th  {
    border: 1px solid $block_border_color;
    padding: 5px;
  }
  td {
    text-align: left;
  }

  td.venue {
    width: 150px;
    text-align: center;
  }
  td.time {
    width: 50px;
    text-align: center;
  }
  td.league {
    width: 100px;
    text-align: center;
  }
  th {
    color:$block_header_color;
    font-size:100%;
    font-weight:bold;
    margin:0.6em 0 0.6em 0.4em;
    text-transform:uppercase;
    padding: 5px;
  }
}

/*Players list*/
table.player-list {
  border-collapse: collapse;
  tr {
    display: table-row;
  }
  td {
    vertical-align: top;
    /*font-size: 1em;*/
    /*width: 18px;*/
    text-align: left;
    padding: 0 0 26px;
  }

  td.avatar {
    vertical-align: middle;
    padding-left: 14px;
  }

  td.footballer {
    text-align: left;
    padding-left: 14px;
    line-height: 1.2em;
    dl {
      display: block;
      dt {
        margin-bottom: 5px;
        font-size: 150%;
        line-height: 1em;
      }
      dd.user {
        background: transparent url(/images/icons/man.png) no-repeat scroll left center;
        padding-left: 20px;
        padding-top: 2px;
        display:block;
        height: 20px;
      }
    }

  }

}

/**
*Match result table
**/

table.match-result-table, table.tournament-position, table.fixtures {
  background:url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  width: 100%;
  border-collapse:collapse;
  margin-bottom:20px;
}



table.match-result-table, table.fixtures {
  caption {
    padding: 0 0 5px 0;
    width: 100%;
      font-size: 12px;
      color: #BE420E;
    text-align: left;
  }
  th {
    color: #336999;
    font-size: 118%;
  }

  th, td {
    text-align: left;
    padding:2px;
  }
  
  th, tr {
    border: 1px solid #EEEEEE;
  }

  td.date-time {
    width: 180px;
  }

  td.venue {
    width: 120px;
  }

  th.scores, td.scores {
    width:50px;
    text-align:center;
  }
  td.hosts, th.hosts {
    text-align:right;
    width: 300px;
  }

  td.guests, th.guests {
    width: 300px;
  }

  td.protocol {
    width: 90px;
  }
}



table.fixtures {
  width: 450px;
  float:left;
  td.date {
    width: 300px;
  }
  td.group {
    width: 80px;
    text-align: center;
  }
  td.hosts {
    padding-right: 10px;
  }
  td.guests {
    padding-left: 10px;
  }
  th.spacer, td.spacer {
    width: 10px;
  }
}







/*table.match-result-table td.team-name, table.match-result-table td.match-score {*/
  /*width: 25%;*/
  /*text-align:center;*/
  /*border: 1px solid #EEEEEE;*/
  /*color: #BE420E;*/
  /*font-weight:bold;*/
  /*padding: 3px;*/
/*}*/

/*table.match-result-table td.content {*/
  /*vertical-align: top;*/
  /*border:1px solid #EEEEEE;*/
/*}*/

/*table.match-result-table  td.match-score {*/
  /*width: 50%;*/
/*}*/

/*table.match-result-table ul.team-players-list {*/
  /*list-style-type: none;*/
  /*text-align: left;*/
  /*//  margin-left:3px;*/
  /*li {padding:3px 5px;}*/
  /*li.odd {background-color:#FAFAFA;}*/
/*}*/

/**
*Tournament tables
*/
table.tournament-position, table.bombardier-position, table.team_rate-position {
  background:url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border-collapse: collapse;
  margin-bottom:20px;
  width: 450px;
  float: left;
  th {
    text-align: center;
    color: #336999;
    border: 1px solid #EEEEEE;
    font-size: 118%;
  }

  td {
    padding: 3px;
    border: 1px solid #EEEEEE;
  }
  td.place {
    width: 30px;
    text-align: right;
    div.position-change {
      float: left;
      font-weight: bold;
      background-repeat: no-repeat; 
      background-attachment: scroll;
      background-position: center right;
      padding-right: 10px;
      width: 20px;
    }
    div.up {color: #60B571;background-image: url("/images/icons/raise-arrow.png");}
    div.down {color: #BE420E;background-image: url("/images/icons/down-arrow.png");}

  }
  td.team {width: 170px;}
  td.games {width: 40px;text-align: center;}
  td.goals {width: 50px;text-align: center;}
  td.scores {width: 40px;text-align: center;}
  td.diff {width: 40px;text-align: center;}
  tr.header {
    td {
      color: $block_header_color;
      font-weight: bold;
    }
  }
}

table.tournament-position.even {
  margin-left: 10px;
}


#container {
  ol {
    list-style-position: inside;
    li {
      margin-bottom: 5px;
      font-style: italic;
    }
  }
  div#it-forecast-container {
    p {
      margin-bottom: 10px;
    }
  }
}

h2.tournament-subtitle {
  border-bottom: 0;
  line-height: 1em;
  margin-bottom: 5px;
}

table.bombardier-position {
  width: 600px;
  td.place {
    width: 30px;
    text-align:center;
  }
  td.goals {
    width: 20px;
    text-align:center;
  }
  tr.header {
  text-align:center
  }
}

h2.team_rate-subtitle {
  border-bottom: 0;
  line-height: 1em;
  margin-bottom: 5px;
}

table.team_rate-position {
  width: 600px;
  td.place {
    width: 30px;
    text-align:center;
  }
  td.rate {
    width: 45px;
    text-align:center;
  }
  td.stat {
  width: 20px;
  text-align:center
  }
  tr.header {
  text-align:center;
  }
}

/**
*
*Schedules
*
*/
.schedule-page-header {
  text-align:center;
  div.schedule-page-wrap {
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 5px;
  }
  a.prev, a.next {
    display: block;
    margin-right: 3px;
    margin-top: 12px;
  }
  h2 {
    margin: 0 15px;
    padding:0;
    float: left;
    border-bottom:none;
  }
}

input.fancy_score_edit {
  width: 15px;
  border:1px solid #000;
}

.wrap-container {
  text-align: center;
}

div.schedule-content-wrap {
  position:relative;
  overflow:hidden;
  margin: 0 auto;
  /*text-align:center;*/
  /*width: 700px;*/
  /*height:600px;*/
  background:url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border:1px solid $block_border_color;
  div.schedule-header {
    font-size: 100%;
    color:$block_header_color;
    text-align:center;
    padding: 3px;
    height: 30px;
    border-bottom: 1px solid $block_border_color;
  }
  div.schedule-content {
    overflow: auto;
  }
}

div.schedule-content {
  table {
    border-collapse: collapse;
    width: 100%;
    td{
      border: 1px solid $block_border_color;
      padding: 5px;
      text-align: left;
    }
    td.tournament {
    width: 100px;
    text-align: center;
    }
    td.tour {
      width: 100px;
      text-align: center;
    }
    td.score-container{width: 45px;margin:0 2px;}
    td.hosts, td.guests{width: 145px;}
    td.venue {
      width: 150px;
      text-align: center;
      img, a {
        float:left;
      }
      a {
        display:block;
        margin-left: 5px;
      }
    }
    td.time {
      width: 40px;
      text-align: center;
    }
    td.date {
      width: 120px;
      text-align: center;
    }
    td.league {
      text-align: center;
    }
    td.appointment_response {
        font-weight: bold;
    }
  }
}

/**
* Filter block styles
*/

.b-slide-filter {
    font-size: 13px;
    height: 25px;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 21px;
    padding-bottom: 22px;
    .lbl {
      cursor: text;
      line-height: 22px;
      margin-right: 20px;
    }
    * {
    vertical-align: middle;
    }

    .l-slide-menu {
        background-position: 0 -346px;
        display: inline-block;
        position: relative;
    }
    
    b, .l-slide-menu, .slide {
      height: 25px;
    }
    b {
      position: absolute;
      top: 0;
      width: 15px;
    }

    .slide {
      .l {
        background-position: -138px -308px;
        left: -15px;
      }
      .r {
          background-position: -168px -308px;
          right: -15px;
      }
      .c {
          background-position: -152px -308px;
          height: 31px;
          left: 50%;
          margin-left: -7px;
          width: 14px;
      }
    }   
}

/*Match page*/
h3 a.season-matches-link, h3 a.season-matches-link:hover {
  color: #A5BE0E;
  font-size: 90%;
}
h3 a.season-matches-link:hover {
 color: #336999; 
}

table.match {
  background:url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
  border-collapse: collapse;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;

  td.broadcasting {
    padding:0;
    table {
      border: none;
      width: 100%;
      td {
        border: none;
      }
    }
  }
  
  th.host, th.guest {
    width: 250px;
  }
  td,th  {
    border: 1px solid $block_border_color;
    padding: 5px;
  }
  td {
    text-align: left;
    vertical-align: top;
    p.subheader {
      color: #BE420E;
      font-weight: bold;
    }
    
  }
  td.statistic {
    p span {
      color: #BE420E;
      font-weight: bold;
    }
  }
  td.minute {
    width: 40px;
  }

  th {
    color:$block_header_color;
    font-size:100%;
    font-weight:bold;
    margin:0.6em 0 0.6em 0.4em;
    padding: 5px;
  }

  ul.players_list {
    list-style-type: none;
    li {
      padding-bottom: 3px;
    }
  }

}

/*Footballer Page*/

.photo_block {
  width: 255px;
  float:left;
  img {
    border: 1px solid black;
  }
  p.user_block {
    
  }
}

.info_container {
  float: left;
  padding-left: 5px;
  width: 660px;
  h3 {
    margin-bottom: 10px;
  }
  p.season-content {
    margin-bottom: 0;
    padding-bottom: 7px;
  }
  h4 {
    font-weight: bold;
    margin:0;
    padding:0;
    margin-bottom: 10px;
    /*display: inline;*/
    a {
      text-decoration: none;
      color: #336999;
    }
  }

  table.footballer-schedule {
    background: url("/images/right-col-box-bg.png") repeat-x scroll 0 0 transparent;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    caption{
      padding: 0 0 5px 0;
      width: 100%;
      font-size: 12px;
      color: #BE420E;
      text-align: left;
    }
  }
}
#col-left {
  p.season-header {
    margin-bottom: 0;
  }
}
