$grey_border: #EEEEEE;
$grey_menu_background: #DCDCDC;

div#left-sidebar {
  width: 250px;
  float: left;
  /*border-right:1px solid $grey_border;*/
}

div#col-left {
  width: 650px;
  float: right;
  border-right: none;
  hr {
    color: $grey_border;
    background-color: $grey_border;
    height:1px;
    border:none;

  }
  div#profile-data-block-view {
    label {
      display: inline;
    }
  }
}

div#container {
  h1 {
    font-size:180%;
    margin-bottom: 10px;
    border-bottom:1px solid $grey_border;
  }
}

ul#left-sidebar-menu {
  margin: 0;
  margin-top: 10px;
  text-align: left;
  list-style-type:none;
  li {
    display: block;
    border-bottom:1px solid $grey_border;
    a {
      text-decoration: none;
      display: block;
      padding: 4px;
    }
    a:hover {
      background-color: $grey_border;
    }

    a.active {
      background-color: $grey_menu_background;
    }
  }
}

/*Tab Top Navigation*/

ul#tabnav
{
/*  height: 27px;
  color:#292929;
  height:27px;
  line-height:1em;
  margin: 0;
  float: right;
  margin-bottom:-43px;
  position:relative;
  top:-40px;*/
  position:relative;
  float: right;
  margin-bottom:-43px;
  top:-38px;
  height: 27px;
  /*clear: both;*/
  /*border-bottom: 1px solid #EEE;*/
  padding: 0 0 0 5px;

  li {
    /*border-right: 1px solid $grey_border;*/
    /*float: left;*/
    /*list-style-type:none;*/
    /*background:url("/images/top_nav_tab_background.gif") repeat-x scroll left top #FFFFFF;*/
    /*padding: 0 5px;*/
    float: right;
    display: block;
    list-style: none;
    font-size: 13px;
  }

  li.first {
    border-left:1px solid #EEEEEE;
  }

  a:link, a:visited, span {
    /*display:block;*/
    /*padding:9px 9px 6px 20px;*/
    font-weight: bold;
    text-decoration: none;
    float: left;
    display: block;
    padding: 4px 10px 6px;
    margin: 2px 5px 0 0;
    background: #FAFAFA;
    border: 1px solid #EEE;
    line-height: 14px;
    font-size: 11px;
    border-bottom: 0;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
  }

  /*span {*/
    /*font-weight: bold;*/
  /*}*/

  a.current {
    /*background:url("/images/top_nav_tab_background.gif") repeat-x scroll left top #FFFFFF;*/
    /*color:#292929;*/
    /*padding-bottom:7px !important;*/
    /*color: #333;*/
    text-decoration: none;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    background: white;
    position: relative;
    z-index: 5;
    font-size: 13px;
    padding: 5px 10px 7px;
    margin-top: 0;
    
  }

/*  #profile-edit {
    background: url('/images/icons/user_edit.png') no-repeat scroll 0 50% transparent;
  }

  #photo-edit {
    background: url('/images/icons/picture_edit.png') no-repeat scroll 0 50% transparent;
  }*/
}

/*EOF Tab Top Navigation*/

