%h2{:style=>"margin: 0 auto;"}Жеребьевка (предвзятый вариант)
#rating-list-container
  %h4 Рейтинг команд
  %ol#rating-list
    %li GraceHoppers
    %li Zfort Group
    %li NIX Solutions
    %li Gameloft
    %li Stella Systems
    %li UTeam(Alton)
    %li GlobalLogic
    %li Ciklum
    %li Eclipse
    %li EPAM Systems
    %li AKVELON
    %li Gameloft-II
    %li Ronis
    %li CS
    %li CS-2
    %li Random United
#draw-container
  %h3 Корзины
  .basket
    .portlet
      .portlet-header Корзина 1
      .portlet-content
        %ol.ui-selectable#basket-1
          %li#cs.ui-widget-content GraceHoppers
          %li#echostar-2.ui-widget-content Zfort Group
          %li#globallogic-2.ui-widget-content NIX Solutions
          %li#intetics-navteq.ui-widget-content Gameloft
  .basket
    .portlet
      .portlet-header Корзина 2
      .portlet-content
        %ol.ui-selectable#basket-2
          %li#ektos.ui-widget-content Stella Systems
          %li#murano.ui-widget-content UTeam(Alton)
          %li#akvelon.ui-widget-content GlobalLogic
          %li#ciklum.ui-widget-content Ciklum
  .basket
    .portlet
      .portlet-header Корзина 3
      .portlet-content
        %ol.ui-selectable#basket-3
          %li#gracehoppers.ui-widget-content Eclipse
          %li#stella-systems.ui-widget-content EPAM Systems
          %li#globallogic.ui-widget-content AKVELON
          %li#echostar.ui-widget-content Gameloft-II
  .basket
    .portlet
      .portlet-header Корзина 4
      .portlet-content
        %ol.ui-selectable#basket-4
          %li#intetics.ui-widget-content Ronis
          %li#insart.ui-widget-content CS
          %li#zfort-group.ui-widget-content CS-2
          %li#nix-solutions.ui-widget-content Random United
  .clear{:style => "margin-bottom: 10px;"}
  %hr{:style=>"border: 1px solid #DDD;"}/
  .clear{:style => "margin-bottom: 10px;"}
  %h3 Группы
  .group
    .portlet
      .portlet-header Группа E
      .portlet-content
        %ol.ui-selectable#group-e
  .group
    .portlet
      .portlet-header Группа D
      .portlet-content
        %ol.ui-selectable#group-d
  .group
    .portlet
      .portlet-header Группа C
      .portlet-content
        %ol.ui-selectable#group-c
  .group
    .portlet
      .portlet-header Группа B
      .portlet-content
        %ol.ui-selectable#group-b
  .group
    .portlet
      .portlet-header Группа A
      .portlet-content
        %ol.ui-selectable#group-a
  .clear
  %div{:style => "text-align:center;"}
    %button{:id=>"mega-button"} 1-й Этап
    %button{:id=>"cancel-button"} Отменить

.clear


