%h2{:style=>"margin: 0 auto;"}Жеребьевка (предвзятый вариант)
#rating-list-container
  %h4 Рейтинг команд
  %ol#rating-list
    %li NIX Solutions
    %li Zfort Group
    %li Ciklum
    %li GlobalLogic
    %li Sigma Ukraine
    %li Gameloft
    %li CS
    %li Random United
    %li AKVELON
    %li Stella Systems
    %li INSART
    %li EPAM Systems
    %li CLOSE-KNIT TEAM
    %li Intetics
    %li Alice
    %li GraceHoppers II
#draw-container
  %h3 Корзины
  .basket
    .portlet
      .portlet-header Корзина 1
      .portlet-content
        %ol.ui-selectable#basket-1
          %li#cs.ui-widget-content NIX Solutions
          %li#echostar-2.ui-widget-content Zfort Group
          %li#globallogic-2.ui-widget-content Ciklum
          %li#intetics-navteq.ui-widget-content GlobalLogic
  .basket
    .portlet
      .portlet-header Корзина 2
      .portlet-content
        %ol.ui-selectable#basket-2
          %li#ektos.ui-widget-content Sigma Ukraine
          %li#murano.ui-widget-content Gameloft
          %li#akvelon.ui-widget-content CS
          %li#ciklum.ui-widget-content Random United
  .basket
    .portlet
      .portlet-header Корзина 3
      .portlet-content
        %ol.ui-selectable#basket-3
          %li#gracehoppers.ui-widget-content AKVELON
          %li#stella-systems.ui-widget-content Stella Systems
          %li#globallogic.ui-widget-content INSART
          %li#echostar.ui-widget-content EPAM Systems
  .basket
    .portlet
      .portlet-header Корзина 4
      .portlet-content
        %ol.ui-selectable#basket-4
          %li#intetics.ui-widget-content CLOSE-KNIT TEAM
          %li#insart.ui-widget-content Intetics
          %li#zfort-group.ui-widget-content Alice
          %li#nix-solutions.ui-widget-content GraceHoppers II
  .clear{:style => "margin-bottom: 10px;"}
  %hr{:style=>"border: 1px solid #DDD;"}/
  .clear{:style => "margin-bottom: 10px;"}
  %h3 Группы
  .group
    .portlet
      .portlet-header Группа A
      .portlet-content
        %ol.ui-selectable#group-a
  .group
    .portlet
      .portlet-header Группа B
      .portlet-content
        %ol.ui-selectable#group-b
  .group
    .portlet
      .portlet-header Группа C
      .portlet-content
        %ol.ui-selectable#group-c
  .group
    .portlet
      .portlet-header Группа D
      .portlet-content
        %ol.ui-selectable#group-d
  -#.group
  -#  .portlet
  -#    .portlet-header Группа E
  -#    .portlet-content
  -#      %ol.ui-selectable#group-e
  .clear
  %div{:style => "text-align:center;"}
    %button{:id=>"mega-button"} 1-й Этап
    %button{:id=>"cancel-button"} Отменить

.clear


