%h2{:style=>"margin: 0 auto;"}Жеребьевка (предвзятый вариант)
%button{:id=>"change-button"} Переключить
#rating-list-container
  %h4 Рейтинг команд
  %ol#rating-list
    %li Intetics
    %li INSART
    %li Zfort Groups
    %li NIX Solutions
    %li Gameloft
    %li Alton
    %li GraceHoppers
    %li Stella Systems
    %li GlobalLogic
    %li EchoStar
    %li EPAM Systems
    %li Eclipse SP
    %li EKTOS
    %li Murano
    %li AKVELON
    %li Ciklum
    %li Gameloft-2
    %li CS
    %li Echostar-2
    %li GlobalLogic-2
    %li Intetics-Navteq
    %li Ronis
#draw-container
  %h3 Корзины
  .basket
    .portlet
      .portlet-header Корзина 1
      .portlet-content
        %ol.ui-selectable#basket-1
          %li#cs.ui-widget-content CS
          %li#echostar-2.ui-widget-content Echostar-2
          %li#globallogic-2.ui-widget-content GlobalLogic-2
          %li#intetics-navteq.ui-widget-content Intetics-Navteq
          %li#ronis.ui-widget-content Ronis
  .basket
    .portlet
      .portlet-header Корзина 2
      .portlet-content
        %ol.ui-selectable#basket-2
          %li#ektos.ui-widget-content EKTOS
          %li#murano.ui-widget-content Murano
          %li#akvelon.ui-widget-content AKVELON
          %li#ciklum.ui-widget-content Ciklum
          %li#gameloft-2.ui-widget-content Gameloft-2
  .basket
    .portlet
      .portlet-header Корзина 3
      .portlet-content
        %ol.ui-selectable#basket-3
          %li#gracehoppers.ui-widget-content GraceHoppers
          %li#stella-systems.ui-widget-content Stella Systems
          %li#globallogic.ui-widget-content GlobalLogic
          %li#echostar.ui-widget-content EchoStar
          %li#epam-systems.ui-widget-content EPAM Systems
          %li#eclipse-sp.ui-widget-content Eclipse SP
  .basket
    .portlet
      .portlet-header Корзина 4
      .portlet-content
        %ol.ui-selectable#basket-4
          %li#intetics.ui-widget-content Intetics
          %li#insart.ui-widget-content INSART
          %li#zfort-group.ui-widget-content Zfort Group
          %li#nix-solutions.ui-widget-content NIX Solutions
          %li#gameloft.ui-widget-content Gameloft
          %li#altron.ui-widget-content Altron
  .clear{:style => "margin-bottom: 10px;"}
  %hr{:style=>"border: 1px solid #DDD;"}/
  .clear{:style => "margin-bottom: 10px;"}
  %h3 Группы
  .group
    .portlet
      .portlet-header Группа E
      .portlet-content
        %ol.ui-selectable#group-e
  .group
    .portlet
      .portlet-header Группа D
      .portlet-content
        %ol.ui-selectable#group-d
  .group
    .portlet
      .portlet-header Группа C
      .portlet-content
        %ol.ui-selectable#group-c
  .group
    .portlet
      .portlet-header Группа B
      .portlet-content
        %ol.ui-selectable#group-b
  .group
    .portlet
      .portlet-header Группа A
      .portlet-content
        %ol.ui-selectable#group-a
  .clear
  %div{:style => "text-align:center;"}
    %button{:id=>"mega-button"} 1-й Этап
    %button{:id=>"cancel-button"} Отменить

.clear


