%h2{:style=>"margin: 0 auto;"} Жеребьевка (непредвзятый вариант)
#rating-list-container
  %h4 Рейтинг команд
  %ol#rating-list
    %li Intetics
    %li INSART
    %li Zfort Groups
    %li NIX Solutions
    %li Gameloft
    %li Alton
    %li GraceHoppers
    %li Stella Systems
    %li GlobalLogic
    %li EchoStar
    %li EPAM Systems
    %li Eclipse SP
    %li EKTOS
    %li Murano
    %li AKVELON
    %li Ciklum
    %li Gameloft-2
    %li CS
    %li Echostar-2
    %li GlobalLogic-2
    %li Intetics-Navteq
    %li Ronis
#draw-container
  %h3 Корзины
  .basket
    .portlet
      .portlet-header Корзина 4
      .portlet-content
        %ol.ui-selectable#basket-4
          %li#intetics.ui-widget-content Intetics
          %li#insart.ui-widget-content INSART
          %li#zfort-group.ui-widget-content Zfort Groups
          %li#nix-solutions.ui-widget-content NIX Solutions
          %li#gameloft.ui-widget-content Gameloft
          %li#altron.ui-widget-content Alton
  .basket
    .portlet
      .portlet-header Корзина 3
      .portlet-content
        %ol.ui-selectable#basket-3
          %li.ui-widget-content GraceHoppers
          %li.ui-widget-content Stella Systems
          %li.ui-widget-content GlobalLogic
          %li.ui-widget-content EchoStar
          %li.ui-widget-content EPAM Systems
          %li.ui-widget-content Eclipse SP
  .basket
    .portlet
      .portlet-header Корзина 2
      .portlet-content
        %ol.ui-selectable#basket-2
          %li.ui-widget-content EKTOS
          %li.ui-widget-content Murano
          %li.ui-widget-content AKVELON
          %li.ui-widget-content Ciklum
          %li.ui-widget-content Gameloft-2
  .basket
    .portlet
      .portlet-header Корзина 1
      .portlet-content
        %ol.ui-selectable#basket-1
          %li.ui-widget-content CS
          %li.ui-widget-content Echostar-2
          %li.ui-widget-content GlobalLogic-2
          %li.ui-widget-content Intetics-Navteq
          %li.ui-widget-content Ronis
  .clear{:style => "margin-bottom: 10px;"}
  %hr{:style=>"border: 1px solid #DDD;"}/
  .clear{:style => "margin-bottom: 10px;"}
  %h3 Группы
  .group
    .portlet
      .portlet-header Группа E
      .portlet-content
        %ol.ui-selectable#group-e
  .group
    .portlet
      .portlet-header Группа D
      .portlet-content
        %ol.ui-selectable#group-d
  .group
    .portlet
      .portlet-header Группа C
      .portlet-content
        %ol.ui-selectable#group-c
  .group
    .portlet
      .portlet-header Группа B
      .portlet-content
        %ol.ui-selectable#group-b
  .group
    .portlet
      .portlet-header Группа A
      .portlet-content
        %ol.ui-selectable#group-a
  .clear
  %div{:style => "text-align:center;"}
    %button{:id=>"mega-button"} 1-й Этап

.clear


