%h2{:style=>"margin: 0 auto;"}Жеребьевка (предвзятый вариант)
#rating-list-container
  %h4 Рейтинг команд
  %ol#rating-list
    %li NIX Solutions
    %li Ciklum
    %li Zfort Group
    %li GraceHoppers
    %li GlobalLogic
    %li CS
    %li Gameloft
    %li Sigma Ukraine
    %li Random United
    %li AKVELON
    %li EPAM Systems
    %li Rapid (CLOSE-KNIT TEAM)
    %li Intetics
    %li Alice
    %li iTeam (VLFN)
    %li MPS
    %li Plarium
    %li W3
#draw-container
  %h3 Корзины
  .basket
    .portlet
      .portlet-header Корзина 1
      .portlet-content
        %ol.ui-selectable#basket-1
          %li#cs.ui-widget-content NIX Solutions
          %li#globallogic-2.ui-widget-content Ciklum
          %li#echostar-2.ui-widget-content Zfort Group
          %li#gracehoppers.ui-widget-content GraceHoppers
          %li#intetics-navteq.ui-widget-content GlobalLogic
          %li#cs.ui-widget-content CS
  .basket
    .portlet
      .portlet-header Корзина 2
      .portlet-content
        %ol.ui-selectable#basket-2
          %li#murano.ui-widget-content Gameloft
          %li#ektos.ui-widget-content Sigma Ukraine
          %li#ciklum.ui-widget-content Random United
          %li#gracehoppers.ui-widget-content AKVELON
          %li#echostar.ui-widget-content EPAM Systems
          %li#intetics.ui-widget-content Rapid (CLOSE-KNIT TEAM)
  .basket
    .portlet
      .portlet-header Корзина 3
      .portlet-content
        %ol.ui-selectable#basket-3
          %li#insart.ui-widget-content Intetics
          %li#zfort-group.ui-widget-content Alice
          %li#stella-systems.ui-widget-content iTeam (VLFM)
          %li#globallogic.ui-widget-content MPS
          %li#plarium.ui-widget-content Plarium
          %li#w3.ui-widget-content W3
  .clear{:style => "margin-bottom: 10px;"}
  %hr{:style=>"border: 1px solid #DDD;"}/
  .clear{:style => "margin-bottom: 10px;"}
  %h3 Группы
  .group
    .portlet
      .portlet-header Группа A
      .portlet-content
        %ol.ui-selectable#group-a
  .group
    .portlet
      .portlet-header Группа B
      .portlet-content
        %ol.ui-selectable#group-b
  .group
    .portlet
      .portlet-header Группа C
      .portlet-content
        %ol.ui-selectable#group-c
  .clear
  %div{:style => "text-align:center;"}
    %button{:id=>"mega-button"} 1-й Этап
    %button{:id=>"cancel-button"} Отменить

.clear


