#profile-photo-menu-container{:style => "width: 200px;overflow:hidden;"}
  #profile-photo-block
  .avatar
    - unless @profile.photo.nil?
      = image_tag @profile.photo.url(:medium)
    - else
      = image_tag "/images/default_photo.jpg"
    - unless @profile.user.footballer.nil?
      %p
        Он же:
        = link_to @profile.user.footballer.full_name, footballer_path(@profile.user.footballer.url)
-#    - unless @profile.photo.nil?
-#      = link_to "Редактировать", edit_user_profile_path(@profile.user)
-#    - else
-#      = link_to "Добавить", new_user_profile_path(@profile.user)
-#%ul#left-sidebar-menu
-#  %li= link_to 'Профиль', user_path(@profile.user)
-#  -#- if @opts[:signed_in] && @opts[:current_user].id == @profile.user.id
-#  - if user_signed_in? && current_user.id == @profile.user.id
-#    %li= link_to 'Редактировать профиль', edit_profile_path
-#
-#        