!!!
%html{'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", :"http-equiv"=>"Content-Type"}/
  %body
    %p
      Ваш запрос на управление профилем футболиста успешно обработан!
    %p
      Страница футболиста:
    %p
      = link_to @footballer.full_name, footballer_url(@footballer.url)
