%h1= @page_title
= @page.body.html_safe
- content_for :top_submenu do
  = "tournament"
#col-left{:style => "width: 920px;"}
  -#%h1 Турнирная сетка
  -#%table.tournament-position{:style => "width:200px;margin-right:20px"}
  -#  %tbody
  -#    %tr
  -#      %th{:colspan => "3"} Группа A
  -#    %tr
  -#      %td 1
  -#      %td Zfort Group
  -#    %tr
  -#      %td 2
  -#      %td GlobalLogic
  -#    %tr
  -#      %td 3
  -#      %td Eclipse
  -#    %tr
  -#      %td 4
  -#      %td Ronis
  -#%table.tournament-position{:style => "width:200px;margin-right:20px"}
  -#  %tbody
  -#    %tr
  -#      %th{:colspan => "3"} Группа B
  -#    %tr
  -#      %td 1
  -#      %td NIX Solutions
  -#    %tr
  -#      %td 2
  -#      %td Gameloft
  -#    %tr
  -#      %td 3
  -#      %td AKVELON
  -#    %tr
  -#      %td 4
  -#      %td DataArt
  -#%table.tournament-position{:style => "width:200px;margin-right:20px"}
  -#  %tbody
  -#    %tr
  -#      %th{:colspan => "3"} Группа C
  -#    %tr
  -#      %td 1
  -#      %td Random United
  -#    %tr
  -#      %td 2
  -#      %td UTeam
  -#    %tr
  -#      %td 3
  -#      %td CS-2
  -#    %tr
  -#      %td 4
  -#      %td CLOSE-KNIT TEAM
  -#%table.tournament-position{:style => "width:200px;margin-right:20px"}
  -#  %tbody
  -#    %tr
  -#      %th{:colspan => "3"} Группа D
  -#    %tr
  -#      %td 1
  -#      %td GraceHoppers
  -#    %tr
  -#      %td 2
  -#      %td Ciklum
  -#    %tr
  -#      %td 3
  -#      %td EPAM Systems
  -#    %tr
  -#      %td 4
  -#      %td CS
  -#%div
  -#%h2 Групповой этап
  -#%table.fixtures{:style => "margin-right:20px"}
  -#  %caption 1-й Тур
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th Группа
  -#      %th Хозяева
  -#      %th         %th Гости
  -#    %tr
  -#      %td 17.09.2011
  -#      %td D
  -#      %td GraceHoppers
  -#      %td -
  -#      %td CS
  -#    %tr
  -#      %td 17.09.2011
  -#      %td C
  -#      %td UTeam
  -#      %td -
  -#      %td CS-2
  -#    %tr
  -#      %td 17.09.2011
  -#      %td A
  -#      %td Zfort Group
  -#      %td -
  -#      %td Ronis
  -#    %tr
  -#      %td 17.09.2011
  -#      %td A
  -#      %td GlobalLogic
  -#      %td -
  -#      %td Eclipse
  -#    %tr
  -#      %td 17.09.2011
  -#      %td B
  -#      %td NIX Solutions
  -#      %td -
  -#      %td DataArt
  -#    %tr
  -#      %td 17.09.2011
  -#      %td B
  -#      %td Gameloft
  -#      %td -
  -#      %td AKVELON
  -#    %tr
  -#      %td 17.09.2011
  -#      %td C
  -#      %td Random United
  -#      %td -
  -#      %td CLOSE-KNIT TEAM
  -#    %tr
  -#      %td 17.09.2011
  -#      %td D
  -#      %td Ciklum
  -#      %td -
  -#      %td EPAM Systems
  -#%table.fixtures
  -#  %caption 2-й Тур
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th Группа
  -#      %th Хозяева
  -#      %th         %th Гости
  -#    %tr
  -#      %td 24.09.2011
  -#      %td D
  -#      %td EPAM Systems
  -#      %td -
  -#      %td GraceHoppers
  -#    %tr
  -#      %td 24.09.2011
  -#      %td D
  -#      %td CS
  -#      %td -
  -#      %td Ciklum
  -#    %tr
  -#      %td 24.09.2011
  -#      %td A
  -#      %td Eclipse
  -#      %td -
  -#      %td Zfort Group
  -#    %tr
  -#      %td 24.09.2011
  -#      %td A
  -#      %td Ronis
  -#      %td -
  -#      %td GlobalLogic
  -#    %tr
  -#      %td 24.09.2011
  -#      %td B
  -#      %td AKVELON
  -#      %td -
  -#      %td NIX Solutions
  -#    %tr
  -#      %td 24.09.2011
  -#      %td B
  -#      %td DataArt
  -#      %td -
  -#      %td Gameloft
  -#    %tr
  -#      %td 24.09.2011
  -#      %td C
  -#      %td CS-2
  -#      %td -
  -#      %td Random United
  -#    %tr
  -#      %td 24.09.2011
  -#      %td C
  -#      %td CLOSE-KNIT TEAM
  -#      %td -
  -#      %td UTeam
  -#%table.fixtures{:style => "margin-right:20px;"}
  -#  %caption 3-й Тур
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th Группа
  -#      %th Хозяева
  -#      %th         %th Гости
  -#    %tr
  -#      %td 01.10.2011
  -#      %td C
  -#      %td UTeam
  -#      %td -
  -#      %td Random United
  -#    %tr
  -#      %td 01.10.2011
  -#      %td C
  -#      %td CLOSE-KNIT TEAM
  -#      %td -
  -#      %td CS-2
  -#    %tr
  -#      %td 01.10.2011
  -#      %td D
  -#      %td Ciklum
  -#      %td -
  -#      %td GraceHoppers
  -#    %tr
  -#      %td 01.10.2011
  -#      %td D
  -#      %td CS
  -#      %td -
  -#      %td EPAM Systems
  -#    %tr
  -#      %td 01.10.2011
  -#      %td A
  -#      %td GlobalLogic
  -#      %td -
  -#      %td Zfort Group
  -#    %tr
  -#      %td 01.10.2011
  -#      %td B
  -#      %td Gameloft
  -#      %td -
  -#      %td NIX Solutions
  -#    %tr
  -#      %td 01.10.2011
  -#      %td B
  -#      %td DataArt
  -#      %td -
  -#      %td AKVELON
  -#    %tr
  -#      %td 01.10.2011
  -#      %td A
  -#      %td Ronis
  -#      %td -
  -#      %td Eclipse
  -#%table.fixtures
  -#  %caption 4-й Тур
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th Группа
  -#      %th Хозяева
  -#      %th         %th Гости
  -#    %tr
  -#      %td 08.10.2011
  -#      %td B
  -#      %td NIX Solutions
  -#      %td -
  -#      %td Gameloft
  -#    %tr
  -#      %td 08.10.2011
  -#      %td B
  -#      %td AKVELON
  -#      %td -
  -#      %td DataArt
  -#    %tr
  -#      %td 08.10.2011
  -#      %td C
  -#      %td Random United
  -#      %td -
  -#      %td UTeam
  -#    %tr
  -#      %td 08.10.2011
  -#      %td C
  -#      %td CS-2
  -#      %td -
  -#      %td CLOSE-KNIT TEAM
  -#    %tr
  -#      %td 08.10.2011
  -#      %td D
  -#      %td GraceHoppers
  -#      %td -
  -#      %td Ciklum
  -#    %tr
  -#      %td 08.10.2011
  -#      %td D
  -#      %td EPAM Systems
  -#      %td -
  -#      %td CS
  -#    %tr
  -#      %td 08.10.2011
  -#      %td A
  -#      %td Zfort Group
  -#      %td -
  -#      %td GlobalLogic
  -#    %tr
  -#      %td 08.10.2011
  -#      %td A
  -#      %td Eclipse
  -#      %td -
  -#      %td Ronis
  -#%table.fixtures{:style => "margin-right: 20px;"}
  -#  %caption 5-й Тур
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th Группа
  -#      %th Хозяева
  -#      %th         %th Гости
  -#    %tr
  -#      %td 15.10.2011
  -#      %td A
  -#      %td Zfort Group
  -#      %td -
  -#      %td Eclipse
  -#    %tr
  -#      %td 15.10.2011
  -#      %td B
  -#      %td NIX Solutions
  -#      %td -
  -#      %td AKVELON
  -#    %tr
  -#      %td 15.10.2011
  -#      %td B
  -#      %td Gameloft
  -#      %td -
  -#      %td DataArt
  -#    %tr
  -#      %td 15.10.2011
  -#      %td C
  -#      %td Random United
  -#      %td -
  -#      %td CS-2
  -#    %tr
  -#      %td 15.10.2011
  -#      %td C
  -#      %td UTeam
  -#      %td -
  -#      %td CLOSE-KNIT TEAM
  -#    %tr
  -#      %td 15.10.2011
  -#      %td D
  -#      %td Ciklum
  -#      %td -
  -#      %td CS
  -#    %tr
  -#      %td 15.10.2011
  -#      %td D
  -#      %td GraceHoppers
  -#      %td -
  -#      %td EPAM Systems
  -#    %tr
  -#      %td 15.10.2011
  -#      %td A
  -#      %td GlobalLogic
  -#      %td -
  -#      %td Ronis
  -#%table.fixtures
  -#  %caption 6-й Тур
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th Группа
  -#      %th Хозяева
  -#      %th         %th Гости
  -#    %tr
  -#      %td 22.10.2011
  -#      %td D
  -#      %td EPAM Systems
  -#      %td -
  -#      %td Ciklum
  -#    %tr
  -#      %td 22.10.2011
  -#      %td D
  -#      %td CS
  -#      %td -
  -#      %td GraceHoppers
  -#    %tr
  -#      %td 22.10.2011
  -#      %td A
  -#      %td Eclipse
  -#      %td -
  -#      %td GlobalLogic
  -#    %tr
  -#      %td 22.10.2011
  -#      %td B
  -#      %td DataArt
  -#      %td -
  -#      %td NIX Solutions
  -#    %tr
  -#      %td 22.10.2011
  -#      %td B
  -#      %td AKVELON
  -#      %td -
  -#      %td Gameloft
  -#    %tr
  -#      %td 22.10.2011
  -#      %td C
  -#      %td CS-2
  -#      %td -
  -#      %td UTeam
  -#    %tr
  -#      %td 22.10.2011
  -#      %td C
  -#      %td CLOSE-KNIT TEAM
  -#      %td -
  -#      %td Random United
  -#    %tr
  -#      %td 22.10.2011
  -#      %td A
  -#      %td Ronis
  -#      %td -
  -#      %td Zfort Group
  -#%div
  -#%h2 1/4 Финала
  -#%table.fixtures{:style => "margin-right:20px;"}
  -#  %caption IT-League Cup
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th
  -#      %th Хозяева
  -#      %th         %th Гости
  -#    %tr
  -#      %td 29.10.2011
  -#      %td ITQ1
  -#      %td A-I
  -#      %td -
  -#      %td C-II
  -#    %tr
  -#      %td 29.10.2011
  -#      %td ITQ2
  -#      %td B-I
  -#      %td -
  -#      %td D-II
  -#    %tr
  -#      %td 29.10.2011
  -#      %td ITQ3
  -#      %td C-I
  -#      %td -
  -#      %td A-II
  -#    %tr
  -#      %td 29.10.2011
  -#      %td ITQ4
  -#      %td D-I
  -#      %td -
  -#      %td B-II
  -#%table.fixtures
  -#  %caption Beta Cup
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th
  -#      %th Хозяева
  -#      %th         %th Гости
  -#    %tr
  -#      %td 29.10.2011
  -#      %td BCQ1
  -#      %td A-III
  -#      %td -
  -#      %td C-IV
  -#    %tr
  -#      %td 29.10.2011
  -#      %td BCQ2
  -#      %td B-III
  -#      %td -
  -#      %td D-IV
  -#    %tr
  -#      %td 29.10.2011
  -#      %td BCQ3
  -#      %td C-III
  -#      %td -
  -#      %td A-IV
  -#    %tr
  -#      %td 29.10.2011
  -#      %td BCQ4
  -#      %td D-III
  -#      %td -
  -#      %td B-IV
  -#.clear
  -#%h2 1/2 Финала
  -#%table.fixtures{:style => "margin-right: 20px;"}
  -#  %caption IT-League Cup
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th
  -#      %th Хозяева
  -#      %th         %th Гости
  -#    %tr
  -#      %td 05.11.2011
  -#      %td ITL1
  -#      %td ITQ4W
  -#      %td -
  -#      %td ITQ3W
  -#    %tr
  -#      %td 05.11.2011
  -#      %td ITL2
  -#      %td ITQ2W
  -#      %td -
  -#      %td ITQ1W
  -#    %tr
  -#      %td 05.11.2011
  -#      %td 8th — 5th
  -#      %td ITQ4L
  -#      %td -
  -#      %td ITQ3L
  -#    %tr
  -#      %td 05.11.2011
  -#      %td 8th — 5th
  -#      %td ITQ2L
  -#      %td -
  -#      %td ITQ1L
  -#%table.fixtures
  -#  %caption Beta Cup
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th
  -#      %th Хозяева
  -#      %th         %th Гости
  -#    %tr
  -#      %td 05.11.2011
  -#      %td BCS1
  -#      %td BCQ4W
  -#      %td -
  -#      %td BCQ3W
  -#    %tr
  -#      %td 05.11.2011
  -#      %td BCS2
  -#      %td BCQ2W
  -#      %td -
  -#      %td BCQ1W
  -#    %tr
  -#      %td 05.11.2011
  -#      %td 16th — 13th
  -#      %td BCQ4L
  -#      %td -
  -#      %td BCQ3L
  -#    %tr
  -#      %td 05.11.2011
  -#      %td 16th — 13th
  -#      %td BCQ2L
  -#      %td -
  -#      %td BCQ1L
  -#.clear
  -#%h2 Финалы (день 1)
  -#%table.fixtures
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th Матч
  -#    %tr
  -#      %td 12.11.2011
  -#      %td Матч за 15е место
  -#    %tr
  -#      %td 12.11.2011
  -#      %td Матч за 13е место
  -#    %tr
  -#      %td 12.11.2011
  -#      %td Матч за 11е место
  -#    %tr
  -#      %td 12.11.2011
  -#      %td Матч за 7е место
  -#    %tr
  -#      %td 12.11.2011
  -#      %td Матч за 5е место
  -#.clear
  -#%h2 Финалы (день 2)
  -#%table.fixtures
  -#  %tbody
  -#    %tr
  -#      %th Дата
  -#      %th Матч
  -#    %tr
  -#      %td 19.11.2011
  -#      %td Финал Beta Cup
  -#    %tr
  -#      %td 12.11.2011
  -#      %td Матч за 3е место
  -#    %tr
  -#      %td 12.11.2011
  -#      %td Финал IT-League
  -#.clear