.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
  -moz-opacity: 0.6;
  opacity: .60;
  filter: alpha(opacity = 60);
}

.dialog {
    _position:relative;
    margin:0px auto;
    min-width:8em;
    max-width:522px; /* bg img width - 4xcorner_width */
    display: none;
    position: absolute;
    top: 64px;
    left: 25%;
    width: 512px;
    height: 120px;
  z-index: 1002;
  text-align: right;      
}

.dialog .content,
.dialog .t,
.dialog .b,
.dialog .b div {
    background:transparent url(/promo/img/allcorners.png) no-repeat top right;
}

.dialog .content {
    position:relative;
    zoom:1;
    padding: 6px;
    _padding: 0px;
    padding-bottom: 1.2em;
    _padding-left: -12px;
    _margin-left: -12px;
    text-align: left;
    /*border: 1px solid blue;*/
}

.dialog .t {
 /* top+left vertical slice */
    position:absolute;
    left:0px;
    top:0px;
    width:12px; /* top slice width */
    margin-left:-12px;
    height:100%;
    background-position:top left;
    /*border: 1px solid green;*/
}

.dialog .b {
 /* bottom */
    position:relative;
    width:100%;
}

.dialog .b,
.dialog .b div {
    height: 48px; /* height of bottom cap/shade */
    font-size:1px;
}

.dialog .b {
    background-position:bottom right;
}

.dialog .b div {
    /*position:relative;*/
    position: absolute; 
    left: 0;
    width:12px; /* bottom corner width */
    margin-left:-12px;
    background-position:bottom left;
}

.dialog h1,
.dialog p {
    margin:0px; /* margins will blow out backgrounds, leaving whitespace. */
    padding:0.7em 0px 0.5em 0px;
}

.dialog h1 {
    padding-bottom:0px;
    margin-left: 6px;
    font-size: 8pt;
    text-decoration: none;
    font-weight: bold;
}

.dialog button {
    margin-right: 12px;
}

.hr {
  background:url(/promo/img/dotted-line.png) repeat-x; 
  width: 484px; 
  height: 1px; 
  margin-left: 2px;
  _margin-left: -20px;
}

.promoFrame {
  /*margin-right: 24px;*/
  z-index: 100;
  /*border: 1px solid red;*/
  
}