.sidebar-block
  .sidebar-block-header
    %h4= @opts[:title]
  .bd{:style => "border-top: 1px solid #D9D9D9;padding-top: 5px;padding-bottom: 5px;text-align:center;"}
    =link_to image_tag("/advertisement/fk_zf.jpg"), "http://www.zfort.com.ua", {:style => "display: block;", :target => "_blank"}
