.sidebar-block
  .sidebar-block-header
    %h4= @opts[:title]
  .bd
    <script type="text/javascript" language="javascript" charset="utf-8" src="http://zfortfootball.com.ua/zfort-itleague-widget/getjs/widget"></script>
