.sidebar-block
  .sidebar-block-header
    %h4= @opts[:title]
  .bd{:style => "border-top: 1px solid #D9D9D9;padding-top: 5px;text-align:center;"}
    <script type="text/javascript" language="javascript" charset="utf-8" src="http://zfortfootball.com.ua/zfort-itleague-widget/getjs/widget"></script>
