.sidebar-block
  .sidebar-block-header
    %h4= @opts[:title]
  .bd
    %ul
      - @posts.each do |item|
        %li
          %p.post-title
            = link_to item.title, item.post.resource_type=='Status' ? status_path(item.post.resource.id) : post_url({:year => item.created_at.strftime('%Y'), :month => item.created_at.strftime('%m'), :day => item.created_at.strftime('%d'), :url => !item.url.nil? ? item.url : '', :host => with_subdomain(item.tournament.nil? ? "" : item.tournament.url )})
          %p.post-date= Russian::strftime(item.created_at, "%B %d, %Y")
