.sidebar-block
  .sidebar-block-header
    %h4
      =@opts[:title]
      =image_tag("buttons/next.png", :class => "next")
      =image_tag("buttons/prev.png", :class => "prev")
      -#= "<a class=\"next\"><img src=\"/images/buttons/next.png\" /></a>"
      -#= "<a class=\"prev\"><img src=\"/images/buttons/prev.png\" /></a>"
      .clear
  .sidebar-shop-content
    .sidebar-shop-content-wrap
      %ul.sidebar-shop-content-list
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/20120206122533.KIT1.981.12.200x200.jpg?a55a7eee6bf61fc84b0c359c79d28186", :url => "http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B7%D0%B0%D0%BB%D0%B0_Select_Sport_Futsal_Master", :name => "Комплект формы Academy", :price => "От 210 грн", :height =>"160", :width =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/206_large.200x200.jpg?7c616da7c9e187ec64f9379232f56e7e", :url => "http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B7%D0%B0%D0%BB%D0%B0_Select_Sport_Futsal_Master", :name => "Мяч Select Futsal Master", :price => "360 грн", :width =>"160", :height =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/20110725163523.N-10S.201.PA.300x300.jpg?78ff83fb322847e709226be76d62339c", :url => "http://shop.football.kharkov.ua/products/futbolnye_butsy_joma_numero_10", :name => "Бутсы Joma Numero 10", :price => "410 грн", :width =>"160", :height =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/417_large.200x200.jpg?b9de725ac8c99613d76216cbda7ae21f", :url => "http://shop.football.kharkov.ua/products/Mueller_%D0%91%D0%B0%D0%BD%D0%B4%D0%B0%D0%B6_%D0%BD%D0%B0_%D0%B3%D0%BE%D0%BB%D0%B5%D0%BD%D0%BE%D1%81%D1%82%D0%BE%D0%BF%D0%BD%D1%8B%D0%B9_%D1%81%D1%83%D1%81%D1%82%D0%B0%D0%B2_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D0%B0", :name => "Бандаж для голеностопа", :price => "345 грн", :height =>"160", :width =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/20110203122801.TOP.208.PS.200x200.jpg?a63dccfe519e26f0a0b31c17ee5646c6", :url => "http://shop.football.kharkov.ua/products/Joma_TOP_FLEX_93_PS", :name => "Joma Top Flex", :price =>"480 грн", :width =>"160", :height =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/418_large.200x200.jpg?f98b5eba1e765d4c94ea57cbc1dc77c8", :url => "http://shop.football.kharkov.ua/products/Mueller_%D0%A4%D0%B8%D0%BA%D1%81%D0%B0%D1%82%D0%BE%D1%80_%D0%B3%D0%BE%D0%BB%D0%B5%D0%BD%D0%BE%D1%81%D1%82%D0%BE%D0%BF%D0%BD%D0%BE%D0%B3%D0%BE_%D1%81%D1%83%D1%81%D1%82%D0%B0%D0%B2%D0%B0_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D0%B0", :name => "Фиксатор голеностопа (Mueller)", :price => "205 грн", :width =>"160", :height =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/207_large.200x200.jpg?2d97733b17196cb8579387764da7b158", :url => "http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B7%D0%B0%D0%BB%D0%B0_Select_Sport_Futsal_Mimas", :name => "Мяч Select Futsal Mimas", :price => "290 грн", :width =>"160", :height =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/419_large.200x200.jpg?7ebc954778fcde5750aa7f62c144b061", :url => "http://shop.football.kharkov.ua/products/Mueller_%D0%9D%D0%B5%D0%BE%D0%BF%D1%80%D0%B5%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9_%D1%84%D0%B8%D0%BA%D1%81%D0%B0%D1%82%D0%BE%D1%80_%D0%BA%D0%BE%D0%BB%D0%B5%D0%BD%D0%B0", :name => "Неопреновый наколенник (Mueller)", :price => "220 грн", :width =>"160", :height =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/292_large.200x200.jpg?89a954ff4ea368fdd10990f44709b8dd", :url => "http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D0%BC%D0%B8%D0%BD%D0%B8%D1%84%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D0%B0_Select_Sport_Futsal_Super", :name => "Мяч Select Futsal Super", :price => "555 грн", :width =>"160", :height =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/20110725163031.MAXS.202.PT.200x200.jpg?09479740e847e8dc33a75d6ca10569a5", :url => "http://shop.football.kharkov.ua/products/%D0%A1%D0%BE%D1%80%D0%BE%D0%BA%D0%BE%D0%BD%D0%BE%D0%B6%D0%BA%D0%B8_Joma_Sala_Max_2012", :name => "Сороконожки Joma Sala Max", :price => "495 грн", :width =>"160", :height =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/293_large.200x200.jpg?a922f356ae8fea10f914d777ec80f9ba", :url => "http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D0%B0_Select_Sport_Viking", :name => "Мяч Select Viking", :price => "385 грн", :width =>"160", :height =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/557_large.200x200.jpg?4730fb595f8a3d1a4926c6bfca2820fb", :url => "http://shop.football.kharkov.ua/products/Joma_Lozano_2012", :name => "Joma Lozano 2012", :price => "395 грн", :width =>"160", :height =>nil}
        %li
          =render :partial => 'shop_item', :locals => {:image => "http://shop.football.kharkov.ua/files/products/322_large.200x200.jpg?912659c6d652e0866ad0f1052200fcea", :url => "http://shop.football.kharkov.ua/products/Joma_%D0%A0%D1%8E%D0%BA%D0%B7%D0%B0%D0%BA_Diamond", :name => "Рюкзак Joma Diamond", :price => "270 грн", :width =>"160", :height =>nil}
:javascript
  $(function() {
    // initialize scrollable
    $(".sidebar-shop-content-wrap").scrollable({circular: true, speed:2000,  easing: "dance"}).autoscroll({interval: 7000});
  });