.sidebar-block
  .sidebar-block-header
    %h4
      = @opts[:title]
      = link_to image_tag("/images/buttons/next.png"), "#", {:class => "next"}
      = link_to image_tag("/images/buttons/prev.png"), "#", {:class => "prev"}
      .clear
  .sidebar-shop-content
    .sidebar-shop-content-wrap
      %ul
        -#%li
        -#=render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/245_0.jpg", :url => "http://shop.football.kharkov.ua/products/Nike_Mercurial_Victory_IC", :name => "Nike Mercurial Victory IC", :price => "740.00 грн"}
        -#%li
        -#=render :partial => 'shop_item.haml',:locals => {:image => "http://shop.football.kharkov.ua/files/products/252_0.jpg", :url => "http://shop.football.kharkov.ua/products/Winner_%D0%9C%D0%B0%D0%BD%D0%B8%D1%88%D0%BA%D0%B8", :name => "Манишки", :price => "30.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/206_large.jpg", :url => "http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B7%D0%B0%D0%BB%D0%B0_Select_Sport_Futsal_Master", :name => "Мяч Select Futsal Master", :price => "360.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/216_large.jpg", :url => "http://shop.football.kharkov.ua/products/Joma_TOP_FLEX_93_PS", :name => "Joma Top Flex", :price =>"460.00 грн"}
        -#%li
        -#=render :partial => 'shop_item.haml', :locals => {:image => "/images/shop/reina.jpg", :url => "http://shop.football.kharkov.ua/products/Вратарская_кофта_Joma_Reina", :name => "Вратарская кофта Joma Reina", :price => "295.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/207_large.jpg", :url => "http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B7%D0%B0%D0%BB%D0%B0_Select_Sport_Futsal_Mimas", :name => "Мяч Select Futsal Mimas", :price => "290.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/292_large.jpg", :url => "http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D0%BC%D0%B8%D0%BD%D0%B8%D1%84%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D0%B0_Select_Sport_Futsal_Super", :name => "Мяч Select Futsal Super", :price => "585.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/213_large.jpg", :url => "http://shop.football.kharkov.ua/products/Joma_TOP_FLEX_81_PT", :name => "Сороконожки Joma Top Flex", :price => "460.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/293_large.jpg", :url => "http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D0%B0_Select_Sport_Viking", :name => "Мяч Select Viking", :price => "385.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/327_large.jpg", :url => "http://shop.football.kharkov.ua/products/Joma_Toledo", :name => "Бутсы Joma Toledo", :price => "330.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/328_large.jpg", :url => "http://shop.football.kharkov.ua/products/%D0%A1%D0%BE%D1%80%D0%BE%D0%BA%D0%BE%D0%BD%D0%BE%D0%B6%D0%BA%D0%B8_Joma_Toledo", :name => "Сороконожки Joma Toledo", :price => "330.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/221_large.jpg", :url => "http://shop.football.kharkov.ua/products/Joma_Lozano", :name => "Joma Lozano", :price => "350.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/322_large.jpg", :url => "http://shop.football.kharkov.ua/products/Joma_%D0%A0%D1%8E%D0%BA%D0%B7%D0%B0%D0%BA_Diamond", :name => "Рюкзак Joma Diamond", :price => "272.00 грн"}
        %li
          =render :partial => 'shop_item.haml', :locals => {:image => "http://shop.football.kharkov.ua/files/products/329_large.jpg", :url => "http://shop.football.kharkov.ua/products/%D0%9C%D1%8F%D1%87_%D0%B4%D0%BB%D1%8F_%D1%84%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D0%B0_Select_Sport_Numero_10", :name => "Select Numero 10", :price => "370.00 грн"}

