<p>
  <b>Symbol:</b>
  <%=h @match_event_type.symbol %>
</p>

<p>
  <b>Template:</b>
  <%=h @match_event_type.template %>
</p>


<%= link_to 'Edit', edit_match_event_type_path(@match_event_type) %> |
<%= link_to 'Back', match_event_types_path %>