%h2.tournament-subtitle Турнирная таблица

%table.tournament-position
  %tr
    %th{:colspan => 9} Основная группа
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      ОВИС
    %td.games
      4
    %td
      4
    %td
      0
    %td
      0
    %td.goals
      52-10
    %td.diff
      +42
    %td.scores
      12
  %tr
    %td.place
      .position-change.up= "+1"
      2
    %td.team
      ХАК
    %td.games
      4
    %td
      3
    %td
      0
    %td
      1
    %td.goals
      30-21
    %td.diff
      +9
    %td.scores
      9
  %tr.odd
    %td.place
      .position-change.down= "-1"
      3
    %td.team
      Mitsubishi
    %td.games
      4
    %td
      3
    %td
      0
    %td
      1
    %td.goals
      29-20
    %td.diff
      +9
    %td.scores
      9
  %tr
    %td.place
      4
    %td.team
      Opel
    %td.games
      4
    %td
      1
    %td
      2
    %td
      1
    %td.goals
      21-26
    %td.diff
      \-5
    %td.scores
      5
  %tr.odd
    %td.place
      .position-change.up= "+1"
      5
    %td.team
      Volkswagen
    %td.games
      4
    %td
      1
    %td
      1
    %td
      2
    %td.goals
      22-34
    %td.diff
      \-12
    %td.scores
      4
  %tr
    %td.place
      .position-change.down= "-1"
      6
    %td.team
      Сборная FBM
    %td.games
      4
    %td
      1
    %td
      1
    %td
      2
    %td.goals
      14-32
    %td.diff
      \-18
    %td.scores
      4
  %tr
    %td.place
      7
    %td.team
      Niva Pro Z
    %td.games
      4
    %td
      0
    %td
      1
    %td
      3
    %td.goals
      10-16
    %td.diff
      \-6
    %td.scores
      1
  %tr
    %td.place
      8
    %td.team
      ЗАЗ+Москвич
    %td.games
      4
    %td
      0
    %td
      1
    %td
      3
    %td.goals
      14-33
    %td.diff
      \-19
    %td.scores
      1