%h2.tournament-subtitle Турнирная таблица

%table.tournament-position
  %tr
    %th{:colspan => 9} Основная группа
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      ОВИС
    %td.games
      3
    %td
      3
    %td
      0
    %td
      0
    %td.goals
      37-8
    %td.diff
      +29
    %td.scores
      9
  %tr
    %td.place
      2
    %td.team
      Mitsubishi
    %td.games
      3
    %td
      2
    %td
      0
    %td
      1
    %td.goals
      23-17
    %td.diff
      +6
    %td.scores
      6
  %tr.odd
    %td.place
      .position-change.up= "+2"
      3
    %td.team
      ХАК
    %td.games
      3
    %td
      2
    %td
      0
    %td
      1
    %td.goals
      20-18
    %td.diff
      +2
    %td.scores
      6
  %tr
    %td.place
      4
    %td.team
      Opel
    %td.games
      3
    %td
      1
    %td
      1
    %td
      1
    %td.goals
      15-20
    %td.diff
      \-5
    %td.scores
      4
  %tr.odd
    %td.place
      .position-change.up= "+1"
      5
    %td.team
      Сборная FBM
    %td.games
      3
    %td
      1
    %td
      1
    %td
      1
    %td.goals
      11-22
    %td.diff
      \-11
    %td.scores
      4
  %tr
    %td.place
      .position-change.up= "-3"
      6
    %td.team
      Volkswagen
    %td.games
      3
    %td
      1
    %td
      0
    %td
      2
    %td.goals
      16-28
    %td.diff
      \-12
    %td.scores
      3
  %tr
    %td.place
      7
    %td.team
      Niva Pro Z
    %td.games
      3
    %td
      0
    %td
      1
    %td
      2
    %td.goals
      7-10
    %td.diff
      \-3
    %td.scores
      1
  %tr
    %td.place
      8
    %td.team
      ЗАЗ+Москвич
    %td.games
      3
    %td
      0
    %td
      1
    %td
      2
    %td.goals
      12-18
    %td.diff
      \-6
    %td.scores
      1