%h2.tournament-subtitle Турнирные таблицы

%table.tournament-position
  %tr
    %th{:colspan => 9} Группа E
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      ОВИС
    %td.games
      1
    %td
      1
    %td
      0
    %td
      0
    %td.goals
      17-5
    %td.diff
      +12
    %td.scores
      3
  %tr
    %td.place
      2
    %td.team
      Mitsubishi
    %td.games
      1
    %td
      1
    %td
      0
    %td
      0
    %td.goals
      11-5
    %td.diff
      +6
    %td.scores
      3
  %tr.odd
    %td.place
      3
    %td.team
      Volkswagen
    %td.games
      1
    %td
      1
    %td
      0
    %td
      0
    %td.goals
      9-4
    %td.diff
      +5
    %td.scores
      3
  %tr
    %td.place
      4
    %td.team
      ХАК
    %td.games
      1
    %td
      1
    %td
      0
    %td
      0
    %td.goals
      5-3
    %td.diff
      +2
    %td.scores
      3
  %tr.odd
    %td.place
      5
    %td.team
      Niva Pro Z
    %td.games
      1
    %td
      0
    %td
      0
    %td
      1
    %td.goals
      3-5
    %td.diff
      \-2
    %td.scores
      0
  %tr
    %td.place
      6
    %td.team
      ЗАЗ+Москвич
    %td.games
      1
    %td
      0
    %td
      0
    %td
      1
    %td.goals
      4-9
    %td.diff
      \-5
    %td.scores
      0
  %tr
    %td.place
      7
    %td.team
      Opel
    %td.games
      1
    %td
      0
    %td
      0
    %td
      1
    %td.goals
      5-11
    %td.diff
      \-6
    %td.scores
      0
  %tr
    %td.place
      8
    %td.team
      Сборная FBM
    %td.games
      1
    %td
      0
    %td
      0
    %td
      1
    %td.goals
      5-17
    %td.diff
      \-12
    %td.scores
      0