%p
  %em Турнирное положение на 1 октября 2010г.
%br/
%table.tournament-position
  %tr
    %th{:colspan => 9} Группа A
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      Gameloft
    %td.games
      3
    %td
      2
    %td
      0
    %td
      1
    %td.goals
      12-9
    %td.diff
      +3
    %td.scores
      6
  %tr
    %td.place
      2
    %td.team
      GlobalLogic-2
    %td.games
      3
    %td
      2
    %td
      0
    %td
      1
    %td.goals
      10-7
    %td.diff
      +3
    %td.scores
      6
  %tr.odd
    %td.place
      3
    %td.team
      Stella Systems
    %td.games
      3
    %td
      2
    %td
      0
    %td
      1
    %td.goals
      9-8
    %td.diff
      +1
    %td.scores
      6
  %tr
    %td.place
      4
    %td.team
      Muranosoft
    %td.games
      3
    %td
      0
    %td
      0
    %td
      3
    %td.goals
      6-13
    %td.diff
      \-7
    %td.scores
      0

%table.tournament-position.even
  %tr
    %th{:colspan => 9} Группа B
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      Zfort Group
    %td.games
      3
    %td
      3
    %td
      0
    %td
      0
    %td.goals
      10-7
    %td.diff
      +3
    %td.scores
      9
  %tr
    %td.place
      2
    %td.team
      GlobalLogic
    %td.games
      3
    %td
      1
    %td
      1
    %td
      1
    %td.goals
      18-11
    %td.diff
      +7
    %td.scores
      4
  %tr.odd
    %td.place
      3
    %td.team
      AKVELON
    %td.games
      3
    %td
      1
    %td
      1
    %td
      1
    %td.goals
      13-10
    %td.diff
      +3
    %td.scores
      4
  %tr
    %td.place
      4
    %td.team
      CS
    %td.games
      3
    %td
      0
    %td
      0
    %td
      3
    %td.goals
      4-17
    %td.diff
      \-13
    %td.scores
      0
.clear      
%table.tournament-position
  %tr
    %th{:colspan => 9} Группа С
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      Ciklum
    %td.games
      3
    %td
      3
    %td
      0
    %td
      0
    %td.goals
      27-3
    %td.diff
      +24
    %td.scores
      9
  %tr
    %td.place
      2
    %td.team
      Eclipse
    %td.games
      3
    %td
      1
    %td
      1
    %td
      1
    %td.goals
      23-14
    %td.diff
      +9
    %td.scores
      4
  %tr.odd
    %td.place
      3
    %td.team
      Altron
    %td.games
      3
    %td
      1
    %td
      1
    %td
      1
    %td.goals
      16-9
    %td.diff
      +7
    %td.scores
      4
  %tr
    %td.place
      4
    %td.team
      Intetics-Navteq
    %td.games
      3
    %td
      0
    %td
      0
    %td
      3
    %td.goals
      1-41
    %td.diff
      \-40
    %td.scores
      0
%table.tournament-position.even
  %tr
    %th{:colspan => 9} Группа D
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      NIX Solutions
    %td.games
      3
    %td
      3
    %td
      0
    %td
      0
    %td.goals
      17-5
    %td.diff
      +12
    %td.scores
      9
  %tr
    %td.place
      2
    %td.team
      Gameloft-2
    %td.games
      3
    %td
      2
    %td
      0
    %td
      1
    %td.goals
      8-10
    %td.diff
      \-2
    %td.scores
      6
  %tr.odd
    %td.place
      3
    %td.team
      Echostar
    %td.games
      3
    %td
      1
    %td
      0
    %td
      2
    %td.goals
      15-6
    %td.diff
      +9
    %td.scores
      3
  %tr
    %td.place
      4
    %td.team
      Ronis
    %td.games
      3
    %td
      0
    %td
      0
    %td
      3
    %td.goals
      2-21
    %td.diff
      \-19
    %td.scores
      0
.clear
%table.tournament-position
  %tr
    %th{:colspan => 9} Группа E
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      GraceHoppers
    %td.games
      3
    %td
      3
    %td
      0
    %td
      0
    %td.goals
      24-7
    %td.diff
      +17
    %td.scores
      9
  %tr
    %td.place
      2
    %td.team
      INSART
    %td.games
      3
    %td
      2
    %td
      0
    %td
      1
    %td.goals
      15-7
    %td.diff
      +8
    %td.scores
      6
  %tr.odd
    %td.place
      3
    %td.team
      EPAM Systems
    %td.games
      3
    %td
      2
    %td
      0
    %td
      1
    %td.goals
      8-8
    %td.diff
      0
    %td.scores
      6
  %tr
    %td.place
      4
    %td.team
      Intetics
    %td.games
      3
    %td
      1
    %td
      1
    %td
      1
    %td.goals
      16-12
    %td.diff
      +4
    %td.scores
      4
  %tr.odd
    %td.place
      5
    %td.team
      EKTOS
    %td.games
      3
    %td
      0
    %td
      1
    %td
      2
    %td.goals
      10-18
    %td.diff
      \-8
    %td.scores
      1
  %tr
    %td.place
      6
    %td.team
      Echostar-2
    %td.games
      3
    %td
      0
    %td
      0
    %td
      3
    %td.goals
      2-23
    %td.diff
      \-21
    %td.scores
      0
-content_for :head_title do
  %h1.tourament-header
    = "#{tournament_title}:"
    = "Турнирные таблицы"
    .clear
