%h2.tournament-subtitle Турнирные таблицы
%p
  %em Турнирное положение на 3 октября 2010г.
%br/
%table.tournament-position
  %tr
    %th{:colspan => 9} Группа A
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      Gameloft
    %td.games
      4
    %td
      3
    %td
      0
    %td
      1
    %td.goals
      21-10
    %td.diff
      +11
    %td.scores
      9
  %tr
    %td.place
      .position-change.up= "+1"
      2
    %td.team
      Stella Systems
    %td.games
      4
    %td
      3
    %td
      0
    %td
      1
    %td.goals
      12-10
    %td.diff
      +2
    %td.scores
      9
  %tr.odd
    %td.place
      .position-change.down= "-1"
      3
    %td.team
      GlobalLogic-2
    %td.games
      4
    %td
      2
    %td
      0
    %td
      2
    %td.goals
      12-10
    %td.diff
      +2
    %td.scores
      6
  %tr
    %td.place
      4
    %td.team
      Muranosoft
    %td.games
      4
    %td
      0
    %td
      0
    %td
      4
    %td.goals
      7-22
    %td.diff
      \-15
    %td.scores
      0

%table.tournament-position.even
  %tr
    %th{:colspan => 9} Группа B
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      Zfort Group
    %td.games
      4
    %td
      3
    %td
      0
    %td
      1
    %td.goals
      13-12
    %td.diff
      +1
    %td.scores
      9
  %tr
    %td.place
      2
    %td.team
      GlobalLogic
    %td.games
      4
    %td
      2
    %td
      1
    %td
      1
    %td.goals
      25-11
    %td.diff
      +14
    %td.scores
      7
  %tr.odd
    %td.place
      3
    %td.team
      AKVELON
    %td.games
      4
    %td
      2
    %td
      1
    %td
      1
    %td.goals
      18-13
    %td.diff
      +5
    %td.scores
      7
  %tr
    %td.place
      4
    %td.team
      CS
    %td.games
      4
    %td
      0
    %td
      0
    %td
      4
    %td.goals
      4-24
    %td.diff
      \-20
    %td.scores
      0
.clear      
%table.tournament-position
  %tr
    %th{:colspan => 9} Группа С
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      Ciklum
    %td.games
      4
    %td
      4
    %td
      0
    %td
      0
    %td.goals
      29-3
    %td.diff
      +26
    %td.scores
      12
  %tr
    %td.place
      2
    %td.team
      Eclipse
    %td.games
      4
    %td
      2
    %td
      1
    %td
      1
    %td.goals
      28-15
    %td.diff
      +13
    %td.scores
      7
  %tr.odd
    %td.place
      3
    %td.team
      Altron
    %td.games
      4
    %td
      1
    %td
      1
    %td
      2
    %td.goals
      16-11
    %td.diff
      +5
    %td.scores
      4
  %tr
    %td.place
      4
    %td.team
      Intetics-Navteq
    %td.games
      4
    %td
      0
    %td
      0
    %td
      4
    %td.goals
      2-46
    %td.diff
      \-44
    %td.scores
      0
%table.tournament-position.even
  %tr
    %th{:colspan => 9} Группа D
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      NIX Solutions
    %td.games
      4
    %td
      4
    %td
      0
    %td
      0
    %td.goals
      25-7
    %td.diff
      +18
    %td.scores
      12
  %tr
    %td.place
      2
    %td.team
      Gameloft-2
    %td.games
      4
    %td
      2
    %td
      0
    %td
      2
    %td.goals
      10-18
    %td.diff
      \-8
    %td.scores
      6
  %tr.odd
    %td.place
      3
    %td.team
      Echostar
    %td.games
      4
    %td
      2
    %td
      0
    %td
      2
    %td.goals
      18-7
    %td.diff
      +11
    %td.scores
      6
  %tr
    %td.place
      4
    %td.team
      Ronis
    %td.games
      4
    %td
      0
    %td
      0
    %td
      4
    %td.goals
      3-24
    %td.diff
      \-21
    %td.scores
      0
.clear
%table.tournament-position
  %tr
    %th{:colspan => 9} Группа E
  %tr.header
    %td.place
      Место
    %td.team
      Команда
    %td.games
      Игры
    %td
      В
    %td
      Н
    %td
      П
    %td.goals
      Мячи
    %td.diff
      +/-
    %td
      Очки
  %tr.odd
    %td.place
      1
    %td.team
      GraceHoppers
    %td.games
      4
    %td
      4
    %td
      0
    %td
      0
    %td.goals
      31-10
    %td.diff
      +21
    %td.scores
      12
  %tr
    %td.place
      2
    %td.team
      INSART
    %td.games
      4
    %td
      3
    %td
      0
    %td
      1
    %td.goals
      26-10
    %td.diff
      +16
    %td.scores
      9
  %tr.odd
    %td.place
      .position-change.up= "+1"
      3
    %td.team
      Intetics
    %td.games
      4
    %td
      2
    %td
      1
    %td
      1
    %td.goals
      20-15
    %td.diff
      +5
    %td.scores
      7
  %tr
    %td.place
      .position-change.down= "-1"
      4
    %td.team
      EPAM Systems
    %td.games
      4
    %td
      2
    %td
      0
    %td
      2
    %td.goals
      11-12
    %td.diff
      \-1
    %td.scores
      6
  %tr.odd
    %td.place
      5
    %td.team
      EKTOS
    %td.games
      4
    %td
      0
    %td
      1
    %td
      3
    %td.goals
      13-25
    %td.diff
      \-12
    %td.scores
      1
  %tr
    %td.place
      6
    %td.team
      Echostar-2
    %td.games
      4
    %td
      0
    %td
      0
    %td
      4
    %td.goals
      5-34
    %td.diff
      \-29
    %td.scores
      0
