- if current_subdomain!='kolenval1'
  = render :partial => "tables/#{current_subdomain}_table"
- else
  - @leagues.each do |league|
    = render :partial => 'table', :locals => {:records => league.table_set[0].get, :league => league}