- if !['kolenval', 'itleague'].include?(current_subdomain)
  = render :partial => "tables/#{current_subdomain}_table"
- else
  - @stages.each do |stage|
    - stage.leagues.each do |league|
      -#- @leagues.each do |league|
      = render :partial => 'table', :locals => {:records => league.table_set[0].get, :league => league}