<%#= javascript_include_tag "shadowbox/adapter/shadowbox-jquery" %>
<%#= javascript_include_tag "shadowbox/shadowbox" %>
<!--<script type="text/javascript">-->
//  Shadowbox.loadSkin('classic', '../../../javascripts/shadowbox/skin');
//  Shadowbox.loadLanguage('ru', '../../../javascripts/shadowbox/lang');
//  Shadowbox.loadPlayer(['html', 'iframe', 'img'], '../../../javascripts/shadowbox/player');
//  $(document).ready(function() {
//
//      Shadowbox.init();
//  });
<!--</script>-->
<h1><%= @photo_gallery.title %></h1>
<div>
  <%if !@photo_gallery.photos.nil? %>
    <%@photo_gallery.photos.each do |image| %>
      <%= link_to image_tag('/user/' + @photo_gallery.post.author_id.to_s + '/photo_gallery/' + @photo_gallery.id.to_s + '/thumbs/thumb_' + image.filename), '/user/' + @photo_gallery.post.author_id.to_s + '/photo_gallery/' + @photo_gallery.id.to_s + '/' + image.filename, {:rel => 'shadowbox[' + @photo_gallery.title + ']', :title => image.title, :class => 'thumbs'} %>
    <%end%>
    <br class="clear" />
  <% end %>
</div>
<%= render :partial => "shared/x_comment_block", :locals => {:post=>@photo_gallery.post}%>
