= f.text_field :match_at, 'Время начала(часы:минуты)', :style => "width: 40px;"
= f.select :host_team_id, 'Хозяева', @teams.collect{ |t| [t.name, t.id] }
= f.select :guest_team_id, 'Гости', @teams.collect{ |t| [t.name, t.id] }
