= admin_title "Расписание матчей \"#{@tournament.name}\""

- form_for [:admin_tournament, Schedule.new], :builder => JQueryFormBuilder do |f|
  %label Сезон
  = f.train_select :season_id, @seasons.collect{ |t| [t.name, t.id] }, {:selected => @seasons.last.id}
  %br/
  = f.date_select :match_on, 'Дата проведения'
  - f.draw("Данные по матчу") do
    =render :partial => "match_schedule", :locals => {:f => f}
  -#, {:selected => @seasons.last.id}
  -#  - f.draw("Расписание матчей") do
  -#    - @league.team_ids.each do |id|
  -#      = f.train_select :team_ids, teams, {:selected => id, :include_blank => true}
  -#      - teams.delete_if{ |(tn, tid)| tid == id }
  -#= f.train_select :team_ids, teams, {:selected => '', :include_blank => true}
