-##slideFilter.b-slide-filter
-#  %label.lbl Показать:
-#  .l-slide-filter
-#    %b.l
-#    %b.r
-#    .slide{:style => "left: 0px; width: 41.8px; display: block;"}
-#      %b.l
-#      %b.r
-#      %b.c
-#    .mea
-#      %span Все
-#    %ul.items
-#      %li.slide-item
-#        %span Все
-#        %a.sel{:href => "javascript:;", :sort => "all"} Все
-#      %li.slide-item
-#        %span Командные
-#        %a{:href => "javascript:;", :sort => "teams"} Командные
-#      %li.slide-item
-#        %span Персональные
-#        %a{:href => "javascript:;", :sort => "personal"} Персональные