= admin_title @team.name

- form_for [:admin, @team], :builder => JQueryFormBuilder do |f|
  = f.error_messages
  - f.draw("Редактирование команды") do
    = f.text_field :name, 'Имя'
    = f.text_field :url, 'Url'
%div
  %div{:class => 'ui-widget-header ui-corner-all', :style => "width: 400px"} Игроки, играющие в команде
  %div
    - selection 'Чемпионаты', :on => @team, :collection => Tournament.all(:include => :seasons), :root => true do |tournaments|
      - selection 'Сезоны', :seasons, :on => tournaments, :click => lambda{ |s| team_footballers_season_select @team, s }
    #footballers
