= admin_title 'Участие команд в лигах'

- selection 'Сезоны: ', :seasons, :on => @tournament, :root => true do |seasons|
  - selection 'Этапы', :stages, :on => seasons do |stages|
    - selection 'Лиги: ', :leagues, :on => stages, :click => lambda{ |l| select_teams(l) }

#teams_selection
