<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />
 </head>
 <body>
   <h2> <%= @comment.user.username %> оставил(а) новый комментарий в статье: "<%= @post.title %> ":</h2>
   <p>
        Перейдите по ссылке чтобы прочитать:<br />
       <%= link_to @post.title, post_url({:year => @post.created_at.strftime('%Y'), :month => @post.created_at.strftime('%m'), :day => @post.created_at.strftime('%d'), :url => !@post.url.nil? ? @post.url : '', :anchor => "comment-#{@comment.id}"}) %><br />

     Чтобы отписаться от комментариев, уберите на странице галочку "Подписаться".
   </p>
 </body>
</html>