%h3 Судьи
%ul.nav
  %li.last= link_to '-- Все --', admin_referees_path


%h3 Команды
%ul.nav
  - Team.all.each do |team|
    %li= link_to team.name, edit_admin_team_path(team)
  %li.last= link_to '-- Все --', admin_teams_path

%h3 Футболисты
%ul.nav
  %li.last= link_to '-- Все --', admin_footballers_path
