
.Decrypted {
  border: 1px solid #91c1cd;
  background: #ecf8f6;
  padding: 10px;
}
.Decrypted .Header {
  padding: 2px 5px;
  margin: 0 0 8px 0;
  font-size: 0.9em;
  background: url(/images/encrypted_text_bg_tile.gif) repeat;
}
.Decrypted .Header .Icon {
  display: inline;
  width: 11px;
  height: 14px;
  overflow: hidden;
  background: url(/images/small_icons9.gif) no-repeat -83px -50px;
  margin: 0 5px 0 0;
}
.Decrypted>.Header>.Icon { /* hiding from IE */
  display: inline-block;
}
.Decrypted .Body {
  padding: 5px;
  background: white;
}
