<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <meta name='description' content='Душевный харьковский футбол и все что с ним связано'/>
  <title><%= @page_title ||= 'Харьков футбольный' %></title>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://football.kharkov.ua/feed" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag 'styles' %>
  <%= stylesheet_link_tag 'top_menu' %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "jrails" %>
  <%= javascript_include_tag "application" %>
   	<!--[if lt IE 7]>
	<![if gte IE 5.5]>
    <script src="/javascripts/fixpng.js" type="text/javascript"></script>

	<style type="text/css">
	.iePNG, IMG { filter:expression(fixPNG(this)); }
	.iePNG A { position: relative; }
	</style>
	<![endif]>
	<![endif]-->
  <script>
   authenticity_token = '<%= form_authenticity_token%>';
   $(document).ready(function(){

     $("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled (Adds empty span tag after ul.subnav*)

     $("ul.topnav li span").click(function() { //When trigger is clicked...

       //Following events are applied to the subnav itself (moving subnav up and down)
       $(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click

       $(this).parent().hover(function() {
       }, function(){
         $(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
       });

       //Following events are applied to the trigger (Hover events for the trigger)
       }).hover(function() {
         $(this).addClass("subhover"); //On hover over, add class "subhover"
       }, function(){	//On Hover Out
         $(this).removeClass("subhover"); //On hover out, remove class "subhover"
     });

   });
      
  </script>
</head>
<body>
  <div id="minHeight"></div><!-- Safari hack -->
  <div id="outer">
	<div id="inner">

      <!--Header-->
      <div id="header">
        <div id="header-block">
          <a href="/" title="Харьков футбольный" style="float: left;"><%= image_tag "logo.gif", :height=>"85", :alt=>"Харьков футбольный" %></a>
          <% if user_signed_in? %>
            <%= render :partial => 'shared/user_block' %>
          <%else%>
            <%= render :partial => 'shared/login' %>
          <%end%>
          <%= render :partial => 'shared/top_menu' %>
        </div>
      </div>
      <!--EOF Header-->

      <!--Container-->
      <div id="container">
        <div id="col-left">
          <% if flash[:error] -%>
                <div class="error" id="main-error-block" ><%= flash[:error] %></div>
              <% end -%>
              <% if flash[:warning] -%>
                <div class="notice" id="main-notice-block" ><%= flash[:warning] %></div>
              <% end -%>
              <% if flash[:notice] -%>
                <div class="success" id="main-success-block" ><%= flash[:notice] %></div>
          <% end -%>
          <%= yield %>
        </div>
        <div id="col-right">
          <div class="sidebar-block">
            <div class="sidebar-block-header">
              <h4>Подписка</h4>
              <%=link_to image_tag("/images/rss.gif"), {:controller => 'feed'}, {:class => "rss-icon-link"} %>
              <%=link_to image_tag("/images/twit.gif"), 'http://twitter.com/footballkharkov/', {:class => "twitter-icon-link"} %>
            </div>
            <div class="clear"></div>
            <!-- rss2email -->
            <form action="http://www.rss2email.ru/ready.asp" method="get">
            <input type="hidden" name="rss" value="http://football.kharkov.ua/feed" />
            <input type="hidden" name="link"  value="http://football.kharkov.ua" />
            <input type="hidden" name="logo" value="http://football.kharkov.ua/images/logo.gif" />
            Рассылка на E-mail
            <div class="clear"></div>
            <input type="text" class="text" style="width:150px;" size="20" name="email" value="Ваш E-mail" onfocus="if (this.value=='Ваш E-mail') this.value='';" />
            <input type="submit" class="fancy-submit" style="font-weight:bold;" value="Do it!" />
            </form>
            <!-- /rss2email -->
          </div>
          <div class="sidebar-block">
            <h4>Партнеры</h4>
            <div style="text-align: center;">
              <% if rand(2).to_i==1 %>
                <%= link_to image_tag("/images/banners/intetics_180x90.gif"), 'http://intetics.com/', {:style=>"display: block;", :target => "_blank"} %>
              <% else %>
                <%= link_to image_tag("/images/banners/itleague.png"), 'http://itleague.kharkov.ua/', {:style=>"display: block;", :target => "_blank"} %>
              <% end %>
            </div>
          </div>
          <div class="sidebar-block">
            <h4>Новенькое</h4>
            <ul>
            <%  Post.paginate(:page => 1, :per_page => 5, :order => 'created_at DESC').each do |item| %>
              <li><%=  link_to item.title, post_url({:year => item.created_at.strftime('%Y'), :month => item.created_at.strftime('%m'), :day => item.created_at.strftime('%d'), :url => !item.url.nil? ? item.url : ''}) %></li>
            <% end %>
            </ul>
          </div>
          <div class="sidebar-block">
            <h4>Комментарии</h4>
            <ul>
            <%  Comment.paginate(:page => 1, :per_page => 10, :order => 'created_at DESC', :include => {:post , :user}, :conditions => ["parent_id IS NOT NULL"]).each do |item| %>
              <li>
                <%= item.user.username %> (<%= Russian::strftime(item.created_at, "%B %d; %H:%M") %>)<br />
                <%=link_to(item.post.title, post_url({:year => item.post.created_at.strftime('%Y'), :month => item.post.created_at.strftime('%m'), :day => item.post.created_at.strftime('%d'), :url => !item.post.url.nil? ? item.post.url : '', :anchor => "comment-#{item.id}"})) %>
              </li>
            <% end %>
            </ul>
          </div>

        </div>
      </div>
      <!--EOF Container-->

    </div>
    <div id="clearfooter"></div>
  </div>

  <!--footer-->
  <div id="footer">
    &copy; Football.kharkov.ua
  </div>
  <!--end footer-->
  <script type="text/javascript">
    $(document).ready(function() {
      $("#main-error-block,#main-notice-block,#main-success-block").fadeOut("fast").fadeIn("fast").fadeOut("fast").fadeIn("fast").fadeOut(5000);
    });
  </script>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  //google analytics
  var pageTracker = _gat._getTracker("UA-2028404-8");
  pageTracker._trackPageview();
</script>
</body>
</html>